<div class="card-body overflow-auto flex-grow-1 w-100 bg-white" id="cardBody1">
    <% const safe = (k) => (rec && rec[k]) || ''; %>

    <div class="row form-group g-3 align-items-center mb-0-5">
        <div class="col-1-5 right-align">
            <label
                for="eponymia"
                class="col-form-label label-font-size field-required"
                >Επώνυμο/μία
            </label>
        </div>
        <div class="col-5">
            <input
                type="text"
                name="eponymia"
                id="eponymia"
                class="form-control input-content"
                value=""
                required
            />
        </div>

        <div class="col-1-5 right-align">
            <label
                for="firstName"
                class="col-form-label label-font-size">Όνομα
            </label>
        </div>
        <div class="col-3">
            <input
                type="text"
                name="firstName"
                id="firstName"
                class="form-control input-contents"
                value="" />
        </div>
    </div>

    <div class="row form-group g-3 align-items-center mb-0-5">
    <div class="col-1-5 right-align">
        <label
            for="fatherName"
            class="col-form-label label-font-size">
            Πατρώνυμο
        </label>
    </div>

    <div class="col-3">
        <input
            type="text"
            name="fatherName"
            id="fatherName"
            class="form-control input-contents"
            value=""
        />
    </div>

    <div class="col-2"></div>

    <div class="col-1-5 right-align">
        <label for="titlos" class="col-form-label label-font-size">
            Τίτλος
        </label>
    </div>
    <div class="col-4">
        <input
            type="text"
            name="titlos"
            id="titlos"
            class="form-control input-contents"
            value=""
        />
        </div>
    </div>

    <div class="row form-group g-3 align-items-center mb-0-5">
        <div class="col-1-5 right-align">
            <label for="activity" class="col-form-label label-font-size">
                Δραστηριότητα
            </label>
        </div>
        <div class="col-10-5">
            <input
                type="text"
                name="activity"
                id="activity"
                class="form-control input-contents"
                value=""
            />
        </div>
    </div>

    <div class="row form-group g-3 align-items-center mb-0-5">
        <div class="col-1-5 right-align">
            <label
                for="afm"
                class="col-form-label label-font-size field-required">
                    Α.Φ.Μ.
            </label>
        </div>
        <div class="col-2">
            <input
                type="text"
                name="afm"
                id="afm"
                class="form-control input-contents"
                value=""
                maxlength="9"
                pattern="[0-9]{1,}"
            />
        </div>

        <div class="col-3"></div>

        <div class="col-1-5 right-align">
            <label for="adt" class="col-form-label label-font-size">
                Α.Δ.Τ.
            </label>
        </div>
        <div class="col-2">
            <input
                type="text"
                name="adt"
                id="adt"
                class="form-control input-contents"
                value=""
            />
        </div>
    </div>

    <div class="row form-group g-3 align-items-center mb-0-5">
        <div class="col-1-5 right-align">
            <label for="odos" class="col-form-label label-font-size">
                Οδός
            </label>
        </div>
        <div class="col-5">
            <input
                type="text"
                name="odos"
                id="odos"
                class="form-control input-contents"
            />
        </div>

        <div class="col-1-5 right-align">
            <label for="arithmos" class="col-form-label label-font-size">
                Αριθμός
            </label>
        </div>
        <div class="col-2">
            <input
                type="text"
                name="arithmos"
                id="arithmos"
                class="form-control input-contents"
                value=""
            />
        </div>

        <div class="col-1 right-align">
            <label for="tk" class="col-form-label label-font-size">
                Τ.Κ.
            </label>
        </div>
        <div class="col-1">
            <input
                type="text"
                name="tk"
                id="tk"
                class="form-control input-contents"
                value=""
                maxlength="5"
                pattern="[0-9]{1,}"
            />
        </div>
    </div>

    <div class="row form-group g-3 align-items-center mb-0-5">
        <div class="col-1-5 right-align">
            <label
                for="perifereies"
                class="col-form-label label-font-size">
                    Περιφέρεια
            </label>
        </div>

        <div class="col-4">
            <select
                class="form-select selectpicker-dropdown-normal"
                data-live-search="true"
                name="perifereies"
                id="perifereies">
            </select>
        </div>

        <div class="col-1"></div>

        <div class="col-1-5 right-align">
            <label for="nomos" class="col-form-label label-font-size">
                Περιφ. Ενότητα
            </label>
        </div>
        <div class="col-4">
            <select 
                class="form-select selectpicker-dropdown-normal"
                data-live-search="true"
                name="nomos"
                id="nomos"
                style="font-size: 1vw"
                disabled>
            </select>
        </div>
    </div>

    <div class="row form-group g-3 align-items-center mb-0-5">
        <div class="col-1-5 right-align">
            <label for="dhmos" class="col-form-label label-font-size">
                Δημοτ. Ενότητα
            </label>
        </div>
        <div class="col-4">
            <select
                class="form-select selectpicker-dropdown-normal"
                data-live-search="true"
                name="dhmos"
                id="dhmos"
                style="font-size: 1vw"
                disabled>
            </select>
        </div>

        <div class="col-1"></div>

        <div class="col-1-5 right-align">
            <label for="polh" class="col-form-label label-font-size">
                Δημοτ.Διαμέρισμα
            </label>
        </div>
        <div class="col-4">
            <select
                class="form-select selectpicker-dropdown-normal"
                data-live-search="true"
                name="polh"
                id="polh"
                style="font-size: 1vw"
                disabled>
            </select>
        </div>
    </div>

    <div class="row form-group g-3 align-items-center mb-0-5">
        <div class="col-1-5 right-align">
            <label for="thlefono" class="col-form-label label-font-size">
                Τηλέφωνο
            </label>
        </div>
        <div class="col-2">
            <input
                type="text"
                name="thlefono"
                id="thlefono"
                class="form-control input-contents"
                value=""
                maxlength="10"
                pattern="[0-9]{1,}"
            />
        </div>

        <div class="col-3"></div>

        <div class="col-1-5 right-align">
            <label for="fax" class="col-form-label label-font-size">
                Fax
            </label>
        </div>
        <div class="col-2">
            <input
            type="text"
            name="fax"
            id="fax"
            class="form-control input-contents"
            value=""
            maxlength="10"
            pattern="[0-9]{1,}"
            />
        </div>
    </div>

    <div class="row form-group g-3 align-items-center mb-0-5">
        <div class="col-1-5 right-align">
            <label for="anenergh" class="col-form-label label-font-size">
                Ανενεργή
            </label>
        </div>
        <div class="col-1 left-align checkbox-flex-center">
            <input  type="checkbox" class="form-check-input custom-checkbox checkbox-class" id="anenergh" name="anenergh" value="" /> 
            <label for="anenergh" id="label-anenergh" style="margin-left: 0.75rem; font-weight: 600;">ΟΧΙ</label>
        </div>

        <div class="col-4"></div>

        <div class="col-1-5 right-align">
            <label for="email" class="col-form-label label-font-size">
                e-Mail
            </label>
        </div>
        <div class="col-4">
            <input
                type="email"
                name="email"
                id="email"
                class="form-control input-contents"
                value=""
            />
        </div>
    </div>

    <div class="row form-group g-3 align-items-center mb-0-5">
        <div class="col-1-5 right-align">
            <label
                for="nomikhmorfh"
                class="col-form-label label-font-size">
                    Νομική Μορφή
            </label>
        </div>
        <input
            type="hidden"
            name="nomikhmorfh_stathera"
            id="nomikhmorfh_stathera"
            class="form-control input-contents"
            value="<%= safe("nomikhmorfh_stathera") %>"
            readonly
        />

        <div class="col-3-75">
            <select
                id="nomikhmorfh"
                name="nomikhmorfh"
                class="tom-dropdown selectpicker-dropdown-normal left-align"
                aria-label="Νομική Μορφή"
                data-api="/api/dropdown/nomikesMorfes"
                single
                data-target-input=<%= `nomikhmorfh_stathera` %>
                data-preselect=<%= `nomikhmorfh_stathera` %>
                data-preload-all="true"
                data-pad-length="3"
                data-xrhsh-related="false"
                data-team-related="false"
                data-company-related="false"
                data-mhnas-related="false"
                placeholder="Αναζήτηση Νομικής Μορφής">
            </select>
        </div>

        <div class="col-1-25"></div>

        <div class="col-1-5 right-align">
            <label
                for="pararthmaefka"
                class="col-form-label label-font-size">
                    Παράρτημα ΕΦΚΑ
            </label>
        </div>

        <input
            type="hidden"
            name="pararthmaefka_stathera"
            id="pararthmaefka_stathera"
            class="form-control input-contents"
            value="<%= safe("pararthmaefka_stathera") %>"
            readonly
        />

        <div class="col-3-75">
            <select
                id="pararthmaefka"
                name="pararthmaefka"
                class="tom-dropdown selectpicker-dropdown-normal left-align"
                aria-label="Παράρτημα ΕΦΚΑ"
                data-api="/api/dropdown/pararthmataEfka"
                single
                data-target-input=<%= `pararthmaefka_stathera` %>
                data-preselect=<%= `pararthmaefka_stathera` %>
                data-preload-all="true"
                data-pad-length="3"
                data-xrhsh-related="false"
                data-team-related="false"
                data-company-related="false"
                data-mhnas-related="false"
                placeholder="Αναζήτηση Παραρτήματος ΕΦΚΑ">
            </select>
        </div>
    </div>

    <div class="row form-group g-3 align-items-center mb-0-5">
        <div class="col-1-5 right-align">
            <label for="doy" class="col-form-label label-font-size">Δ.Ο.Υ.</label>
        </div>

        <input
            type="hidden"
            name="doy_stathera"
            id="doy_stathera"
            class="form-control input-contents"
            value="<%= safe("doy_stathera") %>"
            readonly
        />

        <div class="col-10-25">
            <select
                id="doy"
                name="doy"
                class="tom-dropdown selectpicker-dropdown-normal left-align"
                aria-label="Δ.Ο.Υ."
                data-api="/api/dropdown/doy"
                single
                data-target-input=<%= `doy_stathera` %>
                data-preselect=<%= `doy_stathera` %>
                data-preload-all="false"
                data-pad-length="4"
                data-xrhsh-related="false"
                data-team-related="false"
                data-company-related="false"
                data-mhnas-related="false"
                placeholder="Αναζήτηση Δ.Ο.Υ.">
            </select>
        </div>
    </div>

    <% for (let index = 1; index <= 4; index++) { %>
        <div class="row form-group g-3 align-items-center mb-0-5">
            <div class="col-1-5 right-align">
                <label
                    for=<%= `select_tameio${index}` %>
                    class="col-form-label label-font-size">
                    Ταμείο #<%= index %>
                </label>
            </div>

            <input
                type="hidden"
                name="kodikos_tameioy<%= index %>"
                id="kodikos_tameioy<%= index %>"
                class="form-control input-contents"
                value="<%= safe(`kodikos_tameioy${index}`) %>"
                readonly
            />

            <div class="col-3-75">
                <select
                    id=<%= `select_tameio${index}` %>
                    name=<%= `select_tameio${index}` %>
                    class="tom-dropdown left-align"
                    aria-label="Ταμεία Ασφάλισης"
                    data-api="/api/dropdown/tameia"
                    single
                    data-target-input=<%= `kodikos_tameioy${index}` %>
                    data-preselect=<%= `kodikos_tameioy${index}` %>
                    data-preload-all="true"
                    data-pad-length="4"
                    data-xrhsh-related="false"
                    data-team-related="false"
                    data-company-related="false"
                    data-mhnas-related="false"
                    placeholder="Αναζήτηση Ταμείου Ασφάλισης">
                </select>
            </div>

            <div class="col-1-25"></div>

            <div class="col-1-5 right-align">
                <label
                    for=<%= `ame${index}` %>
                    class="col-form-label label-font-size">
                    A.Μ.Ε. #<%= index %>
                </label>
            </div>

            <div class="col-1-5 right-align">
                <input
                    type="text"
                    name="ame<%= index %>"
                    id="ame<%= index %>"
                    class="form-control input-contents"
                    value=""
                />
            </div>
        </div>
    <% } %>
</div>
