<div class="row form-group align-items-center mt-1" style="background-color: #ffffff; margin-left: -1rem; margin-right: -1rem;">
  <div class="row form-group align-items-center">
    <div class="col-3 left-align">
      <label for="symfonhtheis_misthos_genikos" class="col-form-label label-font-size">
        Καθαρός Συμφωνηθείς Μισθός
      </label>
    </div>
    <div class="col-1-5 left-align">
      <input type="number" id="symfonhtheis_misthos_genikos" name="symfonhtheis_misthos_genikos" class="form-control input-contents right-align" min="0" value="<%= parseFloat(ergazomenoiData.symfonhtheis_misthos_genikos).toFixed(2) %>" />
    </div>
    
    <div class="col-3"></div>

    <div class="col-3 left-align">
      <label for="symfonhtheis_misthos_apasxolhseis" class="col-form-label label-font-size">
        Καθαρός Συμφ/θείς Μισθός (Απασχολήσεις) 
      </label>
    </div>
    <div class="col-1-5 left-align">
      <input type="number" id="symfonhtheis_misthos_apasxolhseis" name="symfonhtheis_misthos_apasxolhseis" class="form-control input-contents right-align" min="0" value="<%= parseFloat(ergazomenoiData.symfonhtheis_misthos_apasxolhseis).toFixed(2) %>" />
    </div>
  </div>
</div>

<div class="row form-group align-items-center mt-1" style="background-color: #ffffff; margin-left: -1rem; margin-right: -1rem;">
  <div class="row form-group align-items-center">
    <div class="col-3 left-align">
      <label for="paketo_apodoxon" class="col-form-label label-font-size">
        Καθαρό Μηνιαίο Πακέτο Αποδοχών
      </label>
    </div>
    <div class="col-1-5 text-right">
      <input type="number" id="paketo_apodoxon" name="paketo_apodoxon" class="form-control input-contents right-align" min="0" value="<%= parseFloat(ergazomenoiData.paketo_apodoxon).toFixed(2) %>" />
    </div>
    
    <div class="col-3"></div>

    <div class="col-3 left-align">
      <label for="mhniaia_repo" class="col-form-label label-font-size">
        Μηνιαία Ωράρια
      </label>
    </div>
    <div class="col-1-5 left-align">
      <input type="number" id="mhniaia_repo" name="mhniaia_repo" class="form-control input-contents right-align" min="0" max="10" value="<%= parseInt(ergazomenoiData.mhniaia_repo) %>" />
    </div>
  </div>
</div>

<hr style="margin-top: 0.2rem !important; margin-bottom: -0.1rem;" />

<div class="row form-group align-items-center" style="background-color: #ffffff; margin-left: -1rem; margin-right: -1rem;">
  <div class="row form-group align-items-center">
    <div class="col-10-5 text-left">
      <label for="ypologismos_foroy"  class="col-form-label label-font-size field-required">
        Υπολογίζεται φόρος στις μηνιαίες αποδοχές
      </label>
    </div>
    <div class="col-1-5 left-align checkbox-flex-center" style="margin-top: -0.2rem !important;">
      <input type="checkbox" class="form-check-input custom-checkbox checkbox-class" id="ypologismos_foroy" name="ypologismos_foroy" <%= ergazomenoiData.ypologismos_foroy ? 'checked' : '' %> value="" />
      <label for="ypologismos_foroy" id="label-ypologismos_foroy" style="margin-left: 0.75rem; font-size: 0.875vw;">
        ΟΧΙ
      </label>
    </div>
  </div>
</div>

<div class="row form-group align-items-center" style="background-color: #ffffff; margin-left: -1rem; margin-right: -1rem;">
  <div class="row form-group align-items-center">
    <div class="col-10-5 text-left">
      <label for="oros_sth_symbash_n_3986_2011"  class="col-form-label label-font-size field-required">
        Υπάρχει όρος στη σύμβαση εργασίας, να εφαρμόζονται ως προς την αποζημίωση απόλυσης οι διατάξεις για τη σύμβαση εργασίας αορίστου χρόνου, σε περίπτωση ΠΡΟΩΡΗΣ καταγγελίας της σύμβασης. (Ν.3986/2011)
      </label>
    </div>
    <div class="col-1-5 left-align checkbox-flex-center" style="margin-top: -0.2rem !important;">
      <input type="checkbox" class="form-check-input custom-checkbox checkbox-class" id="oros_sth_symbash_n_3986_2011" name="oros_sth_symbash_n_3986_2011" <%= ergazomenoiData.oros_sth_symbash_n_3986_2011 ? 'checked' : '' %> value=""  />
      <label for="oros_sth_symbash_n_3986_2011" id="label-oros_sth_symbash_n_3986_2011" style="margin-left: 0.75rem; font-size: 0.875vw;">
        ΟΧΙ
      </label>
    </div>
  </div>
</div>

<hr style="margin-top: -0.05rem; margin-bottom: -0.1rem;" />

<div class="row form-group align-items-center mt-1" style="background-color: #ffffff; margin-left: -1rem; margin-right: -1rem;">
  <div class="row form-group align-items-center">
    <div class="col-10-5 text-left">
      <label for="kataggelia_katopin_eggrafhs_proeidopoihshs"  class="col-form-label label-font-size">
        Καταγγέλθηκε η σχέση εργασίας κατόπιν προηγούμενης έγγραφης προειδοποίησης του εργοδότη
      </label>
    </div>
    <div class="col-1-5 left-align checkbox-flex-center" style="margin-top: -0.2rem !important;">
      <input type="checkbox" class="form-check-input custom-checkbox checkbox-class" id="kataggelia_katopin_eggrafhs_proeidopoihshs" name="kataggelia_katopin_eggrafhs_proeidopoihshs" <%= ergazomenoiData.kataggelia_katopin_eggrafhs_proeidopoihshs ? 'checked' : '' %> value="" />
      <label for="kataggelia_katopin_eggrafhs_proeidopoihshs" id="label-kataggelia_katopin_eggrafhs_proeidopoihshs" style="margin-left: 0.75rem; font-size: 0.875vw;">
        ΟΧΙ
      </label>
    </div>
  </div>
</div>

<div class="row form-group align-items-center mb-1" style="background-color: #ffffff; margin-left: -1rem; margin-right: -1rem;">
  <div class="row form-group align-items-center">
    <div class="col-10-5 text-left">
      <label for="hmeromhnia_eggrafhs_proeidopoihshs" class="col-form-label label-font-size">
        Ημερομηνία επίδοσης έγγραφης προειδοποίησης στον εργαζόμενο
      </label>
    </div>
    <div class="col-1-5">
      <input type="date" class="date-control" name="hmeromhnia_eggrafhs_proeidopoihshs" id="hmeromhnia_eggrafhs_proeidopoihshs" value="<%= ergazomenoiData.hmeromhnia_eggrafhs_proeidopoihshs ? new Date(ergazomenoiData.hmeromhnia_eggrafhs_proeidopoihshs).toISOString().split('T')[0] : '' %>" disabled>
      </input>
    </div>
  </div>
</div>

<hr style="margin-top: -0.05rem; margin-bottom: -0.1rem;" />

<div class="row form-group align-items-center mt-1" style="background-color: #ffffff; margin-left: -1rem; margin-right: -1rem;">
  <div class="row form-group align-items-center">
    <div class="col-10-5 text-left">
      <label for="omadikh_apolysh"  class="col-form-label label-font-size">
        Η καταγγελία της σύμβασης εργασίας εμπίπτει στις ομαδικές απολύσεις
      </label>
    </div>
    <div class="col-1-5 left-align checkbox-flex-center" style="margin-top: -0.2rem !important;">
      <input type="checkbox" class="form-check-input custom-checkbox checkbox-class"  id="omadikh_apolysh" name="omadikh_apolysh" <%= ergazomenoiData.omadikh_apolysh ? 'checked' : '' %> value="" />
      <label for="omadikh_apolysh" id="label-omadikh_apolysh" style="margin-left: 0.75rem; font-size: 0.875vw;">
        ΟΧΙ
      </label>
    </div>
  </div>
</div>

<div class="row form-group align-items-center" style="background-color: #ffffff; margin-left: -1rem; margin-right: -1rem;">
  <div class="row form-group align-items-center">
    <div class="col-10-5 text-left">
      <label for="arithmos_apofashs_gia_omadikh_apolysh"  class="col-form-label label-font-size">
        Αριθμός Σχετικής Απόφασης
      </label>
    </div>
    <div class="col-1-5">
      <input type="text" class="form-control input-contents" name="arithmos_apofashs_gia_omadikh_apolysh" id="arithmos_apofashs_gia_omadikh_apolysh" value="<%= ergazomenoiData.arithmos_apofashs_gia_omadikh_apolysh %>" disabled>
      </input>
    </div>
  </div>
</div>

<div class="row form-group align-items-center mb-1" style="background-color: #ffffff; margin-left: -1rem; margin-right: -1rem;">
  <div class="row form-group align-items-center">
    <div class="col-10-5 text-left">
      <label for="hmeromhnia_apofashs_gia_omadikh_apolysh" class="col-form-label label-font-size">
        Ημερομηνία Σχετικής Απόφασης
      </label>
    </div>
    <div class="col-1-5">
      <input type="date" class="date-control" name="hmeromhnia_apofashs_gia_omadikh_apolysh" id="hmeromhnia_apofashs_gia_omadikh_apolysh" value="<%= ergazomenoiData.hmeromhnia_apofashs_gia_omadikh_apolysh ? new Date(ergazomenoiData.hmeromhnia_apofashs_gia_omadikh_apolysh).toISOString().split('T')[0] : '' %>" disabled>
      </input>
    </div>
  </div>
</div>

<hr style="margin-top: -0.05rem; margin-bottom: -0.1rem;" />

<div class="row form-group align-items-center mt-1" style="background-color: #ffffff; margin-left: -1rem; margin-right: -1rem;">
  <div class="row form-group align-items-center">
    <div class="col-10-5 text-left">
      <label for="epidosh_me_dikastiko_epimelhth"  class="col-form-label label-font-size">
        Επίδοση της καταγγελίας σύμβασης με Δικαστικό Επιμελητή
      </label>
    </div>
    <div class="col-1-5 left-align checkbox-flex-center" style="margin-top: -0.2rem !important;">
      <input type="checkbox" class="form-check-input custom-checkbox checkbox-class" id="epidosh_me_dikastiko_epimelhth" name="epidosh_me_dikastiko_epimelhth" <%= ergazomenoiData.epidosh_me_dikastiko_epimelhth ? 'checked' : '' %> value="" />
      <label for="epidosh_me_dikastiko_epimelhth" id="label-epidosh_me_dikastiko_epimelhth" style="margin-left: 0.75rem; font-size: 0.875vw;">
        ΟΧΙ
      </label>
    </div>
  </div>
</div>

<div class="row form-group align-items-center mb-1" style="background-color: #ffffff; margin-left: -1rem; margin-right: -1rem;">
  <div class="row form-group align-items-center">
    <div class="col-10-5 text-left">
      <label for="hmeromhnia_epidoshs" class="col-form-label label-font-size">
        Ημερομηνία Επίδοσης
      </label>
    </div>
    <div class="col-1-5">
      <input type="date" class="date-control" name="hmeromhnia_epidoshs" id="hmeromhnia_epidoshs" value="<%= ergazomenoiData.hmeromhnia_epidoshs ? new Date(ergazomenoiData.hmeromhnia_epidoshs).toISOString().split('T')[0] : '' %>" disabled>
      </input>
    </div>
  </div>
</div>

<hr style="margin-top: -0.05rem; margin-bottom: 0.3rem;" />

<div class="row form-group align-items-center mb-1" style="background-color: #ffffff; margin-left: -1rem; margin-right: -1rem;">
  <div class="row form-group align-items-center">
    <div class="col-10-5 text-left">
      <label for="hmeromhnia_katabolhs_ths_apozhmioshs" class="col-form-label label-font-size">
        Ημερομηνία Καταβολής της Αποζημίωσης
      </label>
    </div>
    <div class="col-1-5">
      <input type="date" class="date-control" name="hmeromhnia_katabolhs_ths_apozhmioshs" id="hmeromhnia_katabolhs_ths_apozhmioshs" value="<%= ergazomenoiData.hmeromhnia_epidoshs %>">
      </input>
    </div>
  </div>
</div>

<div class="row form-group align-items-center" style="background-color: #ffffff; margin-left: -1rem; margin-right: -1rem;">
  <div class="row form-group align-items-center">
    <div class="col-4 text-left">
      <label for="shmeioseis_apozhmioshs"  class="col-form-label label-font-size">
        Σημειώσεις σχετικές με τις ΔΟΣΕΙΣ καταβολής της Αποζημίωσης
      </label>
    </div>
    <div class="col-8">
      <textarea
        class="form-control textarea-content use-default-enter"
        name="shmeioseis_apozhmioshs"
        id="shmeioseis_apozhmioshs"
        cols="30"
        rows="2"
        style="height: 5vh;"><%= ergazomenoiData.shmeioseis_apozhmioshs.trim() %></textarea>
        </div>
  </div>
</div>

<div class="row form-group align-items-center mt-1" style="background-color: #ffffff; margin-left: -1rem; margin-right: -1rem;">
  <div class="row form-group align-items-center">
    <div class="col-4 text-left">
      <label for="parathrhseis"  class="col-form-label label-font-size">
        Παρατηρήσεις - Σημειώσεις
      </label>
    </div>
    <div class="col-8">
      <textarea
        class="form-control textarea-content use-default-enter"
        name="parathrhseis"
        id="parathrhseis"
        cols="30"
        rows="2"
        style="height: 5vh;"><%= ergazomenoiData.parathrhseis.trim() %></textarea>
    </div>
  </div>
</div>
