<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow ">
    <a class="navbar-brand header-app-title px-3 mt-n-1-55 center-align font-size-vw-1" href="/">
    Payroll<i class="bi bi-arrow-right-short"></i>NodeJs
    </a>

    <form class="nav col-12 col-md-auto flex-fill mb-2 justify-content-center mb-md-0">
        <div class="input-group">

            <div class="col-4-00">
                <a href="/companies/genikastoixeia/" id="selectedCompany" class="form-control form-control-dark rounded-0 border-0 header-app-style-company" data-bs-toggle="tooltip" data-bs-placement="bottom" data-tooltip-max-width="15vw" title="Αλλαγή εταιρείας">
                    <% if (typeof companyDescription !== 'undefined' && companyDescription.length > 0) { %> Εταιρεία : <%= companyDescription %> <% } %>
                </a>
            </div>

            <div class="col-1-25">
                <a href="/dates/getYearsForm" id="selectedYear" class="form-control form-control-dark rounded-0 border-0 header-app-style-other" data-bs-toggle="tooltip" data-bs-placement="bottom" data-tooltip-max-width="15vw" title="Αλλαγή έτους χρήσης">
                    <% if (typeof yearInUse !== 'undefined' && yearInUse.length > 0) { %>
                    Χρήση : <%= yearInUse %> <% } %>
                </a>
            </div>

            <div class="col-1-75">
                <a href="/dates/getPeriodsForm" id="selectedPeriod" class="form-control form-control-dark rounded-0 border-0 header-app-style-other" data-bs-toggle="tooltip" data-bs-placement="bottom" data-tooltip-max-width="15vw" title="Αλλαγή περιόδου">
                    <% if (typeof periodInUseDescr !== 'undefined' && periodInUseDescr.length > 0) { %>
                        Περίοδος : <%= periodInUseDescr %>
                    <% } %>
                </a>
            </div>

            <div class="col-2-25">
                <a href="/dates/getAppDateForm" id="selectedDate" class="form-control form-control-dark rounded-0 border-0 header-app-style-other" data-bs-toggle="tooltip" data-bs-placement="bottom" data-tooltip-max-width="15vw" title="Αλλαγή ημερομηνίας χρήσης της εφαρμογής">
                    <% if (typeof appDate !== 'undefined' && appDate.length > 0) { %>
                        Ημ/νία Χρήσης : 
                        <%= `${appDate.substring(8,10)}/${appDate.substring(5,7)}/${appDate.substring(0,4)}` %> 
                    <% } else { %>
                        Ημ/νία Χρήσης : 
                    <% } %>
                </a>
            </div>

            <div class="col-2-5">
                <a href="/login" id="selectedUser" class="form-control form-control-dark rounded-0 border-0 header-app-style-user" data-bs-toggle="tooltip" data-bs-placement="bottom" data-tooltip-max-width="15vw" title="Αλλαγή χρήστη">
                    <% if (typeof userΝame != 'undefined' && userΝame.length > 0) { %>
                        Χρήστης : <%= userΝame %> <i class="bi bi-arrow-right"></i> Group : [<%= userΤeam %>] 
                    <% } else { %>
                        Χρήστης : Group : 
                    <% } %>
                </a>
            </div>
        </div>
    </form>
</header>
