<div class="tadded-container">
    <div class="container-fluid height-vh-100 padding-0">
        <div class="menu_Links">
            <ul class="white-space-nowrap">
                <li class="active margin-left-1_5rem margin-right-0_5rem">Σταθερά Στοιχεία</li>
                <li>Αποδοχές</li>
                <li>Κρατήσεις</li>
                <li>Αλλοδαποί</li>
                <li>Επαγγ.Κατάρτιση</li>
                <li>Διάφορα</li>
                <li>Ωράριο Εργασίας</li>
                <li class="disabled align-right">Ιστορικό Προσλήψεων/Αλλαγών</li>
            </ul>
        </div>

        <hr class="margin-top--2rem margin-bottom-1rem" />

		<input type="hidden" id="calcAge" name="calcAge" value="" />
		<input type="hidden" id="calcChildren" name="calcChildren" value="" />
		<input type="hidden" id="calcXrhsh" name="calcXrhsh" value="<%= sessionYearInUse %>" />
		<input type="hidden" id="createTaxScale" name="createTaxScale" value="" />
		<input type="hidden" name="apasxolhshTisArgies" id="apasxolhshTisArgies" class="form-control input-contents" value="<%= companyData.apasxolhsh_kata_tis_argies %>" />

        <div class="sections">
            <section class="sel_1_section visible" data-section="Σταθερά Στοιχεία">
                <div>
                    <form class="formRadius">
                        <%- include('../../partials/_csrfField') %>

                        <div class="card d-flex flex-column z-depth-5 width-percent-97 margin-left-percent-1 height-vh-80 overflow-hidden">

                            <%- include('./partials/add/cardHeaders/cardHeader_Add_Section1') %>

			              	<div class="card-body overflow-auto flex-grow-1 w-100 height-vh-64 bg-white"  id="cardBody">
                				<input type="hidden" name="eidikhKathgoriaErgazomenoy" id="eidikhKathgoriaErgazomenoy" value="40" />
                				<input type="hidden" name="eponymoHidden" id="eponymoHidden" value="" />
                				<input type="hidden" name="onomaHidden" id="onomaHidden" value="" />
                				<input type="hidden" name="afmHidden" id="afm_ergazomenoyHidden" value="" />
								<input type="hidden" name="amkaHidden" id="amka_ergazomenoyHidden" value="" />
                
                				<div class="accordion" id="accordion">

									<%- include('./partials/add/cardBodies/section1/accordion/prosopikaStoixeia') %>

                  					<%- include('./partials/add/cardBodies/section1/accordion/stoixeiaProslhpshs') %>

                  					<%- include('./partials/add/cardBodies/section1/accordion/stoixeiaApasxolhshs') %>

									<%- include('./partials/add/cardBodies/section1/accordion/efka') %>

                  					<%- include('./partials/add/cardBodies/section1/accordion/dypa') %>

                  					<%- include('./partials/add/cardBodies/section1/accordion/kentraKostoys') %>

                				</div>
              				</div>

              				<%- include('./partials/add/cardFooters/cardFooter_Add') %>

            			</div>
          			</form>
        		</div>
      		</section>

			<section class="sel_2_section visible" data-section="Αποδοχές">
				<div>
					<form class="formRadius">
                        <%- include('../../partials/_csrfField') %>

                        <div class="card d-flex flex-column z-depth-5 width-percent-97 margin-left-percent-1 height-vh-80 overflow-hidden">

                            <%- include('./partials/add/cardHeaders/cardHeader_Add_Section2_8') %>

							<div class="card-body overflow-auto flex-grow-1 w-100 height-vh-64 bg-white"  id="cardBody">

								<input type="hidden" name="selectedSymbash" id="selectedSymbash" />
								<input type="hidden" name="selectedKathgoria" id="selectedKathgoria" />
								<input type="hidden" name="selectedEidikothta" id="selectedEidikothta" />

								<%- include('./partials/add/cardBodies/section2/apodoxes') %>

							</div>

							<%- include('./partials/add/cardFooters/cardFooter_Add') %>

			            </div>
          			</form>
        		</div>
      		</section>

			<section class="sel_3_section visible" data-section="Κρατήσεις">
				<div>
					<form class="formRadius">
						<%- include('../../partials/_csrfField') %>

						<div class="card d-flex flex-column z-depth-5 width-percent-97 margin-left-percent-1 height-vh-80 overflow-hidden">

							<%- include('./partials/add/cardHeaders/cardHeader_Add_Section2_8') %>

							<div class="card-body overflow-auto flex-grow-1 w-100 height-vh-64 bg-white"  id="cardBody">

								<%- include('./partials/add/cardBodies/section3/krathseis') %>

							</div>

							<%- include('./partials/add/cardFooters/cardFooter_Add') %>

						</div>
					</form>
				</div>
			</section>

			<section class="sel_4_section visible" data-section="Αλλοδαποί">
        		<div>
          			<form class="formRadius">
                        <%- include('../../partials/_csrfField') %>

                        <div class="card d-flex flex-column z-depth-5 width-percent-97 margin-left-percent-1 height-vh-80 overflow-hidden">

                            <%- include('./partials/add/cardHeaders/cardHeader_Add_Section2_8') %>

              				<div class="card-body overflow-auto flex-grow-1 w-100 height-vh-64 bg-white"  id="cardBody">
                
                				<%- include('./partials/add/cardBodies/section4/allodapoi') %>

              				</div>

              				<%- include('./partials/add/cardFooters/cardFooter_Add') %>

            			</div>
          			</form>
        		</div>
      		</section>

      		<section class="sel_5_section visible" data-section="Επαγγ.Κατάρτιση">
				<div>
          			<form class="formRadius">
                        <%- include('../../partials/_csrfField') %>

                        <div class="card d-flex flex-column z-depth-5 width-percent-97 margin-left-percent-1 height-vh-80 overflow-hidden">

                            <%- include('./partials/add/cardHeaders/cardHeader_Add_Section2_8') %>

							<div class="card-body overflow-auto flex-grow-1 w-100 height-vh-64 bg-white"  id="cardBody">

								<%- include('./partials/add/cardBodies/section5/epaggelmatikhKatartish') %>

							</div>

							<%- include('./partials/add/cardFooters/cardFooter_Add') %>

            			</div>
          			</form>
        		</div>
      		</section>

      		<section class="sel_6_section visible" data-section="Διάφορα">
        		<div>
          			<form class="formRadius">
                        <%- include('../../partials/_csrfField') %>

                        <div class="card d-flex flex-column z-depth-5 width-percent-97 margin-left-percent-1 height-vh-80 overflow-hidden">

                            <%- include('./partials/add/cardHeaders/cardHeader_Add_Section2_8') %>

							<div class="card-body overflow-auto flex-grow-1 w-100 height-vh-64 bg-white"  id="cardBody">

								<%- include('./partials/add/cardBodies/section6/diafora') %>

							</div>

							<%- include('./partials/add/cardFooters/cardFooter_Add') %>

            			</div>
          			</form>
        		</div>
      		</section>

      		<section class="sel_8_section visible" data-section="Ωράριο Εργασίας">
        		<div>
          			<form class="formRadius">
                        <%- include('../../partials/_csrfField') %>

                        <div class="card d-flex flex-column z-depth-5 width-percent-97 margin-left-percent-1 height-vh-80 overflow-hidden">

                            <%- include('./partials/add/cardHeaders/cardHeader_Add_Section2_8') %>

							<div class="row form-group align-items-center bg-3d4e001e margin-left--1rem margin-right--1rem font-size-rem-0_80 margin-bottom--0_1rem">
								<div class="col-5">
									<% if (companyData.apasxolhsh_kata_tis_argies === true || companyData.apasxolhsh_kata_tis_argies === 'true') { %>
										<label class="col-form-label font-size-rem-1_1rem font-weight-700 cgreen">
											Η εταιρεία επιτρέπεται να λειτουργεί κατά τις Κυριακές - Αργίες
										</label>
									<% } else { %>
										<label class="col-form-label font-size-rem-1rem font-weight-700 cred">
											Η εταιρεία ΔΕΝ επιτρέπεται να λειτουργεί κατά τις Κυριακές - Αργίες
										</label>
									<% } %>
								</div>

								<div class="col-2-1 text-center">
									</label>
									<label class="col-form-label field-required font-size-rem-1">
									ΩΡΕΣ ΕΡΓΑΣΙΑΣ
									</label>
								</div>
								
								<div class="col-0-7"></div>
								
								<div class="col-1-5 text-center">
									<label class="col-form-label field-required font-size-rem-1">
									ΩΡΕΣ ΔΙΑΛΕΙΜΜΑΤΟΣ
									</label>
								</div>
							</div>

							<div class="row form-group align-items-center bg-3d4e001e margin-left--1rem margin-right--1rem ">
								<div class="col-0-5 text-center">
									<label class="col-form-label field-required"></label>
								</div>

								<div class="col-1-5 text-center">
									<label class="col-form-label field-required font-size-rem-1">
									Ημερομηνία
									</label>
								</div>

								<div class="col-2-5 text-center">
									<label class="col-form-label field-required font-size-rem-1">
									Τύπος Εργασίας
									</label>
								</div>

								<div class="col-0-5"></div>

								<div class="col-1-1 text-center">
									<label class="col-form-label field-required font-size-rem-1">
									Από
									</label>
								</div>

								<div class="col-1-1-71 text-center">
									<label class="col-form-label field-required font-size-rem-1">
									Έως
									</label>
								</div>

								<div class="col-0-5"></div>

								<div class="col-1-1 text-center">
									<label class="col-form-label field-required font-size-rem-1">
									Από
									</label>
								</div>

								<div class="col-1-2 text-center">
									<label class="col-form-label field-required font-size-rem-1">
									Έως
									</label>
								</div>

								<div class="col-0-5"></div>

								<div class="col-1 text-center">
									<label class="col-form-label field-required font-size-rem-1">
									Repo
									</label>
								</div>
							</div>

              				<div class="card-body overflow-auto flex-grow-1 w-100 height-vh-64 bg-white"  id="cardBody">
                				<input type="hidden" id="dateDifference" name="dateDifference" value="">

				                <%- include('./partials/add/cardBodies/section8/orarioErgasias') %>

              				</div>
              				<%- include('./partials/add/cardFooters/cardFooter_Add_Oraria') %>

			            </div>
          			</form>
        		</div>
      		</section>

      		<section class="sel_7_section visible" data-section="Ιστορικό Προσλήψεων/Αλλαγών">
				<div>
          			<form class="formRadius">
                        <%- include('../../partials/_csrfField') %>

                        <div class="card d-flex flex-column z-depth-5 width-percent-97 margin-left-percent-1 height-vh-80 overflow-hidden">

                            <%- include('./partials/add/cardHeaders/cardHeader_Add_Section2_8') %>

              				<div class="card-body overflow-auto flex-grow-1 w-100 height-vh-64 bg-white"  id="cardBody">
              				</div>

              				<%- include('./partials/add/cardFooters/cardFooter_Add') %>

            			</div>
          			</form>
        		</div>
      		</section>

  		</div>
	</div>

<% const isProduction = NODE_ENV === 'production'; %>

<script nonce="<%= nonce %>">
    window.RUNTIME_ENV = "<%= NODE_ENV %>";
</script>

<%
	// Helper function μόνο για αυτό το template
	function moduleUrl(path) {
		const isProd = NODE_ENV === 'production';
		
		if (isProd) {
			return `https://cdn.webpayrollsolutions.com/static/min.js/${path}.js`;
		} else {
			return `/static/js/${path}.js`;
		}
	}
%>

<!-- ✅ Import Map Definition -->
<script type="importmap" nonce="<%= nonce %>">
	{
		"imports": {
			"apodoxes-calculations": "<%= moduleUrl('modules/apodoxesCalculations') %>",
	        "dependent-select-toggle": "<%= moduleUrl('common/dependentSelectToggle') %>"
		}
	}
</script>

<script src="<%= script('common/amka_validation') %>"></script>
<script src="<%= script('ergazomenoi/genika/getFieldValues') %>"></script>

<script src="<%= script('companies/genikastoixeia/dropdownsValue') %>"></script>

<script type="module" src="<%= script('common/initTomDropdown') %>"></script>

<script src="<%= script('common/kathestos_apasxolhshs_fulltime_sync') %>"></script>

<script type="module" src="<%= script('geoDropdownChain') %>"></script>
<script type="module" src="<%= script('efkaDropdownChain') %>"></script>
<script type="module" src="<%= script('symbaseisDropdownChain3') %>"></script>
<script type="module" src="<%= script('epa_step1') %>"></script>
<script type="module" src="<%= script('epa_step2') %>"></script>
<script type="module" src="<%= script('epa_step3') %>"></script>
<script type="module" src="<%= script('ergazomenoi/genika/updateLinkFromTomDropdown') %>"></script>
<script type="module" src="<%= script('ergazomenoi/genika/addStoixeiaSymbaseon') %>"></script>
<script type="module" src="<%= script('ergazomenoi/genika/reCalcApodoxes') %>"></script>
<script type="module" src="<%= script('profTrainingDropdownChain') %>"></script>

<script src="<%= script('common/toggleLabelErgazomenon') %>"></script>
<script src="<%= script('common/checkHlikia') %>"></script>
<script src="<%= script('common/totalPercentChecker') %>"></script>
<script src="<%= script('common/checkAfm') %>"></script>
<script src="<%= script('common/checkAmka') %>"></script>
<script src="<%= script('common/ibanChecker') %>"></script>
<script src="<%= script('common/formatNumbers_2dec') %>"></script>
<script src="<%= script('common/moveByEnter') %>"></script>
<script src="<%= script('common/scrollToTop') %>"></script>
<script src="<%= script('common/sectionsVisible') %>"></script>
<script src="<%= script('ergazomenoi/genika/putInputValuesToHiddenValues') %>"></script>
<script src="<%= script('ergazomenoi/genika/calcProyphresia') %>"></script>
<script src="<%= script('ergazomenoi/genika/toggleDisabledSelectViaCheckbox') %>"></script>
<script src="<%= script('ergazomenoi/genika/fillLabelFromInput') %>"></script>
<script src="<%= script('ergazomenoi/genika/calcOresApasxolhshs') %>"></script>
<script src="<%= script('ergazomenoi/genika/clearableInputs') %>"></script>
<script src="<%= script('ergazomenoi/genika/selectRepo') %>"></script>
<script src="<%= script('ergazomenoi/genika/date_sync_add') %>"></script>
<script src="<%= script('ergazomenoi/genika/checkHmeromhniaAllaghsSymbashs') %>"></script>
<script src="<%= script('ergazomenoi/genika/fillLabelFromInput') %>"></script>
<script src="<%= script('ergazomenoi/genika/getDaysFromDate') %>"></script>
<script src="<%= script('ergazomenoi/genika/checkAmaTameioy') %>"></script>
<script src="<%= script('ergazomenoi/genika/calcChildren') %>"></script>
<script src="<%= script('ergazomenoi/genika/autoLoadTaxScale') %>"></script>
<script src="<%= script('ergazomenoi/genika/autoCalculateEndDate') %>"></script>

<script nonce="<%= nonce %>" type="module">
    import { bindCheckboxControlsSelect } from 'dependent-select-toggle';

	// Νομική μορφή
    bindCheckboxControlsSelect({
        checkboxId: 'syggeneia',
        selectId  : 'syggenikh_sxesh',
        hiddenId  : 'syggenikh_sxesh_stathera'
    });

    // Ασφαλιστική κλάση
    bindCheckboxControlsSelect({
        checkboxId: 'asfalish_me_tekmarta',
        selectId  : 'asfalistikh_klash',
        hiddenId  : 'asfalistikh_klash_stathera'
    });

    // Λήψη επιδόματος ανεργίας
    bindCheckboxControlsSelect({
        checkboxId: 'epidoma_anergias',
        selectId  : 'dypa',
        hiddenId  : 'dypa_stathera'
    });

    // Τοποθέτηση με Συστατικό Σημείωμα
    bindCheckboxControlsSelect({
        checkboxId: 'systatiko_shmeioma',
        selectId  : 'programma_dypa',
        hiddenId  : 'programma_dypa_stathera',
        
		extraFieldIds: [
            'egkritikh_apofash_dypa',
            'hmeromhnia_enarxhs_programmatos',
            'hmeromhnia_lhxhs_programmatos'
        ],

		clearOnDisable: true,
    });

    // Αδεια Διαμονής με Άμεση Πρόσβαση για Εργασία
    bindCheckboxControlsSelect({
        checkboxId: 'adeia_diamonhs_me_amesh_prosbash_gia_ergasia',
        selectId  : 'eidos_adeias_diamonhs_me_amesh_prosbash_gia_ergasia',
        hiddenId  : 'eidos_adeias_diamonhs_me_amesh_prosbash_gia_ergasia_stathera',

        extraFieldIds: [
            'arithmos_adeias_diamonhs_me_amesh_prosbash_gia_ergasia',
            'hmeromhnia_lhxhs_adeias_diamonhs_me_amesh_prosbash_gia_ergasia'
        ],
	    
		clearOnDisable: true,
    });

    // Αδεια Διαμονής χωρίς Άμεση Πρόσβαση για Εργασία
    bindCheckboxControlsSelect({
        checkboxId: 'adeia_diamonhs_xwris_amesh_prosbash_gia_ergasia',
        selectId  : 'eidos_adeias_diamonhs_xwris_amesh_prosbash_gia_ergasia',
        hiddenId  : 'eidos_adeias_diamonhs_xwris_amesh_prosbash_gia_ergasia_stathera',

        extraFieldIds: [
            'arithmos_adeias_diamonhs_xwris_amesh_prosbash_gia_ergasia',
            'hmeromhnia_lhxhs_adeias_diamonhs_xwris_amesh_prosbash_gia_ergasia'
        ],
    	
		clearOnDisable: true,
    });

    // Θεματικό Πεδίο Επαγγελματικής Κατάρτισης
    bindCheckboxControlsSelect({
        checkboxId: 'epaggelmatikh_katartish',
        selectId  : 'thematiko_pedio',
        hiddenId  : 'thematiko_pedio_stathera',

        // ✅ ΝΕΟ:  Cascading selects που θα enable/disable μαζί
        cascadingSelectIds: [
            'thematikh_enothta',
            'foreas_katartishs'
        ],
        
        clearOnDisable: true,
    });

</script>

    <!-- 
    <script nonce="<%= nonce %>" src="/static/js/ergazomenoi/genika/fillHiddenBankCode.js"></script>
    <script nonce="<%= nonce %>" src="/static/js/ergazomenoi/genika/clearSelects.js"></script>
    <script nonce="<%= nonce %>" src="/static/js/ergazomenoi/genika/infinityScrollingSelectJQuery.js"></script> -->
    <!-- <script nonce="<%= nonce %>" src="/static/js/ergazomenoi/genika/clearEfkaSelects.js"></script>


<script nonce="<%= nonce %>" type="module">
	// --- ΣΤΟΧΕΥΜΕΝΟ hook για το antikatastash_ergazomenoy ---
	(function () {
		const cb  = document.getElementById('antikatastash_ergazomenoy');
		const ids = ['afm_antikatastath', 'amka_antikatastath']; // αν δεν υπάρχει το δεύτερο, απλώς αγνοείται
		if (!cb) return;

		function apply() {
			const enabled = cb.checked;
			ids.forEach(id => {
			const el = document.getElementById(id);
			if (!el) return;
			// property + attribute (για να ακυρώσουμε το disabled από το markup)
			el.disabled = !enabled;
			if (enabled) el.removeAttribute('disabled');
			else el.setAttribute('disabled', 'disabled');
			// αν το κλείνουμε, καθάρισε τιμή
			if (!enabled) {
				if (el._flatpickr) el._flatpickr.clear();
				else el.value = '';
				el.dispatchEvent(new Event('change', { bubbles: true }));
			}
			});
		}

		cb.addEventListener('change', apply);
		cb.addEventListener('input', apply); // για custom-styled checkboxes
		// αρχική κατάσταση
		apply();
	})();
</script> -->
</div>
