<div class="d-flex justify-content-between flex-wrap flex-md nowrap align-items-center pt-3 pb-2 mb-3 border-bottom" style="background-image: url('https://cdn.webpayrollsolutions.com/assets/img/wps1.png'); background-repeat: no-repeat; background-position: 0% 50%;">
  <form
    name="Companies"
    class="nav col-12 col-md-auto flex-end mb-2 ms-auto mb-md-0"
    role="search"
    method="POST"
    action="/ergazomenoi/ergazomenoi/search"
  >
    <div class="input-group">
      <span><i class="bi bi-search bi-search-swing" style="font-size: 1.3vw; font-weight: 600; color:#168a16"></i>&nbsp;</span>
      <input
        type="search"
        name="searchTerm"
        id="searchInput"
        class="form-control rounded-end-2 ms-auto"
        placeholder="Αναζήτηση... ( πατείστε Enter )"
        aria-label="Search"
      />
    </div>
  </form>
</div>
  
<div class="card d-flex flex-column z-depth-5" style="width: 94%; margin-left: 3%">
  <div class="card-header p-0" style="height: 3.5rem !important;">
    <label class="text-center w-100 headers-content mt-2">
      Διαχείριση Εργαζομένων
    </label>
  </div>

  <div>
    <table class="table table-striped table-bordered table-sm table-hover mb-0" id="myTableHeader">
      <thead style="font-size: 0.9vw;">
        <tr>
          <th scope="col" class="color-brown col-0-5">Κωδ.<i class="sort-icon bi"></i></th>
          <th scope="col" class="color-brown col-3-5">Επώνυμο<i class="sort-icon bi"></i></th>
          <th scope="col" class="color-brown col-2">Όνομα<i class="sort-icon bi"></i></th>
          <th scope="col" class="color-brown col-2">Πατρώνυμο<i class="sort-icon bi"></i></th>
          <th scope="col" class="color-brown col-1">Α.Φ.Μ.<i class="sort-icon bi"></i></th>
          <th scope="col" class="color-brown col-1">Α.M.K.A.<i class="sort-icon bi"></i></th>
          <th scope="col" class="color-brown col-1">Α.Δ.Τ.<i class="sort-icon bi"></i></th>
        </tr>
      </thead>
    </table>
  </div>

  <div class="card-body p-0 overflow-auto flex-grow-1" style="height: 58.5vh; background-color: #ffffff;">
    <div class="table-responsive">
      <table class="table table-striped table-bordered table-sm table-hover" id="myTable">
        <body>
          <% if (ergazomenoi.length !== 0) { %>
            <% ergazomenoi.forEach(element => { %>
              <tr class="input-content-regular" data-id="<%= element._id %>" data-kod="<%= element.kodikos %>">
                <td class="col-0-5"><%= element.kodikos %></td>
                <td class="col-3-5"><%= element.eponymo %></td>
                <td class="col-2"><%= element.onoma %></td>
                <td class="col-2"><%= element.patronymo %></td>
                <td class="col-1"><%= element.afm %></td>
                <td class="col-1"><%= element.amka %></td>
                <td class="col-1"><%= element.adt %></td>
              </tr>
            <% }) %>
          <% } else { %>
            <tr>
              <td colspan="7" class="records-not-found">Δεν βρέθηκαν εγγραφές.</td>
            </tr>
          <% } %>
        </body>
      </table>
    </div>
  </div>

  <div class="card-footer mt-auto">
    <div class="d-flex" style="margin: -0.5rem 0.625rem 2rem;">
  
      <!-- Κουμπιά ενεργειών -->
      <div class="d-flex" style="width: 60%; justify-content: space-around;">
        <a 
          id="add-btn"
          href="/ergazomenoi/ergazomenoi/add" 
          role="button" 
          data-bs-toggle="tooltip" title="Προσθήκη νέου εργαζόμενου" data-bs-placement="bottom" style="font-size: 0.8vw;"
          class="btn btn-brown rounded-4 mb-3 mt-2 mr-2 col-2-5 <% if (!userPrivileges.admin && !userPrivileges.create) { %>disabled-link<% } %>"
          <% if (!userPrivileges.admin && !userPrivileges.create) { %>onclick="event.preventDefault();" <% } %>>
          <i class="buttons-content bi bi-plus-circle"></i> Προσθήκη
        </a>
        
        <a 
          id="edit-btn"
          href="#" 
          role="button" style="font-size: 0.8vw;"
          data-bs-toggle="tooltip" title="Εμφάνιση - Διόρθωση των στοιχείων του επιλεγμένου εργαζόμενου" data-bs-placement="bottom" 
          class="btn btn-brown rounded-4 mb-3 mt-2 mr-2 col-2-5 <% if (!userPrivileges.admin && !userPrivileges.update) { %>disabled-link<% } %>"
          <% if (!userPrivileges.admin && !userPrivileges.update) { %>onclick="event.preventDefault();" <% } %>>
          <i class="bi bi-pencil-square"></i> Συντήρηση
        </a>
        
        <a 
          id="delete-btn"
          href="#"
          role="button"
          data-bs-toggle="tooltip" title="Διαγραφή των στοιχείων του επιλεγμένου εργαζόμενου" data-bs-placement="bottom"  style="font-size: 0.8vw;" 
          class="btn btn-brown rounded-4 mb-3 mt-2 mr-2 col-2-5 <% if (!userPrivileges.admin && !userPrivileges.delete) { %>disabled-link<% } %>"
          <% if (!userPrivileges.admin && !userPrivileges.delete) { %>onclick="event.preventDefault();" <% } %>>
          <i class="bi bi-trash"></i> Διαγραφή
        </a>
  
        <a 
          href="/mainapp"
          role="button"
          class="btn btn-brown rounded-4 mb-3 mt-2 col-2-5" style="font-size: 0.8vw;">
          <i class="bi bi-chevron-double-left"></i> Επιστροφή
        </a>
      </div>

      <div class="d-flex" style="width: 15%;"></div>

      <!-- Pagination -->
      <div class="ms-auto" style="flex-grow: 1; max-width: 25%; font_size: 0.8vw !important">
        <nav aria-label="Page navigation">
          <ul class="pagination justify-content-end">
            <% if (Number(current) > 1) { %>
              <li class="page-item">
                <a class="page-link" href="/ergazomenoi/ergazomenoi/?page=1" aria-label="First">
                  <i class="bi bi-chevron-bar-left"></i>
                </a>
              </li>
              <li class="page-item">
                <a class="page-link" href="/ergazomenoi/ergazomenoi/?page=<%= Number(current) - 1 %>" aria-label="Previous">
                  <i class="bi bi-chevron-left"></i>
                </a>
              </li>
            <% } %>
  
            <!-- Number(current) Page -->
            <li class="page-item active"><a class="page-link" href="#"><%= Number(current) %></a></li>
  
            <!-- Dynamic "next pages" and "..." logic -->
            <% if (Number(current) < pages) { %>
              <% let upTo = Math.min(Number(current) + 2, pages); %>
              <% for(let i = Number(current) + 1; i <= upTo; i++) { %>
                <li class="page-item"><a class="page-link" href="/ergazomenoi/ergazomenoi/?page=<%= i %>"><%= i %></a></li>
              <% } %>
              <% if (upTo < pages) { %>
                <li class="page-item disabled"><span class="page-link">...</span></li>
                <li class="page-item"><a class="page-link" href="/ergazomenoi/ergazomenoi/?page=<%= pages %>"><%= pages %></a></li>
              <% } %>
            <% } %>
  
            <% if (Number(current) < pages) { %>
              <li class="page-item">
                <a class="page-link" href="/ergazomenoi/ergazomenoi/?page=<%= Number(current) + 1 %>" aria-label="Next">
                  <i class="bi bi-chevron-right"></i>
                </a>
              </li>
              <li class="page-item">
                <a class="page-link" href="/ergazomenoi/ergazomenoi/?page=<%= pages %>" aria-label="Last">
                  <i class="bi bi-chevron-bar-right"></i>
                </a>
              </li>
            <% } else { %>
              <li class="page-item disabled"><span class="page-link">
                <i class="bi bi-chevron-right"></i></span></li>
              <li class="page-item disabled"><span class="page-link">
                <i class="bi bi-chevron-bar-right"></i></span></li>
            <% } %>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>

<% if (process.env.NODE_ENV === 'production') { %>
  <script src="/static/min.js/ergazomenoi/ergazomenoi/ergazomenoi_ejs.min.js"></script>
<% } else { %>
  <script src="/static/js/ergazomenoi/genika/selectRowInTable.js"></script>
  <script src="/static/js/common/sortTable.js"></script>
<% } %>
