<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8" />
            <meta http-equiv="X-UA-Compatible" content="IE-edge" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0" />
            <title><%= locals.title %></title>
            <meta name="description" content="<%= locals.description %>" />

            <script>
                (function() {
                    let ua = navigator.userAgent;
                    let htmlTag = document.documentElement;

                    if (ua.indexOf("Firefox") > -1) {
                        htmlTag.classList.add("firefox");
                    } else if (ua.indexOf("Edg") > -1) {
                        htmlTag.classList.add("edge");
                    } else if (ua.indexOf("Chrome") > -1 && ua.indexOf("Edg") === -1) {
                        htmlTag.classList.add("chrome");
                    } else if (ua.indexOf("Safari") > -1 && ua.indexOf("Chrome") === -1) {
                        htmlTag.classList.add("safari");
                    }
                })();
            </script>

            <link href="https://cdn.webpayrollsolutions.com/assets/css/bootstrap.min.css" rel="stylesheet">
            <link rel="stylesheet" href="https://cdn.webpayrollsolutions.com/assets/css/bootstrap-icons.cdn.css">
            <script src="https://cdn.webpayrollsolutions.com/assets/own/vendor/jquery.min.js"></script>
            <link rel="stylesheet" href="https://cdn.webpayrollsolutions.com/assets/own/vendor/tom-select.css" />
            <script src="https://cdn.webpayrollsolutions.com/assets/own/vendor/tom-select.complete.js"></script>
            <!-- <script src="https://cdn.webpayrollsolutions.com/assets/js/dropdown-item.min.js"></script> -->
            <!-- <script src="/static/js/dropdown-item.js"></script>
            <script src="/static/js/dropdownManager.js"></script> -->
            <script type="module" src="/static/js/app.js"></script>
            <script src="https://cdn.webpayrollsolutions.com/assets/own/vendor/select2.min.js"></script>
            <link rel="icon" href="https://cdn.webpayrollsolutions.com/assets/img/favicon.ico" type="image/x-icon" />
            <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap" rel="stylesheet">
            <!-- <link rel="stylesheet" href="https://cdn.webpayrollsolutions.com/assets/own/css/main.css" /> -->
            <link rel="stylesheet" href="/static/css/main.css" />
            <link rel="stylesheet" href="https://cdn.webpayrollsolutions.com/assets/own/css/navTabs.css" />

        </head>

        <body class="<%= typeof bodyClass !== 'undefined' ? bodyClass : '' %>">
            <div class="loader-container">
                <div class="loader"></div>
                <div class="loader-text">Παρακαλώ περιμένετε...</div>
            </div>
            
            <%- include('../partials/header.ejs') %>

            <div class="container-fluid" style="overflow-y: auto">
                <div class="row">
                    <%- include('../partials/sidebar.ejs') %>

                    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4" style="background: transparent;"><%- body %></main>

                </div>

                <%- include('../partials/footer.ejs') %>
            </div>

            <% const isProduction = NODE_ENV === 'production'; %>
            <script>
                window.RUNTIME_ENV = "<%= NODE_ENV %>";
            </script>
            
            <script src="/static/<%= NODE_ENV === 'production' ? 'min.js' : 'js' %>/utils/tree<%= NODE_ENV === 'production' ? '.min' : '' %>.js"></script>
            <script src="/static/<%= NODE_ENV === 'production' ? 'min.js' : 'js' %>/utils/scripts<%= NODE_ENV === 'production' ? '.min' : '' %>.js"></script>
            <script src="/static/<%= NODE_ENV === 'production' ? 'min.js' : 'js' %>/common/getUserRole<%= NODE_ENV === 'production' ? '.min' : '' %>.js"></script>
            <script src="/static/<%= NODE_ENV === 'production' ? 'min.js' : 'js' %>/common/getCompanyDescription<%= NODE_ENV === 'production' ? '.min' : '' %>.js"></script>
            <script src="/static/<%= NODE_ENV === 'production' ? 'min.js' : 'js' %>/common/getXrhsh<%= NODE_ENV === 'production' ? '.min' : '' %>.js"></script>
            <script src="/static/<%= NODE_ENV === 'production' ? 'min.js' : 'js' %>/common/getPeriod<%= NODE_ENV === 'production' ? '.min' : '' %>.js"></script>
            <script src="/static/<%= NODE_ENV === 'production' ? 'min.js' : 'js' %>/common/getUser<%= NODE_ENV === 'production' ? '.min' : '' %>.js"></script>
            <script src="/static/<%= NODE_ENV === 'production' ? 'min.js' : 'js' %>/common/navTabs<%= NODE_ENV === 'production' ? '.min' : '' %>.js"></script>
            <script src="/static/<%= NODE_ENV === 'production' ? 'min.js' : 'js' %>/common/tooltipsForButtons<%= NODE_ENV === 'production' ? '.min' : '' %>.js"></script>
            <!-- <script src="/static/<%= NODE_ENV === 'production' ? 'min.js' : 'js' %>/common/tooltips<%= NODE_ENV === 'production' ? '.min' : '' %>.js"></script> -->
            <script src="/static/<%= NODE_ENV === 'production' ? 'min.js' : 'js' %>/common/moveByEnter<%= NODE_ENV === 'production' ? '.min' : '' %>.js"></script>
            <script src="/static/<%= NODE_ENV === 'production' ? 'min.js' : 'js' %>/common/changeFontSizeSelectDropdownMenu<%= NODE_ENV === 'production' ? '.min' : '' %>.js"></script>
            <script src="/static/<%= NODE_ENV === 'production' ? 'min.js' : 'js' %>/common/countdown<%= NODE_ENV === 'production' ? '.min' : '' %>.js"></script>
            <script src="/static/<%= NODE_ENV === 'production' ? 'min.js' : 'js' %>/dates/convertDateToISO<%= NODE_ENV === 'production' ? '.min' : '' %>.js"></script>

            <script>
                window.addEventListener("load", function () {
                    document.querySelector(".loader-container").style.display = "none";
                });
            </script>

            <script src="https://cdn.webpayrollsolutions.com/assets/own/vendor/bootstrap.bundle.min.js"></script>
            <script src="https://cdn.webpayrollsolutions.com/assets/own/vendor/sweetalert2.min.js"></script>
            <script src="https://cdn.webpayrollsolutions.com/assets/own/vendor/math.min.js"></script>
        </body>
    </html>
