<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%= locals.title %></title>
        <meta name="description" content="<%= locals.description %>" />
        <meta name="csrf-token" content="<%= csrfToken %>">
        <meta name="app-root" content="/mainapp">
        
        <!-- Επιτρέπεται από strict CSP μέσω nonce -->
        <script nonce="<%= nonce %>">
        (function() {
            let ua = navigator.userAgent;
            let htmlTag = document.documentElement;

            if (ua.indexOf("Firefox") > -1) {
                htmlTag.classList.add("firefox");
            } else if (ua.indexOf("Edg") > -1) {
                htmlTag.classList.add("edge");
            } else if (ua.indexOf("Chrome") > -1 && ua.indexOf("Edg") === -1) {
                htmlTag.classList.add("chrome");
            } else if (ua.indexOf("Safari") > -1 && ua.indexOf("Chrome") === -1) {
                htmlTag.classList.add("safari");
            }
        })();
        </script>

        <!-- Προαιρετικά: preconnect για Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

        <link href="https://cdn.webpayrollsolutions.com/assets/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.webpayrollsolutions.com/assets/css/bootstrap-icons.cdn.css">
        <link rel="stylesheet" href="https://cdn.webpayrollsolutions.com/assets/own/vendor/tom-select.css" />
        <link rel="icon" href="https://cdn.webpayrollsolutions.com/assets/img/favicon.ico" type="image/x-icon" />
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;600;700&display=swap" rel="stylesheet">

        <!-- Το κύριο CSS -->
        <link rel="stylesheet" href="/static/css/main.css" />
        <link rel="stylesheet" href="https://cdn.webpayrollsolutions.com/assets/own/css/navTabs.css" />
    </head>

    <body
        data-mode="<%= typeof mode !== 'undefined' ? mode : '' %>"
        data-context="<%= typeof context !== 'undefined' ? context : '' %>"
        class="<%= typeof bodyClass !== 'undefined' ? bodyClass : '' %>">

        <div class="loader-container">
            <div class="loader"></div>
            <div class="loader-text">Παρακαλώ περιμένετε...</div>
        </div>

        <%- include('../partials/header.ejs') %>
        <div class="container-fluid container-scroll">
            <div class="row">
                <%- include('../partials/sidebar.ejs') %>

                <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 main-transparent"><%- body %></main>
            </div>

            <%- include('../partials/footer.ejs') %>
        </div>
            <!-- </div>
        </div> -->

        <% const isProduction = NODE_ENV === 'production'; %>
        <script nonce="<%= nonce %>">
            window.RUNTIME_ENV = "<%= NODE_ENV %>";
        </script>

        <!-- Προσθέτω nonce σε ΟΛΑ τα <script> tags (εξωτερικά & εσωτερικά) -->
        <script nonce="<%= nonce %>" src="/static/<%= NODE_ENV === 'production' ? 'min.js' : 'js' %>/common/logger<%= NODE_ENV === 'production' ? '.min' : '' %>.js"></script>

        <script nonce="<%= nonce %>" src="/static/<%= NODE_ENV === 'production' ? 'min.js' : 'js' %>/utils/tree<%= NODE_ENV === 'production' ? '.min' : '' %>.js"></script>
        <script nonce="<%= nonce %>" src="/static/<%= NODE_ENV === 'production' ? 'min.js' : 'js' %>/utils/scripts<%= NODE_ENV === 'production' ? '.min' : '' %>.js"></script>
        <script nonce="<%= nonce %>" src="/static/<%= NODE_ENV === 'production' ? 'min.js' : 'js' %>/common/getUserRole<%= NODE_ENV === 'production' ? '.min' : '' %>.js"></script>
        <script nonce="<%= nonce %>" src="/static/<%= NODE_ENV === 'production' ? 'min.js' : 'js' %>/common/getCompanyDescription<%= NODE_ENV === 'production' ? '.min' : '' %>.js"></script>
        <script nonce="<%= nonce %>" src="/static/<%= NODE_ENV === 'production' ? 'min.js' : 'js' %>/common/getXrhsh<%= NODE_ENV === 'production' ? '.min' : '' %>.js"></script>
        <script nonce="<%= nonce %>" src="/static/<%= NODE_ENV === 'production' ? 'min.js' : 'js' %>/common/getPeriod<%= NODE_ENV === 'production' ? '.min' : '' %>.js"></script>
        <script nonce="<%= nonce %>" src="/static/<%= NODE_ENV === 'production' ? 'min.js' : 'js' %>/common/getUser<%= NODE_ENV === 'production' ? '.min' : '' %>.js"></script>
        <script nonce="<%= nonce %>" src="/static/<%= NODE_ENV === 'production' ? 'min.js' : 'js' %>/common/navTabs<%= NODE_ENV === 'production' ? '.min' : '' %>.js"></script>
        <script nonce="<%= nonce %>" src="/static/<%= NODE_ENV === 'production' ? 'min.js' : 'js' %>/common/tooltipsForButtons<%= NODE_ENV === 'production' ? '.min' : '' %>.js"></script>
        <script nonce="<%= nonce %>" src="/static/<%= NODE_ENV === 'production' ? 'min.js' : 'js' %>/common/moveByEnter<%= NODE_ENV === 'production' ? '.min' : '' %>.js"></script>
        <script nonce="<%= nonce %>" src="/static/<%= NODE_ENV === 'production' ? 'min.js' : 'js' %>/common/changeFontSizeSelectDropdownMenu<%= NODE_ENV === 'production' ? '.min' : '' %>.js"></script>
        <script nonce="<%= nonce %>" src="/static/<%= NODE_ENV === 'production' ? 'min.js' : 'js' %>/common/countdown<%= NODE_ENV === 'production' ? '.min' : '' %>.js"></script>
        <script nonce="<%= nonce %>" src="/static/<%= NODE_ENV === 'production' ? 'min.js' : 'js' %>/dates/convertDateToISO<%= NODE_ENV === 'production' ? '.min' : '' %>.js"></script>

        <script nonce="<%= nonce %>">
            window.addEventListener("load", function () {
                const el = document.querySelector(".loader-container");
                if (!el) return;
                el.classList.remove("visible");
                el.classList.add("is-hidden");
                // προαιρετικά «σφυρί»:
                // el.style.setProperty('display','none','important');
            }, { once: true });
        </script>

        <!-- Εξωτερικά vendor scripts με nonce -->
        <script nonce="<%= nonce %>" src="https://cdn.webpayrollsolutions.com/assets/own/vendor/jquery.min.js"></script>
        <script nonce="<%= nonce %>" src="https://cdn.webpayrollsolutions.com/assets/own/vendor/tom-select.complete.js"></script>
        <script nonce="<%= nonce %>" type="module" src="/static/js/app.js"></script>
        <script nonce="<%= nonce %>" src="https://cdn.webpayrollsolutions.com/assets/own/vendor/select2.min.js"></script>
        <script nonce="<%= nonce %>" src="https://cdn.webpayrollsolutions.com/assets/own/vendor/bootstrap.bundle.min.js"></script>
        <script nonce="<%= nonce %>" src="https://cdn.webpayrollsolutions.com/assets/own/vendor/sweetalert2.min.js"></script>
        <script nonce="<%= nonce %>" src="https://cdn.webpayrollsolutions.com/assets/own/vendor/math.min.js"></script>
        <script nonce="<%= nonce %>" src="/static/js/common/checkScreenAnalysis.js" defer></script> 
        <script nonce="<%= nonce %>" src="/static/js/common/deviceSwitcher.js" defer></script> 
    </body>
</html>
