<div class="margin-top-1rem">
    <div class="container-fluid height-vh-100 padding-0">
        
        <% const safe = (k) => (rec && rec[k]) || ''; %>

        <div class="sections margin-top-1rem">
            <section class="sel_1_section visible" data-section="">
                <div>
                    <form class="formRadius">

                        <%- include('../../partials/_csrfField') %>

                        <div class="card d-flex flex-column z-depth-5 w-80 margin-left-percent-10 overflow-hidden">
                            <div class="card-header p-2 height-rem-3_5">
                                <label class="text-center w-100 headers-content">
                                Εισαγωγή Νέας Αντιστοίχισης Κ.Π.Κ.
                                </label>
                            </div>

                            <div class="card-body overflow-auto flex-grow-1 w-100 height-vh-42 bg-white" id="cardBody">
                                <input type="hidden" name="team" id="team" value="<%= company.team %>" />
                                <input type="hidden" name="companyId" id="companyId" value="<%= company._id %>" />
                                <input type="hidden" name="companyKod" id="companyKod" value="<%= company.kod %>" />
                                <input type="hidden" name="krathshId" id="krathshId" value="<%= krathsh._id %>" />
                                <input type="hidden" name="krathshKod" id="krathshKod" value="<%= krathsh.kodikos %>" />

                                <div class="row form-group g-3 align-items-center">
                                    <div class="col-1-5 right-align">
                                        <label class="col-form-label label-font-size">
                                            Επιλεγμένη Εταιρεία
                                        </label>
                                    </div>
                                    <div class="col-8 left-align font-size-rem-1_1 cgreen">
                                        <label>
                                            <% if (company && company.kod && company.kod.length > 0) { %>
                                                <%- company.kod + "&nbsp;&nbsp;&nbsp; " + company.eponymia + " &nbsp;&nbsp;" + company.firstname %>
                                            <% } %>
                                        </label>
                                    </div>
                                </div>  

                                <hr class="division"></hr>

                                <div class="row form-group g-3 align-items-center bg-white">
                                    <div class="col-1-5 right-align">
                                        <label class="col-form-label label-font-size cblack">
                                            Κράτηση
                                        </label>
                                    </div>

                                    <div class="col-8 left-align font-size-rem-1_1 cdarkgreen">
                                        <label class="font-weight-600">
                                            <%- krathsh.kodikos + "&nbsp; &nbsp; " + krathsh.perigrafh %>
                                        </label>
                                    </div>

                                    <div class="col-1-5 right-align">
                                        <label for="aa_eggrafhs" class="col-form-label label-font-size black"> 
                                            α/α Εγγραφής 
                                        </label>
                                    </div>
                                    <div class="col-1 font-size-rem-1_1 cdarkgreen">
                                        <label class="font-weight-600">
                                        <%= totalRecs.toString().padStart(4, '0') %>
                                        </label>
                                    </div>
                                </div>
                                <input type="hidden" name="aa_eggrafhs" id="aa_eggrafhs" value="<%= totalRecs.toString().padStart(4, '0') %>" />

                                <hr class="division"></hr>

                                <div class="row form-group g-3 align-items-center">
                                    <div class="col-2-5 left-align">
                                    <label for="kpk" class="col-form-label label-font-size field-required">
                                        Κωδικός Πακέτου Κάλυψης
                                    </label>
                                </div>
                                    <div class="col-2">
                                        <input type="text" name="kpk" id="kpk" class="form-control input-contents right-align" value="" maxlength="4" pattern="[0-9]{1,}" autocomplete="off" />
                                    </div>
                                </div>

                                </br>
                
                                <div class="row form-group g-3 align-items-center">
                                    <div class="col-2-5 left-align">
                                        <label for="apo_typos_apodoxon" class="col-form-label label-font-size field-required">
                                        Από Τύπο Αποδοχών 
                                        </label>
                                    </div>
                                    <div class="col-2">
                                        <input type="text" name="apo_typos_apodoxon" id="apo_typos_apodoxon" class="form-control input-contents right-align" value="" maxlength="3" autocomplete="off" />
                                    </div>

                                    <div class="col-3"></div>
                                    
                                    <div class="col-1-5 left-align">
                                        <label for="se_typos_apodoxon" class="col-form-label label-font-size field-required">
                                        Σε Τύπο Αποδοχών
                                        </label>
                                    </div>
                                    <div class="col-2">
                                        <input type="text" name="se_typos_apodoxon" id="se_typos_apodoxon" class="form-control input-contents right-align" value="" maxlength="3" autocomplete="off" />
                                    </div>
                                </div>

                                </br>
                
                                <div class="row form-group g-3 align-items-center">
                                    <div class="col-2-5 left-align">
                                        <label for="kad" class="col-form-label label-font-size field-required">
                                        Κ.Α.Δ.
                                        </label>
                                    </div>
                                    <div class="col-2">
                                        <input type="text" name="kad" id="kad" class="form-control input-contents right-align" value="" maxlength="4" autocomplete="off" />
                                    </div>

                                    <div class="col-3"></div>
                                    
                                    <div class="col-1-5 left-align">
                                        <label for="eidikothta" class="col-form-label label-font-size field-required">
                                        Ειδικότητα
                                        </label>
                                    </div>
                                    <div class="col-2">
                                        <input type="text" name="eidikothta" id="eidikothta" class="form-control input-contents right-align" value="" maxlength="6" autocomplete="off" />
                                    </div>
                                </div>

                                </br>
                            
                                <div class="row form-group g-3 align-items-center">
                                    <div class="col-2-5 left-align">
                                        <label for="epa" class="col-form-label label-font-size field-required">
                                        Ειδική Περίπτωση Ασφάλισης 
                                        </label>
                                    </div>
                                    <div class="col-2">
                                        <input type="text" name="epa" id="epa" class="form-control input-contents right-align" value="" maxlength="2" autocomplete="off" />
                                    </div>
                                </div>
                            </div>

                            <div class="card-footer mt-auto cardFooter">
                                <div class="d-inline-block d-flex cardFooter01">
                                    <button
                                        type="button"
                                        class="btn btn-brown rounded-4 mt-2 w-20 buttons-content submitButton">
                                        <i class="bi bi-floppy"></i> Αποθήκευση
                                    </button>
                            
                                    <a
                                        class="btn btn-brown buttons-content rounded-4 mt-2 w-20"
                                        href="/companies/antistoixiseis"
                                        ><i class="bi bi-chevron-double-left"></i> Επιστροφή
                                    </a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </div>
</div>

<% const isProduction = NODE_ENV === 'production'; %>

<script nonce="<%= nonce %>">
    window.RUNTIME_ENV = "<%= NODE_ENV %>";
</script>

<script src="<%= script('common/blockInvalidClick') %>"></script>
<script src="<%= script('companies/antistoixiseis/getFieldValues') %>"></script>
<script src="<%= script('companies/antistoixiseis/fillValuesWithZeroes') %>"></script>
<script src="<%= script('common/sectionsVisible') %>"></script>
<script src="<%= script('common/moveByEnter') %>"></script>
<script src="<%= script('common/clearableInputs') %>"></script>
