<div class="card-header" style="height: 10.8vh !important;">
  <label class="text-center headers-content">
    Συντήρηση Στοιχείων Εργαζόμενου  ( Κωδ. <%= ergazomenoiData.kodikos %> )
  </label>
  <div class="row form-group g-3 align-items-center mt-1 mb-1" style="background-color: #ffffff; margin-left: -1rem; margin-right: -1rem;">
    <div class="col-1 right-align">
      <label class="col-form-label label-font-size field-required" style="color: #000000;">
        Επώνυμο
      </label>
    </div>
    <div class="col-3">
      <label class="label-control left-align headers-input-content" id="eponymoLabel_Apodoxes" style="color: #000000; font-weight: 600;"><%= ergazomenoiData.eponymo %></label>
    </div>

    <div class="col-0-75 right-align">
      <label for="onoma" class="col-form-label label-font-size field-required" style="color: #000000;">
        Όνομα
      </label>
    </div>
    <div class="col-2">
      <label class="label-control left-align headers-input-content" id="onomaLabel_Apodoxes" style="color: #000000; font-weight: 600;"><%= ergazomenoiData.onoma %></label>
    </div>

    <div class="col-1 right-align">
      <label for="afm" class="col-form-label label-font-size field-required" style="color: #000000;">
        ΑΦΜ
      </label>
    </div>
    <div class="col-1-5">
      <label class="label-control left-align headers-input-content" id="afmLabel_Apodoxes" style="color: #000000; font-weight: 600;"><%= ergazomenoiData.afm %></label>
    </div>

    <div class="col-1 right-align">
      <label for="amka" class="col-form-label label-font-size field-required" style="color: #000000;">
        ΑΜΚΑ
      </label>
    </div>
    <div class="col-1-5">
      <label class="label-control left-align headers-input-content" id="amkaLabel_Apodoxes" style="color: #000000; font-weight: 600;"><%= ergazomenoiData.amka %></label>
    </div>
  </div>
</div>
