<div class="row form-group g-3 align-items-center margin-bottom--0_5rem">
    <div class="card-header">
        <label class="text-center headers-content sectionTitle"></label>
    </div>

    <div class="row form-group g-0 header-row">
        <div class="col-1 left-align-header">
            <label class="col-form-label label-font-size-1 field-required cblack">
                Κωδ. <%= ergazomenoiData.kodikos %> 
            </label>
		</div>

		<div class="col-0-75 right-align-header">
			<label for="eponymo" class="col-form-label label-font-size field-required cblack">
				Επώνυμο &nbsp;
			</label>
		</div>

        <div class="col-3">
            <input type="text" name="eponymo" id="eponymo" class="form-control input-contents display-value" value="<%= ergazomenoiData.eponymo %>" autocomplete="off" />
        </div>

        <div class="col-0-75 right-align-header">
            <label for="onoma" class="col-form-label label-font-size field-required cblack">
            Όνομα &nbsp;
            </label>
        </div>
        <div class="col-2">
            <input type="text" name="onoma" id="onoma" class="form-control input-contents display-value" value="<%= ergazomenoiData.onoma %>" autocomplete="off" />
        </div>

        <div class="col-0-75 right-align-header">
            <label for="afm" class="col-form-label label-font-size field-required cblack">
            ΑΦΜ &nbsp;
            </label>
        </div>
        <div class="col-1-2">
            <input type="text" name="afm" id="afm_ergazomenoy" class="form-control input-contents display-value" autocomplete="off" value="<%= ergazomenoiData.afm %>" readonly />
        </div>

        <div class="col-0-73 right-align-header">
            <label for="amka" class="col-form-label label-font-size field-required cblack right-align">
            ΑΜΚΑ &nbsp;
            </label>
        </div>
        <div class="col-1-76">
            <input type="text" name="amka" id="amka_ergazomenoy" class="form-control input-contents amka-input display-value" autocomplete="off" value="<%= ergazomenoiData.amka %>" readonly />
        </div>

        <div class="col"></div>
    </div>
    
    <div>
        <hr class="hr-style-header"></hr>
    </div>
</div>
