<div class="card-body overflow-auto flex-grow-1 w-100 bg-white" id="cardBody6">
    <div class="row form-group g-3 align-items-center mb-0-5">
        <div class="col-4 right-align">
            <label for="oikodomika" class="col-form-label label-font-size">Η εταιρεία εκτελεί οικοδομικά έργα</label>
        </div>
        <div class="col-1 left-align checkbox-flex-center">
            <input type="checkbox" class="form-check-input custom-checkbox checkbox-class" id="oikodomika" name="oikodomika" <%= company.oikodomika ? 'checked' : '' %> value="" /> 
            <label for="oikodomika" id="label-oikodomika" class="input-content margin-left-0_75rem fw600">ΟΧΙ</label>
        </div>
    </div>

    <div class="row form-group g-3 align-items-center mb-0-5">
        <div class="col-4 right-align">
            <label for="doropasxa_apd" class="col-form-label label-font-size">Το Δώρο Πάσχα θα εμφανίζεται στην τρέχουσα ΑΠΔ</label>
        </div>
        <div class="col-1 left-align checkbox-flex-center">
            <input type="checkbox" class="form-check-input custom-checkbox checkbox-class" id="doropasxa_apd" name="doropasxa_apd" <%= company.doropasxa_apd ? 'checked' : '' %> value="" /> 
            <label for="doropasxa_apd" id="label-doropasxa_apd" class="input-content margin-left-0_75rem fw600">ΟΧΙ</label>
        </div>
    </div>

    <div class="row form-group g-3 align-items-center mb-0-5">
        <div class="col-4 right-align">
            <label for="doroxrist_apd" class="col-form-label label-font-size">Το Δώρο Χριστουγέννων θα εμφανίζεται στην τρέχουσα ΑΠΔ</label>
        </div>
        <div class="col-1 left-align checkbox-flex-center">
            <input type="checkbox" class="form-check-input custom-checkbox checkbox-class" id="doroxrist_apd" name="doroxrist_apd" <%= company.doroxrist_apd ? 'checked' : '' %> value="" /> 
            <label for="doroxrist_apd" id="label-doroxrist_apd" class="input-content margin-left-0_75rem fw600">ΟΧΙ</label>
        </div>
    </div>

    <div class="row form-group g-3 align-items-center mb-0-5">
        <div class="col-4 right-align">
            <label for="ypologismos_epi_pragmatikoy_oromisthioy" class="col-form-label label-font-size">Υπολογισμός προσαυξήσεων ΜΟΝΟ επί πραγματικού ωρομισθίου</label>
        </div>
        <div class="col-1 left-align checkbox-flex-center">
            <input type="checkbox" class="form-check-input custom-checkbox checkbox-class" id="ypologismos_epi_pragmatikoy_oromisthioy" name="ypologismos_epi_pragmatikoy_oromisthioy" <%= company.ypologismos_epi_pragmatikoy_oromisthioy ? 'checked' : '' %> value="" /> 
            <label for="ypologismos_epi_pragmatikoy_oromisthioy" id="label-ypologismos_epi_pragmatikoy_oromisthioy" class="input-content margin-left-0_75rem fw600">ΟΧΙ</label>
        </div>
    </div>

    <div class="row form-group g-3 align-items-center mb-0-5">
        <div class="col-4 right-align">
            <label for="apasxolhsh_kata_tis_argies" class="col-form-label label-font-size">Επιτρέπεται η λειτουργία της εταιρείας κατά τις Κυριακές - Αργίες</label>
        </div>
        <div class="col-1 left-align checkbox-flex-center">
            <input type="checkbox" class="form-check-input custom-checkbox checkbox-class" id="apasxolhsh_kata_tis_argies" name="apasxolhsh_kata_tis_argies" <%= company.apasxolhsh_kata_tis_argies ? 'checked' : '' %> value="" /> 
            <label for="apasxolhsh_kata_tis_argies" id="label-apasxolhsh_kata_tis_argies" class="input-content margin-left-0_75rem fw600">ΟΧΙ</label>
        </div>
    </div>

    <div class="row form-group g-3 align-items-center mb-0-5">
        <div class="col-4 right-align">
            <label for="keimeno_exoflhshs" class="col-form-label label-font-size">Κείμενο Εξοφλητικής Απόδειξης</label>
        </div>
        <div class="col-8">
            <textarea class="form-control textarea-content height-vh-12" name="keimeno_exoflhshs" id="keimeno_exoflhshs" cols="30" rows="4"><%= (company.keimeno_exoflhshs || '').trim() %></textarea>
        </div>
    </div>

    <div class="row form-group g-3 align-items-center mb-1">
        <div class="col-4 right-align">
            <label for="selectedUsers" class="col-form-label label-font-size">Επιλογή Χρηστών που έχουν πρόσβαση στην εταιρεία</label>
        </div>
        <div class="col-4">
            <select
                class="form-select selectpicker-dropdown-normal height-rem-8"
                data-live-search="true"
                name="selectedUsers"
                id="selectedUsers"
                multiple>
            </select>
        </div>
        
        <div class="col-2">
            <label class="col-form-label font-size-vw-0_65">Επιλογή πολλών χρηστών με Ctrl + click</label>
        </div>

        <div class="col-2">
            <button type="button" id="select-all" class="btn btn-brown rounded-4 mt-2 w-100"><i class="bi bi-check2-all"></i> Επιλογή Όλων</button>
        </div>
    </div>

    <div class="row form-group g-3 align-items-center mb-2">
        <div class="col-4 right-align">
            <label class="col-form-label label-font-size">Επιλογή σφραγίδας-υπογραφής εταιρείας-εκπροσώπου</label>
        </div>

        <div class="col-6 left-align">
            <button 
                type="button" 
                id="customButton" 
                class="btn btn-brown rounded-4 buttons-content w-40"
                title="Πριν επιλέξετε την εικόνα βεβαιωθείτε ότι την έχετε προηγουμένως αποθηκεύσει σαν sfragida.png στον φάκελο C:\stamps και μετά αναζητήστε την στον προαναφερόμενο φάκελο και επιλέξτε την..."
                data-bs-toggle="tooltip"
                data-bs-placement="bottom"
                data-bs-container="body"
                data-tooltip-max-width="15vw">
                <i class="bi bi-cloud-arrow-up"></i> 
                Επιλέξτε Αρχείο
            </button>
            <!-- Πραγματικό input πεδίο, κρυμμένο -->
            <input type="file" id="sfragida" name="sfragida" accept="image/*" class="display-none">
            <% if (company.sfragida) { %>
                <img id="preview-image" src="<%= company.sfragida %>">
            <% } else { %>
                <img id="preview-image" class="preview-image-style">
            <% } %>
        </div>
        <div class="col-2">
            <button type="button" id="clear-image" class="btn btn-brown rounded-4 w-100"><i class="bi bi-eraser"></i> Καθαρισμός</button>
        </div>
    </div>
</div>

