<% const isProduction = NODE_ENV === 'production'; %>

<body class="<%= bodyClass || 'home-bg-cdn' %>">

<div class="container-fluid main-transparent"></div>

<script nonce="<%= nonce %>">
    window.RUNTIME_ENV = "<%= NODE_ENV %>";
    window.WPS_USER_ID = "<%= JSON.stringify(userId || '') %>";
</script>

<!-- <script src="<%= script('common/getCompanyDescription') %>"></script>
<script src="<%= script('common/getXrhsh') %>"></script>
<script src="<%= script('common/getPeriod') %>"></script>
<script src="<%= script('common/getAppDate') %>"></script>
<script src="<%= script('common/getUser') %>"></script> -->
