<% const isProduction = NODE_ENV === 'production'; %>

<body class="<%= bodyClass || 'home-bg-cdn' %>">

<div class="container-fluid main-transparent"></div>

<script nonce="<%= nonce %>">
    window.RUNTIME_ENV = "<%= NODE_ENV %>";
    window.WPS_USER_ID = "<%= JSON.stringify(userId || '') %>";
</script>

<script nonce="<%= nonce %>" src="<%= script('common/getAppDate') %>"></script>

<!-- <script nonce="<%= nonce %>" src="/static/<%= NODE_ENV === 'production' ? 'min.js' : 'js' %>/common/getAppDate<%= NODE_ENV === 'production' ? '.min' : '' %>.js"></script> -->
<!-- <script nonce="<%= nonce %>" src="/static/js/common/deviceSwitcher.js"></script>  -->
