<div
    class="d-flex justify-content-between flex-wrap flex-md nowrap align-items-center pt-3-0 pb-2-0 mb-3 mt-2-5 border-bottom">
    <h1 class="h3">Αποτελέσματα Αναζήτησης</h1>
    <div class="btn-toolbar mb-2 mb-md 0">
        <div class="btn-group me-2">
            <a href="/admin" class="btn btn-sm btn-outline-secondary"><i class="bi bi-table"></i> Εμφάνιση όλων</a>
        </div>
    </div>
</div>

<div class="card z-depth-5">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <% if (user != "") { %>
                    <thead class="fs18px">
                        <tr>
                            <th scope="col">Κωδ.</th>
                            <th scope="col">Επώνυμο</th>
                            <th scope="col">Όνομα</th>
                            <th scope="col">@Email</th>
                            <th scope="col">Τηλέφωνο</th>
                            <th scope="col">Ομάδα Εργασίας</th>
                            <th scope="col">Ρόλος</th>
                            <th scope="col">Ενεργός</th>
                            <th scope="col" class="text-end">Ενέργειες</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% user.forEach(element => { %>
                            <tr class="align-middle">
                                <td><%= element.kod %></td>
                                <td><%= element.lastName %></td>
                                <td><%= element.firstName %></td>
                                <td><%= element.email %></td>
                                <td><%= element.tel %></td>
                                <td><%= element.team %></td>
                                <td><%= getUserRoleLabel(element.privileges) %></td>
                                <td>
                                    <% if (element.situation == 'A') { %>
                                        <input
                                            class="form-check-input custom-checkbox checkbox-class" 
                                            type="checkbox"
                                            value=""
                                            id="flexCheckCheckedDisabled"
                                            checked
                                            disabled
                                        />
                                    <% } else { %>
                                        <input
                                            class="form-check-input custom-checkbox checkbox-class" 
                                            type="checkbox"
                                            value=""
                                            id="flexCheckCheckedDisabled"
                                            disabled
                                        />
                                    <% } %>
                                </td>
                                <td class="text-end">
                                    <div class="d-flex flex-row justify-content-end gap-2">
                                        <a href="/admin/view/<%= element._id %>" role="button" class="btn btn-secondary btn-small" data-bs-title="Προβολή"><i class="bi bi-eye"></i>
                                        </a>

                                        <a href="/admin/edit/<%= element._id %>" type="button" class="btn btn-secondary btn-small" data-bs-title="Διόρθωση"><i class="bi bi-pencil"></i>
                                        </a>

                                        <form
                                            action="/edit/<%= element._id %>?_method=DELETE"
                                            method="POST"
                                            class="position-relative">

                                            <%- include('./partials/_csrfField') %>

                                            <button
                                                type="submit"
                                                class="btn btn-secondary btn-small"
                                                data-bs-title="Διαγραφή">
                                                <i class="bi bi-person-x"></i>
                                            </button>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                        <% }) %>
                    </tbody>
                    
                <% } else { %>
                    <h5>Δεν βρέθηκαν εγγραφές.</h5>
                <% } %>
            </table>
        </div>
    </div>

    <div class="card-footer">
        <div class="d-inline-block d-flex js-sb">
            <a href="/admin/add" class="btn btn-outline-secondary mb-1 mt-2 w-15"><i class="bi bi-person-plus"></i> Νέος Χρήστης</a>
            <a class="btn btn-outline-secondary mb-1 mt-2 w-15" href="/admin"><i class="bi bi-table"></i> Επιστροφή</a>

            <% if (user.length > 0) { %>
                <nav aria-label="Search Pagination">
                    <ul class="pagination pagination-sm justify-content-end mt-1">
                        <% if (current == 1) { %>

                            <li class="page-item disabled">
                                <a href="#" class="page-link"><i class="bi bi-chevron-bar-left"></i></a>
                            </li>

                            <li class="page-item disabled">
                                <a href="#" class="page-link"><i class="bi bi-chevron-left"></i></a>
                            </li>

                        <% } else { %>

                            <li class="page-item">
                                <a href="/admin/search/?page=1" class="page-link"><i class="bi bi-chevron-bar-left"></i></a>
                            </li>   

                            <li class="page-item">
                                <a href="/admin/search/?page=<%= Number(current) - 1 %>" class="page-link"><i class="bi bi-chevron-left"></i></a>
                            </li>

                        <% } %> 

                        <% var i = Number(current) > 2 ? Number(current) -1 : 1 %> 
                        
                        <% if (i !== 1) { %>

                            <li class="page-item disabled">
                                <a href="#" class="page-link">...</a>
                            </li>

                        <% } %> 
                        
                        <% for (; i <= (Number(current) + 2) && i <= pages; i++) { %>
                            <% if (i == current) { %>

                                <li class="page-item">
                                    <a href="#" class="page-link pageItem"><%= i %></a>
                                </li>

                            <% } else { %>

                                <li class="page-item">
                                    <a href="/admin/search/?page=<%= i %>" class="page-link"><%= i %></a>
                                </li>

                            <% } %> 
                            <% if (i == Number(current) + 2 && i < pages) { %>

                                <li class="page-item disabled">
                                    <a href="#" class="page-link">...</a>
                                </li>
                                <li class="page-item">
                                    <a href="/admin/search/?page=<%= pages %>" class="page-link"><%= pages %></a>
                                </li>

                            <% } %> 
                        <% } %> 

                        <% if (current == pages) { %>

                            <li class="page-item disabled">
                                <a href="#" class="page-link"><i class="bi bi-chevron-right"></i></a>
                            </li>

                            <li class="page-item disabled">
                                <a href="#" class="page-link"><i class="bi bi-chevron-bar-right"></i></a>
                            </li>

                        <% } else { %>

                            <li class="page-item">
                                <a href="/admin/search/?page=<%= Number(current) + 1 %>" class="page-link"><i class="bi bi-chevron-right"></i></a>
                            </li>

                            <li class="page-item">
                                <a href="/admin/search/?page=<%= pages %>" class="page-link"><i class="bi bi-chevron-bar-right"></i></a>
                            </li>

                        <% } %>
                    </ul>
                </nav>
            <% } %>
        </div>
    </div>
</div>
