<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-2 border-bottom bg-hero-cdn height-rem-3_5"></div>
<form>
    <%- include('../../partials/_csrfField') %>

    <div class="card d-flex flex-column z-depth-5 w-92 margin-left-percent-4 overflow-hidden">

        <% const safe = (k) => (rec && rec[k]) || ''; %>

        <input type="hidden" id="kodikosSymbashs" name="kodikosSymbashs" />
        <input type="hidden" id="kodikosKathgorias" name="kodikosKathgorias" />
        <input type="hidden" id="kodikosEidikothtas" name="kodikosEidikothtas" />
        <input type="hidden" name="kodikosSymbashs_Kathgorias_Eidikothtas" id="kodikosSymbashs_Kathgorias_Eidikothtas" />

        <div class="card-header height-rem-4">
            <label class="text-center w-100 headers-content margin-bottom-1rem">Υπολογισμός Κλιμακίων Συμβάσεων</label>
        </div>

        <div class="row form-group g-1 align-items-center bg-white">
            <div class="col-2 left-align margin-left-1rem">
                <label class="col-form-label label-font-size">
                    Περίοδος Ισχύος της Σύμβασης
                </label>
            </div>

            <div class="col-1-2 left-align">
                <label for="isxyei_apo" class="col-form-label label-font-size field-required">
                    Από Ημ/νία Έναρξης
                </label>
            </div>

            <div class="col-1-3">
                <input type="date" name="isxyei_apo" id="isxyei_apo" class="date-control" value="" />
            </div>

            <div class="col-0-5"></div>

            <div class="col-1-2 left-align">
                <label for="isxyei_eos" class="col-form-label label-font-size field-required">
                    Έως Ημ/νία Λήξης
                </label>
            </div>

            <div class="col-1-3">
                <input type="date" name="isxyei_eos" id="isxyei_eos" class="date-control" value="" />
            </div>

            <div class="col-0-5"></div>

            <div class="col-0-32 left-align">
                <label for="praxh_katatheshs" class="col-form-label label-font-size field-required">
                    Π.Κ.
                </label>
            </div>

            <div class="col-3-01">
                <input type="text" name="praxh_katatheshs" id="praxh_katatheshs" class="form-control input-contents" value="" />
            </div>
        </div>

        <div class="row form-group g-1 align-items-center margin-left-1rem margin-top-0_5rem">
            <div class="col-2 left-align">
                <label for="symbash" class="col-form-label label-font-size field-required">
                Επιλέξτε Σύμβαση
                </label>
            </div>

            <input
                type="hidden"
                name="symbash_stathera"
                id="symbash_stathera"
                class="form-control input-contents"
                value="<%= safe("symbash_stathera") %>"
            />

            <div class="col-9-5">
                <select
                    id="symbash"
                    name="symbash"
                    class="tom-dropdown selectpicker-dropdown-normal left-align w-100"
                    aria-label="Συμβάσεις"
                    data-api="/api/dropdown/symbaseis/symbash"
                    single
                    data-target-input=<%= `symbash_stathera` %>
                    data-preselect="symbash_stathera"
                    data-preload-all="true"
                    data-pad-length="4"
                    data-xrhsh-related="false"
                    data-team-related="false"
                    data-company-related="false"
                    data-mhnas-related="false"
                    placeholder="Αναζήτηση Σύμβασης">
                </select>
            </div>
        </div>

        <div class="row form-group g-1 align-items-center margin-left-1rem margin-top-0_1rem margin-bottom-0_3rem margin-left-1rem">
            <div class="col-2-00 left-align">
                <label for="kathgoria_symbashs" class="col-form-label label-font-size field-required">
                Επιλέξτε Κατηγορία
                </label>
            </div>
            
            <!-- Κατηγορία: MULTIPLE -->
            <input 
                type="hidden" 
                id="kathgoria_symbashs_stathera" 
                name="kathgoria_symbashs_stathera"
                class="form-control input-contents" 
                value="<%= safe('kathgoria_symbashs_stathera') %>" 
            />

            <!-- ΠΡΟΣΘΗΚΗ: θα αποθηκεύουμε εδώ όλο τον πίνακα [{aa,kodikos},...] σε JSON -->
            <input 
                type="hidden" 
                id="kathgoria_symbashs_table" 
                name="kathgoria_symbashs_table" 
                value="[]"
            />
            
            <div class="col-9-24">
                <select
                    id="kathgoria_symbashs"
                    name="kathgoria_symbashs[]"
                    class="tom-dropdown selectpicker-dropdown-normal left-align w-100"
                    aria-label="Κατηγορίες Συμβάσεων"
                    data-api="/api/dropdown/symbaseis/kathgoria_symbashs"
                    multiple
                    data-target-input="kathgoria_symbashs_stathera"
                    data-target-table="kathgoria_symbashs_table"
                    data-preselect="kathgoria_symbashs_stathera"
                    data-extra-filter="symbash_stathera"
                    data-preload-all="true"
                    data-pad-length="4"
                    data-reserve-right="28"
                    placeholder="Αναζήτηση Κατηγορίας Σύμβασης">
                </select>
            </div>
        </div>

        <div class="row form-group g-1 align-items-center margin-left-1rem ">
            <div class="col-2-00 left-align">
                <label for="eidikothta_symbashs" class="col-form-label label-font-size field-required margin-top--0_2rem">
                Επιλέξτε Ειδικότητα
                </label>
            </div>

            <input 
                type="hidden" 
                id="eidikothta_symbashs_stathera" 
                name="eidikothta_symbashs_stathera" 
                class="form-control input-contents" value="<%= safe('eidikothta_symbashs_stathera') %>" 
            />

            <input 
                type="hidden" 
                id="eidikothta_symbashs_table" 
                name="eidikothta_symbashs_table" 
                value="[]"
            />

            <div class="col-9-24">
                <select
                    id="eidikothta_symbashs"
                    name="eidikothta_symbashs[]"
                    class="tom-dropdown selectpicker-dropdown-normal left-align w-100 mb-3"
                    aria-label="Ειδικότητα Συμβάσεων"
                    data-api="/api/dropdown/symbaseis/eidikothta_symbashs_multi"
                    multiple

                    data-preselect="eidikothta_symbashs_stathera"
                    data-target-input="eidikothta_symbashs_stathera"
                    data-target-table="eidikothta_symbashs_table"
                    
                    data-extra-filter="symbash_stathera"
                    data-extra-filter2="kathgoria_symbashs_table"
                    data-extra-filter2-src="kathgoria_symbashs_table"

                    data-optgroup-by="afora_thn_symbash_kathgoria"
                    data-optgroup-extract="last4"
                    data-optgroup-field="__group"
                    data-optgroup-label-source="kathgoria_symbashs"

                    data-inline-peek="2"
                    data-inline-mode="kodikos"

                    data-preload-all="true"
                    data-pad-length="4"
                    data-reserve-right="28"
                    placeholder="Αναζήτηση Ειδικότητας Σύμβασης">
                </select>
            </div>
        </div>

        <hr class="hr-style" />

        <div id="ypologismos-loader" class="loader-container" style="display: none;">
            <div class="loader"></div>
            <div class="loader-text">Παρακαλώ περιμένετε...</div>
        </div>

        <div class="card-body p-0 overflow-auto flex-grow-1 height-vh-47 bg-white">
            <table class="table table-striped table-bordered table-sm w-100" id="myTable">
                <tbody class="font-size-vw-0_875">
                </tbody>
            </table>
        </div>

        <div class="card-footer cardFooter margin-left--1_5rem">
            <div class="d-inline-block d-flex cardFooter01">
                <div class="d-flex cardFooter02">
                    <a 
                        id="add-btn"
                        href="#"
                        role="button"
                        data-bs-toggle="tooltip" 
                        data-bs-title="Υπολογισμός των κλιμακίων των συμβάσεων"
                        data-bs-placement="bottom"
                        data-tooltip-max-width="15vw"
                        class="btn btn-brown rounded-4 buttons-content margin-left-1rem mt-2 col-2 <%= (!userPrivileges.admin && !userPrivileges.read) ? 'disabled-link' : '' %>"
                        data-allowed="<%= (userPrivileges.admin || userPrivileges.read) ? '1' : '0' %>">
                        <i class="buttons-content bi bi-calculator"></i> Υπολογισμός
                    </a>
                
                    <a 
                        id="edit-btn"
                        href="#"
                        role="button"
                        data-bs-toggle="tooltip" 
                        data-bs-title="Ενημέρωση της Βάσης Δεδομένων των Κλιμακίων Συμβάσεων"
                        data-bs-placement="bottom"
                        data-tooltip-max-width="15vw"
                        class="btn btn-brown rounded-4 buttons-content mb-3 mt-2 col-2 <%= (!userPrivileges.admin && !userPrivileges.update) ? 'disabled-link' : '' %>"
                        data-allowed="<%= (userPrivileges.admin || userPrivileges.update) ? '1' : '0' %>">
                        <i class="buttons-content bi bi-pencil-square"></i> Ενημέρωση
                    </a>

                    <a 
                        id="back-btn"
                        href="/mainapp"
                        role="button"
                        data-bs-toggle="tooltip"
                        data-bs-placement="bottom"
                        data-tooltip-max-width="10vw"
                        data-bs-title="Επιστροφή στην Αρχική Σελίδα της εφαρμογής"
                        class="btn btn-brown rounded-4 buttons-content mb-3 mt-2 col-2">
                        <i class="buttons-content bi bi-chevron-double-left"></i> Επιστροφή
                    </a>
                </div>

                <div class="d-flex width-percent-35">
                    <button type="button" class="btn btn-toTop scroll-to-top"><i class="bi bi-chevron-double-up"></i></button>
                </div>
            </div>
        </div>
    </div>
</form>

<% const isProduction = NODE_ENV === 'production'; %>

<script nonce="<%= nonce %>">
    window.RUNTIME_ENV = "<%= NODE_ENV %>";
    window.__CONFIG__ = "<%- JSON.stringify(CONFIG) %>";
</script>

<script src="<%= script('common/blockInvalidClick') %>"></script>

<script src="<%= script('companies/genikastoixeia/dropdownsValue') %>"></script>

<script type="module" src="<%= script('common/initTomDropdown') %>"></script>
<script type="module" src="<%= script('symbaseisDropdownChain3-multi') %>"></script>

<script src="<%= script('symbaseis/ypologismoiKlimakion/externalRowTrash') %>"></script>
<script src="<%= script('ts-inline-summary') %>"></script>
<script src="<%= script('symbaseis/ypologismoiKlimakion/ypologismos') %>"></script>
<script src="<%= script('symbaseis/ypologismoiKlimakion/enhmerosh') %>"></script>
<script src="<%= script('common/hideTooltips') %>"></script>
<script src="<%= script('common/moveByEnter') %>"></script>
<script src="<%= script('common/scrollToTop') %>"></script>

<script nonce="<%= nonce %>">
    document.addEventListener("DOMContentLoaded", () => {
        const isxyeiApo = document.getElementById("isxyei_apo");
        const isxyeiEos = document.getElementById("isxyei_eos");

        // 1. Focus στο "Από" όταν ανοίγει η φόρμα
        if (isxyeiApo) {
            isxyeiApo.focus();
        }

        // 2. Έλεγχος ημερομηνιών στο blur του "Έως"
        if (isxyeiApo.value && isxyeiEos.value) {
            isxyeiEos.addEventListener("blur", () => {
                const apoVal = isxyeiApo.value;
                const eosVal = isxyeiEos.value;

                // Αν ένα από τα δύο είναι κενό, δεν ελέγχουμε
                if (!apoVal || !eosVal) return;

                // Τα input type="date" επιστρέφουν μορφή YYYY-MM-DD,
                // οπότε η σύγκριση string δουλεύει σωστά
                if (eosVal < apoVal) {
                    Swal.fire({
                        backdrop: false,
                        allowOutsideClick: false,
                        icon: 'warning',
                        title: 'Λάθος Ημερομηνίες',
                        html: 'Η ημερομηνία <strong>Έως Ημ/νία Λήξης</strong> δεν επιτρέπεται να είναι μικρότερη της <strong>Από Ημ/νία Έναρξης</strong>',
                        showConfirmButton: true,
                        confirmButtonText: 'Κλείσιμο',
                        customClass: {
                            confirmButton: 'class-warning custom-confirm-button custom-swal-button',
                            title: 'custom-title',
                            popup: 'custom-swal-popup',
                        },
                    }).then(() => {
                        isxyeiApo.focus();
                    });
                }
            });
        }
    });
</script>
