<div class="d-flex justify-content-between flex-wrap flex-md nowrap align-items-center pt-3 pb-3 border-bottom mt-3 mb-3" style="background-image: url('https://cdn.webpayrollsolutions.com/assets/img/wps1.png'); background-repeat: no-repeat; background-position: 0% 50%;"></div>

<section>
  <form>
    <div class="card d-flex flex-column z-depth-5" style="width: 94%; margin-left: 3%">
      <div class="card-header p-0" style="height: 3.5rem !important;">
        <label class="text-center w-100 headers-content mt-2">
          Εκτύπωση Ατομικών Εκκαθαρίσεων Μισθοδοσίας
        </label>
      </div>

      <input type="hidden" name="team" id="team" class="form-control input-contents" value="<%= sessionTeam %>" />
      <input type="hidden" name="company_kod" id="company_kod" class="form-control input-contents" value="<%= companyId %>" />
      <% if (passwords && passwords.length > 0 && passwords[0] && typeof passwords[0].username !== 'undefined') { %>
          <input type="hidden" name="username" id="username" tabIndex="-1" class="form-control input-contents" value="<%= passwords[0].username %>" readonly />
      <% } %> 

      <% if (passwords && passwords.length > 0 && passwords[0] && typeof passwords[0].username !== 'undefined') { %>
          <input type="hidden" name="password" id="password" tabIndex="-1" class="form-control input-contents" value="<%= passwords[0].password %>" readonly />
      <% } %>

      <div class="row form-group align-items-center" style="margin-top: .495rem;">
        <div class="col-1-3 left-align">
          <label for="typoiApodoxon" class="col-form-label label-font-size-smaller field-required" style="font-size: .9rem; padding-left: 1.75rem;">
            Tύποι Αποδοxών
          </label>
        </div>
        <div class="col-4"> 
            <select
              id="select-typoiApodoxon"
              class="tom-dropdown"
              name="select-typoiApodoxon"
              multiple
              data-api="/api/dropdown/typoiApodoxon"
              data-xrhsh-related="false"
              data-team-related="false"
              data-company-related="false"
              data-mhnas-related="false"
              placeholder="Αναζήτηση Τύπων Αποδοχών">
            </select>
        </div>

        <div class="col-0-5"></div>

        <div class="col-1-3 left-align">
          <label for="select-periodoi" class="col-form-label label-font-size-smaller field-required" style="font-size: .9rem; padding-left: 3rem;">
            Μήνες
          </label>
        </div>
        <div class="col-4"> 
          <select
            id="select-periodoi"
            class="tom-dropdown"
            name="select-periodoi"
            multiple
            data-api="/api/dropdown/periodoi"
            data-xrhsh-related="true"
            data-team-related="false"
            data-company-related="false"
            data-mhnas-related="false"
            placeholder="Αναζήτηση Περιόδου">
          </select>
        </div>
      </div>

      <div class="row form-group align-items-center" style="margin-bottom: .5rem;">
        <div class="col-1-3 left-align">
          <label for="ypokatasthmata" class="col-form-label label-font-size-smaller field-required" style="font-size: .9rem; padding-left: 1.75rem;">
            Υποκαταστήματα
          </label>
        </div>
        <div class="col-4"> 
          <select
            id="select-ypokatasthmata"
            class="tom-dropdown"
            name="select-ypokatasthmata"
            multiple
            data-api="/api/dropdown/ypokatasthmata"
            data-xrhsh-related="false"
            data-team-related="true"
            data-company-related="true"
            data-mhnas-related="false"
            placeholder="Αναζήτηση Υποκαταστήματος">
          </select>
        </div>

        <div class="col-0-5"></div>

        <div class="col-1-3 left-align">
          <label for="select-tmhmata" class="col-form-label label-font-size-smaller field-required" style="font-size: .9rem; padding-left: 2.25rem;">
            Τμήματα
          </label>
        </div>
        <div class="col-4"> 
            <select
                id="select-tmhmata"
                class="tom-dropdown"
                name="select-tmhmata"
                single
                data-api="/api/dropdown/tmhmata"
                data-xrhsh-related="false"
                data-team-related="false"
                data-company-related="false"
                data-mhnas-related="false"
                placeholder="Αναζήτηση Τμήματος">
            </select>
        </div>
      </div>

      <div>
        <table class="table table-striped table-bordered table-sm table-hover mb-0" id="myTableHeader">
          <thead style="font-size: 0.9vw;">
            <tr>
              <th scope="col" class="color-brown backgroundColor-brown col-0-5" style="text-align: center !important;"><input type="checkbox" id="select-all" class="form-check-input custom-checkbox checkbox-class"></th>
              <th scope="col" class="color-brown backgroundColor-brown col-0-5">Κωδ.<i class="sort-icon bi"></i></th>
              <th scope="col" class="color-brown backgroundColor-brown col-3-5">Επώνυμο<i class="sort-icon bi"></i></th>
              <th scope="col" class="color-brown backgroundColor-brown col-2">Όνομα<i class="sort-icon bi"></i></th>
              <th scope="col" class="color-brown backgroundColor-brown col-2">Πατρώνυμο<i class="sort-icon bi"></i></th>
              <th scope="col" class="color-brown backgroundColor-brown col-1">Α.Φ.Μ.<i class="sort-icon bi"></i></th>
            </tr>
          </thead>
        </table>
      </div>

      <div class="card-body p-0 overflow-auto flex-grow-1" style="height: 53vh; background-color: #ffffff;">
        <div class="table-responsive">
          <table class="table table-striped table-bordered table-sm table-hover" id="myTable">
            <body>
              <% if (ergazomenoi.length !== 0) { %>
                <% ergazomenoi.forEach(element => { %>
                  <tr class="input-content-regular" data-id="<%= element._id %>" data-kod="<%= element.kodikos %>">
                    <td class="col-0-5" style="text-align: center !important;"><input type="checkbox" id="select-one" class="form-check-input custom-checkbox checkbox-class row-checkbox"></td>
                    <td class="col-0-5"><%= element.kodikos %></td>
                    <td class="col-3-5"><%= element.eponymo %></td>
                    <td class="col-2"><%= element.onoma %></td>
                    <td class="col-2"><%= element.patronymo %></td>
                    <td class="col-1"><%= element.afm %></td>
                  </tr>
                <% }) %>
              <% } else { %>
                <tr>
                  <td colspan="7" class="records-not-found">Δεν βρέθηκαν εγγραφές.</td>
                </tr>
              <% } %>
            </body>
          </table>
        </div>
      </div>

      <div class="card-footer mt-auto">
        <div class="d-flex" style="margin: -0.5rem 0.625rem 2rem;">
      
          <!-- Κουμπιά ενεργειών -->
          <div class="d-flex" style="width: 100%; justify-content: space-around;">
            <a 
              id="get-stoixeia-btn"
              href="#" 
              role="button" style="font-size: 0.8vw;"
              data-bs-toggle="tooltip" title="Ενημέρωση ψηφιακού ωραρίου ΑΠΟ - ΕΩΣ ημερομηνία και για τους επιλεγέντες εργαζόμενους" data-bs-placement="bottom" class="btn btn-brown rounded-4 mb-3 mt-2 mr-2 col-2-5 <% if (!userPrivileges.admin && !userPrivileges.update) { %>disabled-link<% } %>" <% if (!userPrivileges.admin && !userPrivileges.update) { %>onclick="event.preventDefault();" <% } %>>
              <i class="bi bi-printer"></i> Εκτύπωση Συμβάσεων
            </a>
      
            <a 
              href="/mainapp"
              role="button"
              class="btn btn-brown rounded-4 mb-3 mt-2 col-2-5" style="font-size: 0.8vw;">
              <i class="bi bi-chevron-double-left"></i> Επιστροφή
            </a>
          </div>
        </div>
      </div>
    </div>
  </form>
</section>

<% if (process.env.NODE_ENV === 'production') { %>
  <script src="/min.js/ektyposeis/atomikesEkkathariseis.min.js"></script>
<% } else { %>
  <script src="/static/js/common/moveByEnter.js"></script>
  <script src="/static/js/common/scrollToTop.js"></script>
  <script src="/static/js/common/sortTable.js"></script>
  <script src="/static/js/common/setupTabKeyNavigation.js"></script>
  <!-- <script type="module" src="/static/js/app.js"></script>
  <script type="module" src="/static/js/dropdownManager.js"></script> -->
  <script src="/static/js/common/tooltipsForButtons.js"></script>

  <!-- <script src="/static/js/ergazomenoi/programmata/loadDropdownsYpokatasthmata.js"></script> -->
  <!-- <script src="/static/js/ektyposeis/symbaseis/controlCheckbox.js"></script>
<% } %>
