<div class="margin-top-1rem">
    <div class="container-fluid height-vh-100 padding-0">
        
        <% const safe = (k) => (rec && rec[k]) || ''; %>

        <div class="sections margin-top-1rem">
            <section class="sel_1_section visible" data-section="">
                <div>
                    <form class="formRadius">

                        <%- include('../../partials/_csrfField') %>

                        </br> </br> </br>

                        <div class="card d-flex flex-column z-depth-5 w-80 margin-left-percent-10 overflow-hidden">

                            <div class="card-header p-2 height-rem-3_5">
                                <label class="text-center w-100 headers-content">
                                Συντήρηση Κατηγορίας Σύμβασης
                                </label>
                            </div>

                            <div class="card-body overflow-auto flex-grow-1 w-100 height-vh-25 bg-white" id="cardBody">
                                <input type="hidden" name="kathgoriesId" id="kathgoriesId" class="form-control" value="<%= kathgories._id %>" />
                                <input type="hidden" name="aa" id="aa" class="form-control" value="<%= kathgories.aa %>" />
                                <input type="hidden" name="afora_thn_symbash" id="afora_thn_symbash" class="form-control" value="<%= kathgories.afora_thn_symbash %>" />
                                </br>
                                
                                <div class="row form-group g-3 align-items-center margin-top--2rem">
                                    <div class="col-1-5 right-align">
                                        <label
                                        class="col-form-label label-font-size">
                                        Σύμβαση &nbsp;
                                        </label>
                                    </div>
                                    <div class="col-8 left-align font-size-rem-1_1 cgreen">
                                        <label>
                                        <%= symbaseis.kodikos.padEnd(10, '\u00A0') + symbaseis.perigrafh %>
                                        </label>
                                    </div>
                                </div>
                                
                                <hr class="hr-style" />
                                </br>
                                
                                <div class="row form-group g-3 align-items-center mb-1">
                                    <div class="col-1-5 right-align">
                                        <label
                                        for="kodikos"
                                        class="col-form-label label-font-size field-required">
                                        Κωδικός
                                        </label>
                                    </div>
                                    <div class="col-1-2">
                                        <input type="text" name="kodikos" id="kodikos" class="form-control input-contents" value="<%= kathgories.kodikos.toString().padStart(4, '0') %>" readonly />
                                    </div>
                                </div>
                    
                                </br>
                    
                                <div class="row form-group g-3 align-items-center mb-1">
                                    <div class="col-1-5 right-align">
                                        <label for="perigrafh" class="col-form-label label-font-size field-required">
                                        Περιγραφή
                                        </label>
                                    </div>
                                    <div class="col-10-5">
                                        <input type="text" name="perigrafh" id="perigrafh" class="form-control input-contents" value="<%= kathgories.perigrafh %>" />
                                    </div>
                                </div>
                            </div>

                            <div class="card-footer mt-auto cardFooter">
                                <div class="d-inline-block d-flex cardFooter01">
                                    <button
                                        type="button"
                                        class="btn btn-brown rounded-4 mt-2 w-20 buttons-content submitButton">
                                        <i class="bi bi-floppy"></i> Αποθήκευση
                                    </button>
                                    <a
                                        class="btn btn-brown buttons-content rounded-4 mt-2 w-20"
                                        href="/symbaseis/kathgories">
                                        <i class="bi bi-chevron-double-left"></i> 
                                        Επιστροφή
                                    </a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </div>
</div>


<% const isProduction = NODE_ENV === 'production'; %>

<script nonce="<%= nonce %>">
    window.RUNTIME_ENV = "<%= NODE_ENV %>";
</script>
              
<script nonce="<%= nonce %>" src="/static/<%= NODE_ENV === 'production' ? 'min.js' : 'js' %>/common/getCompanyDescription<%= NODE_ENV === 'production' ? '.min' : '' %>.js"></script>
<script nonce="<%= nonce %>" src="/static/<%= NODE_ENV === 'production' ? 'min.js' : 'js' %>/common/getXrhsh<%= NODE_ENV === 'production' ? '.min' : '' %>.js"></script>
<script nonce="<%= nonce %>" src="/static/<%= NODE_ENV === 'production' ? 'min.js' : 'js' %>/common/getPeriod<%= NODE_ENV === 'production' ? '.min' : '' %>.js"></script>
<script nonce="<%= nonce %>" src="/static/<%= NODE_ENV === 'production' ? 'min.js' : 'js' %>/common/getUser<%= NODE_ENV === 'production' ? '.min' : '' %>.js"></script>
<script nonce="<%= nonce %>" src="/static/<%= NODE_ENV === 'production' ? 'min.js' : 'js' %>/common/blockInvalidClick<%= NODE_ENV === 'production' ? '.min' : '' %>.js"></script>
<script nonce="<%= nonce %>" src="/static/<%= NODE_ENV === 'production' ? 'min.js' : 'js' %>/symbaseis/kathgories/putFieldValues<%= NODE_ENV === 'production' ? '.min' : '' %>.js"></script>
<script nonce="<%= nonce %>" src="/static/<%= NODE_ENV === 'production' ? 'min.js' : 'js' %>/common/sectionsVisible<%= NODE_ENV === 'production' ? '.min' : '' %>.js"></script>
<script nonce="<%= nonce %>" src="/static/<%= NODE_ENV === 'production' ? 'min.js' : 'js' %>/common/moveByEnter<%= NODE_ENV === 'production' ? '.min' : '' %>.js"></script>
<script nonce="<%= nonce %>" src="/static/<%= NODE_ENV === 'production' ? 'min.js' : 'js' %>/common/clearableInputs<%= NODE_ENV === 'production' ? '.min' : '' %>.js"></script>
