<body data-mode="<%= mode %>" data-context="<%= context %>"></body>

<div class="tadded-container">
    <div class="container-fluid height-vh-100 padding-0">
        <div class="menu_Links">
            <ul class="white-space-nowrap">
                <li class="active margin-left-1_5rem margin-right-0_5rem">Σταθερά Στοιχεία</li>
                <li>Δραστηριότητες</li>
                <li>Τεχνικός Ασφαλείας</li>
                <li>Ιατρός Εργασίας</li>
                <li>Λογιστής</li>
                <li>Διάφορα</li>
                <li>Έμμεσος Εργοδότης</li>
                <li>Διάδοχος Εργοδότης</li>
            </ul>
        </div>
        <hr class="margin-top--2rem" />

        <div class="sections">
            <section class="sel_1_section visible" data-section="Σταθερά Στοιχεία">
                <div>
                    <form action="/companies/genikastoixeia/add" method="POST" class="formRadius" enctype="multipart/form-data">

                        <%- include('../../partials/_csrfField') %>

                        <div class="card d-flex flex-column z-depth-5 width-percent-96 margin-left-percent-2 overflow-visible">

                            <%- include('./partials/add/cardHeader') %>
                      
                            <%- include('./partials/add/cardBodies/statheraStoixeia') %>

                            <%- include('./partials/add/cardFooter') %>

                        </div>
                    </form>
                </div>
            </section>

            <section class="sel_2_section" data-section="Δραστηριότητες">
                <div>
                    <form action="/companies/genikastoixeia/add" method="POST" class="formRadius"enctype="multipart/form-data">

                        <%- include('../../partials/_csrfField') %>

                        <div class="card d-flex flex-column z-depth-5 width-percent-96 margin-left-percent-2 overflow-visible">

                            <%- include('./partials/add/cardHeader') %>

                            <%- include('./partials/add/cardBodies/drasthriothtes') %>

                            <%- include('./partials/add/cardFooter') %>

                        </div>
                    </form>
                </div>
            </section>

            <section class="sel_3_section" data-section="Τεχνικός Ασφαλείας">
                <div>
                    <form action="/companies/genikastoixeia/add" method="POST" class="formRadius"enctype="multipart/form-data">

                        <%- include('../../partials/_csrfField') %>

                        <div class="card d-flex flex-column z-depth-5 width-percent-96 margin-left-percent-2 overflow-visible">

                            <%- include('./partials/add/cardHeader') %>

                            <%- include('./partials/add/cardBodies/texnikosAsfaleias') %>

                            <%- include('./partials/add/cardFooter') %>

                        </div>
                    </form>
                </div>
            </section>

            <section class="sel_4_section" data-section="Ιατρός Εργασίας">
                <div>
                    <form action="/companies/genikastoixeia/add" method="POST" class="formRadius"enctype="multipart/form-data">

                        <%- include('../../partials/_csrfField') %>

                        <div class="card d-flex flex-column z-depth-5 width-percent-96 margin-left-percent-2 overflow-visible">
                            <%- include('./partials/add/cardHeader') %>

                            <%- include('./partials/add/cardBodies/iatrosErgasias') %>

                            <%- include('./partials/add/cardFooter') %>
                        </div>
                    </form>
                </div>
            </section>

            <section class="sel_5_section" data-section="Λογιστής">
                <div>
                    <form action="/companies/genikastoixeia/add" method="POST" class="formRadius"enctype="multipart/form-data">

                        <%- include('../../partials/_csrfField') %>

                        <div class="card d-flex flex-column z-depth-5 width-percent-96 margin-left-percent-2 overflow-visible">
                            <%- include('./partials/add/cardHeader') %>

                            <%- include('./partials/add/cardBodies/logisths') %>

                            <%- include('./partials/add/cardFooter') %>
                        </div>
                    </form>
                </div>
            </section>

            <section class="sel_6_section" data-section="Διάφορα">
                <div>
                    <form action="/companies/genikastoixeia/add" method="POST" class="formRadius"enctype="multipart/form-data">

                        <%- include('../../partials/_csrfField') %>

                        <div class="card d-flex flex-column z-depth-5 width-percent-96 margin-left-percent-2 overflow-visible">
                            <%- include('./partials/add/cardHeader') %>

                            <%- include('./partials/add/cardBodies/diafora') %>

                            <%- include('./partials/add/cardFooter') %>
                        </div>
                    </form>
                </div>
            </section>

            <section class="sel_7_section" data-section="Έμμεσος Εργοδότης">
                <div>
                    <form action="/companies/genikastoixeia/add" method="POST" class="formRadius"enctype="multipart/form-data">

                        <%- include('../../partials/_csrfField') %>

                        <div class="card d-flex flex-column z-depth-5 width-percent-96 margin-left-percent-2 overflow-visible">
                            <%- include('./partials/add/cardHeader') %>

                            <%- include('./partials/add/cardBodies/emmesosErgodoths') %>

                            <%- include('./partials/add/cardFooter') %>
                        </div>
                    </form>
                </div>
            </section>

            <section class="sel_8_section" data-section="Διάδοχος Εργοδότης">
                <div>
                    <form action="/companies/genikastoixeia/add" method="POST" class="formRadius"enctype="multipart/form-data">

                        <%- include('../../partials/_csrfField') %>

                        <div class="card d-flex flex-column z-depth-5 width-percent-96 margin-left-percent-2 overflow-visible">
                            <%- include('./partials/add/cardHeader') %>

                            <%- include('./partials/add/cardBodies/diadoxosErgodoths') %>

                            <%- include('./partials/add/cardFooter') %>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </div>

    <% const isProduction = NODE_ENV === 'production'; %>

    <script nonce="<%= nonce %>">
        window.RUNTIME_ENV = "<%= NODE_ENV %>";
    </script>

    <script src="<%= script('companies/genikastoixeia/getFieldValues') %>"></script>
    <script src="<%= script('companies/genikastoixeia/loadDropdowns_add') %>"></script>
    <script src="<%= script('common/checkAfm') %>"></script>
    <script src="<%= script('companies/genikastoixeia/dropdownsValue') %>"></script>
    
    <script type="module" src="<%= script('common/initTomDropdown') %>"></script>
    
    <script src="<%= script('common/toggleLabel') %>"></script>
    <script src="<%= script('common/sectionsVisible') %>"></script>
    <script src="<%= script('common/selectUnselectAndChangeButtonTextContent') %>"></script>
    <script src="<%= script('common/readAndPreviewImage') %>"></script>
    <script src="<%= script('common/changeInputTypeFile') %>"></script>
    <script src="<%= script('common/clearableInputs') %>"></script>
</div>
