<body data-mode="<%= mode %>" data-context="<%= context %>"></body>

<div class="tadded-container">
    <div class="container-fluid height-vh-100 padding-0">
        <div class="menu_Links">
            <ul class="white-space-nowrap">
                <li class="active margin-left-1_5rem margin-right-0_5rem"">Σταθερά Στοιχεία</li>
                <li>Δραστηριότητες</li>
                <li>Τεχνικός Ασφαλείας</li>
                <li>Ιατρός Εργασίας</li>
                <li>Λογιστής</li>
                <li>Διάφορα</li>
                <li>Έμμεσος Εργοδότης</li>
                <li>Διάδοχος Εργοδότης</li>
            </ul>
        </div>
        <hr class="margin-top--2rem" />
    
        <div class="sections">    
            <input type="hidden" name="companyId" id="companyId" class="form-control" value="<%= company._id %>" />
            <input type="hidden" name="companyTeam" id="companyTeam" class="form-control" value="<%= company.team %>" />
            <input type="hidden" name="companyNomos" id="companyNomos" class="form-control" value="<%= company.nomos %>" />
            <input type="hidden" name="companyDhmos" id="companyDhmos" class="form-control" value="<%= company.dhmos %>" />
            <input type="hidden" name="companyPolh" id="companyPolh" class="form-control" value="<%= company.polh %>" />
            <input type="hidden" name="companyLogisths" id="companyLogisths" class="form-control" value="<%= company.logisths ? company.logisths : '' %>" />
            <input type="hidden" name="companyTexnikos" id="companyTexnikos" class="form-control" value="<%= company.texnikos_asfaleias ? company.texnikos_asfaleias : '' %>" />
            <input type="hidden" name="companyIatros" id="companyIatros" class="form-control" value="<%= company.iatros_ergasias ? company.iatros_ergasias : '' %>" />
            <input type="hidden" name="currentImage" id="currentImage" class="form-control" value="<%= company.sfragida ? company.sfragida : '' %>" />
            <input type="hidden" name="imagePath" id="imagePath" class="form-control" value="<%= company.imagePath ? company.imagePath : '' %>" />
            <input type="hidden" name="companyEmmesosErgodoths" id="companyEmmesosErgodoths" class="form-control" value="<%= company.emmesos_ergodoths ? company.emmesos_ergodoths : '' %>" />
            <input type="hidden" name="companyDiadoxosErgodoths" id="companyDiadoxosErgodoths" class="form-control" value="<%= company.diadoxos_ergodoths ? company.diadoxos_ergodoths : '' %>" />

            <section class="sel_1_section visible" data-section="Σταθερά Στοιχεία">
                <div>
                    <form class="formRadius" enctype="multipart/form-data">

                        <%- include('../../partials/_csrfField') %>

                        <div class="card d-flex flex-column z-depth-5 width-percent-96 margin-left-percent-2 overflow-visible">

                            <%- include('./partials/edit/cardHeader') %>

                            <%- include('./partials/edit/cardBodies/statheraStoixeia') %>

                            <%- include('./partials/edit/cardFooter1-2') %>

                        </div>
                    </form>
                </div>
            </section>

            <section class="sel_2_section visible" data-section="Δραστηριότητες">
                <div>
                    <form class="formRadius"enctype="multipart/form-data">

                        <%- include('../../partials/_csrfField') %>

                        <div class="card d-flex flex-column z-depth-5 width-percent-96 margin-left-percent-2 overflow-visible">
                        
                            <%- include('./partials/edit/cardHeader') %>

                            <%- include('./partials/edit/cardBodies/drasthriothtes') %>

                            <%- include('./partials/edit/cardFooter1-2') %>

                        </div>
                    </form>
                </div>
            </section>

            <section class="sel_3_section visible" data-section="Τεχνικός Ασφαλείας">
                <div>
                    <form class="formRadius"enctype="multipart/form-data">

                        <%- include('../../partials/_csrfField') %>

                        <div class="card d-flex flex-column z-depth-5 width-percent-96 margin-left-percent-2 overflow-visible">
                        
                            <%- include('./partials/edit/cardHeader') %>

                            <%- include('./partials/edit/cardBodies/texnikosAsfaleias') %>

                            <%- include('./partials/edit/cardFooter') %>

                        </div>
                    </form>
                </div>
            </section>

            <section class="sel_4_section visible" data-section="Ιατρός Εργασίας">
                <div>
                    <form class="formRadius"enctype="multipart/form-data">

                        <%- include('../../partials/_csrfField') %>

                        <div class="card d-flex flex-column z-depth-5 width-percent-96 margin-left-percent-2 overflow-visible">
                        
                            <%- include('./partials/edit/cardHeader') %>

                            <%- include('./partials/edit/cardBodies/iatrosErgasias') %>

                            <%- include('./partials/edit/cardFooter') %>

                        </div>
                    </form>
                </div>
            </section>

            <section class="sel_5_section visible" data-section="Λογιστής">
                <div>
                    <form class="formRadius"enctype="multipart/form-data">

                        <%- include('../../partials/_csrfField') %>

                        <div class="card d-flex flex-column z-depth-5 width-percent-96 margin-left-percent-2 overflow-visible">
                        
                            <%- include('./partials/edit/cardHeader') %>

                            <%- include('./partials/edit/cardBodies/logisths') %>

                            <%- include('./partials/edit/cardFooter') %>

                        </div>
                    </form>
                </div>
            </section>

            <section class="sel_6_section visible" data-section="Διάφορα">
                <div>
                    <form class="formRadius"enctype="multipart/form-data">

                        <%- include('../../partials/_csrfField') %>

                        <div class="card d-flex flex-column z-depth-5 width-percent-96 margin-left-percent-2 overflow-visible">
                        
                            <%- include('./partials/edit/cardHeader') %>

                            <%- include('./partials/edit/cardBodies/diafora') %>

                            <%- include('./partials/edit/cardFooter1-2') %>

                        </div>
                    </form>
                </div>
            </section>

            <section class="sel_7_section visible" data-section="Έμμεσος Εργοδότης">
                <div>
                    <form class="formRadius"enctype="multipart/form-data">

                        <%- include('../../partials/_csrfField') %>

                        <div class="card d-flex flex-column z-depth-5 width-percent-96 margin-left-percent-2 overflow-visible">
                        
                            <%- include('./partials/edit/cardHeader') %>

                            <%- include('./partials/edit/cardBodies/emmesosErgodoths') %>

                            <%- include('./partials/edit/cardFooter') %>

                        </div>
                    </form>
                </div>
            </section>

            <section class="sel_8_section visible" data-section="Διάδοχος Εργοδότης">
                <div>
                    <form class="formRadius" enctype="multipart/form-data">

                        <%- include('../../partials/_csrfField') %>

                        <div class="card d-flex flex-column z-depth-5 width-percent-96 margin-left-percent-2 overflow-visible">
                        
                            <%- include('./partials/edit/cardHeader') %>

                            <%- include('./partials/edit/cardBodies/diadoxosErgodoths') %>

                            <%- include('./partials/edit/cardFooter') %>

                        </div>
                    </form>
                </div>
            </section>

        </div>
    </div>

    <% const isProduction = NODE_ENV === 'production'; %>
    
    <script nonce="<%= nonce %>">
        window.RUNTIME_ENV = "<%= NODE_ENV %>";
    </script>
              
    <script src="<%= script('companies/genikastoixeia/loadDropdowns_edit') %>"></script>
    <script src="<%= script('common/checkAfm') %>"></script>
    <script src="<%= script('companies/genikastoixeia/loadMultipleUsers') %>"></script>
    <script src="<%= script('companies/genikastoixeia/loadLoipaPedia') %>"></script>
    <script src="<%= script('common/sectionsVisible') %>"></script>
    <script src="<%= script('companies/genikastoixeia/dropdownsValue') %>"></script>
    
    <script type="module" src="<%= script('common/initTomDropdown') %>"></script>
    
    <script src="<%= script('common/toggleLabel') %>"></script>
    <script src="<%= script('common/selectUnselectAndChangeButtonTextContent') %>"></script>
    <script src="<%= script('common/readAndPreviewImage') %>"></script>
    <script src="<%= script('common/changeInputTypeFile') %>"></script>
    <script src="<%= script('common/clearImage') %>"></script>
    <script src="<%= script('common/clearableInputs') %>"></script>
    <script src="<%= script('common/tooltips') %>"></script>
    <script src="<%= script('common/clearSection') %>"></script>
    <script src="<%= script('companies/genikastoixeia/putFieldValues_Company') %>"></script>

    <!-- <script nonce="<%= nonce %>" src="/static/<%= NODE_ENV === 'production' ? 'min.js' : 'js' %>/companies/genikastoixeia/loadDropdowns_edit<%= NODE_ENV === 'production' ? '.min' : '' %>.js"></script> -->
    <!-- <script nonce="<%= nonce %>" src="/static/<%= NODE_ENV === 'production' ? 'min.js' : 'js' %>/common/checkAfm<%= NODE_ENV === 'production' ? '.min' : '' %>.js"></script>
    <script nonce="<%= nonce %>" src="/static/<%= NODE_ENV === 'production' ? 'min.js' : 'js' %>/companies/genikastoixeia/loadMultipleUsers<%= NODE_ENV === 'production' ? '.min' : '' %>.js"></script>
    <script nonce="<%= nonce %>" src="/static/<%= NODE_ENV === 'production' ? 'min.js' : 'js' %>/companies/genikastoixeia/loadLoipaPedia<%= NODE_ENV === 'production' ? '.min' : '' %>.js" defer></script> -->
    <!-- <script nonce="<%= nonce %>" src="/static/<%= NODE_ENV === 'production' ? 'min.js' : 'js' %>/common/sectionsVisible<%= NODE_ENV === 'production' ? '.min' : '' %>.js"></script> -->

    <!-- <script nonce="<%= nonce %>" src="/static/js/companies/genikastoixeia/dropdownsValue.js"></script> -->

    <!-- <script nonce="<%= nonce %>" type="module" src="/static/js/common/initTomDropdown.js"></script>   -->

    <!-- <script nonce="<%= nonce %>" src="/static/<%= NODE_ENV === 'production' ? 'min.js' : 'js' %>/common/toggleLabel<%= NODE_ENV === 'production' ? '.min' : '' %>.js"></script> -->
    <!-- <script nonce="<%= nonce %>" src="/static/<%= NODE_ENV === 'production' ? 'min.js' : 'js' %>/common/selectUnselectAndChangeButtonTextContent<%= NODE_ENV === 'production' ? '.min' : '' %>.js"></script> -->
    <!-- <script nonce="<%= nonce %>" src="/static/<%= NODE_ENV === 'production' ? 'min.js' : 'js' %>/common/readAndPreviewImage<%= NODE_ENV === 'production' ? '.min' : '' %>.js"></script> -->
    <!-- <script nonce="<%= nonce %>" src="/static/<%= NODE_ENV === 'production' ? 'min.js' : 'js' %>/common/changeInputTypeFile<%= NODE_ENV === 'production' ? '.min' : '' %>.js"></script> -->
    <!-- <script nonce="<%= nonce %>" src="/static/<%= NODE_ENV === 'production' ? 'min.js' : 'js' %>/common/clearImage<%= NODE_ENV === 'production' ? '.min' : '' %>.js"></script> -->
    <!-- <script nonce="<%= nonce %>" src="/static/<%= NODE_ENV === 'production' ? 'min.js' : 'js' %>/common/clearableInputs<%= NODE_ENV === 'production' ? '.min' : '' %>.js"></script> -->
    <!-- <script nonce="<%= nonce %>" src="/static/<%= NODE_ENV === 'production' ? 'min.js' : 'js' %>/common/tooltips<%= NODE_ENV === 'production' ? '.min' : '' %>.js"></script> -->
    <!-- <script nonce="<%= nonce %>" src="/static/<%= NODE_ENV === 'production' ? 'min.js' : 'js' %>/common/tooltipsForButtons<%= NODE_ENV === 'production' ? '.min' : '' %>.js"></script> -->
    <!-- <script nonce="<%= nonce %>" src="/static/<%= NODE_ENV === 'production' ? 'min.js' : 'js' %>/common/clearSection<%= NODE_ENV === 'production' ? '.min' : '' %>.js"></script> -->
    <!-- <script nonce="<%= nonce %>" src="/static/<%= NODE_ENV === 'production' ? 'min.js' : 'js' %>/companies/genikastoixeia/loadLoipaPedia<%= NODE_ENV === 'production' ? '.min' : '' %>.js" defer></script> -->
    <!-- <script nonce="<%= nonce %>" src="/static/<%= NODE_ENV === 'production' ? 'min.js' : 'js' %>/companies/genikastoixeia/putFieldValues_Company<%= NODE_ENV === 'production' ? '.min' : '' %>.js"></script> -->
</div>
