<div class="tadded-container">
    <div class="container-fluid" style="height: 100vh !important; padding: 0;">
        <div class="menu_Links">
            <ul style="white-space: nowrap;">
                <li class="active" style="margin-left: 1.5rem; margin-right: .5rem;">Σταθερά Στοιχεία</li>
                <li>Δραστηριότητες</li>
                <li>Τεχνικός Ασφαλείας</li>
                <li>Ιατρός Εργασίας</li>
                <li>Λογιστής</li>
                <li>Διάφορα</li>
                <li>Έμμεσος Εργοδότης</li>
                <li>Διάδοχος Εργοδότης</li>
            </ul>
        </div>
        <hr style="margin-top: -2rem" />
    
        <div class="sections">    
            <input type="hidden" name="companyId" id="companyId" class="form-control" value="<%= company._id %>" />
            <input type="hidden" name="companyTeam" id="companyTeam" class="form-control" value="<%= company.team %>" />
            <input type="hidden" name="companyNomos" id="companyNomos" class="form-control" value="<%= company.nomos %>" />
            <input type="hidden" name="companyDhmos" id="companyDhmos" class="form-control" value="<%= company.dhmos %>" />
            <input type="hidden" name="companyPolh" id="companyPolh" class="form-control" value="<%= company.polh %>" />
            <input type="hidden" name="companyLogisths" id="companyLogisths" class="form-control" value="<%= company.logisths ? company.logisths : '' %>" />
            <input type="hidden" name="companyTexnikos" id="companyTexnikos" class="form-control" value="<%= company.texnikos_asfaleias ? company.texnikos_asfaleias : '' %>" />
            <input type="hidden" name="companyIatros" id="companyIatros" class="form-control" value="<%= company.iatros_ergasias ? company.iatros_ergasias : '' %>" />
            <input type="hidden" name="currentImage" id="currentImage" class="form-control" value="<%= company.sfragida ? company.sfragida : '' %>" />
            <input type="hidden" name="imagePath" id="imagePath" class="form-control" value="<%= company.imagePath ? company.imagePath : '' %>" />
            <input type="hidden" name="companyEmmesosErgodoths" id="companyEmmesosErgodoths" class="form-control" value="<%= company.emmesos_ergodoths ? company.emmesos_ergodoths : '' %>" />
            <input type="hidden" name="companyDiadoxosErgodoths" id="companyDiadoxosErgodoths" class="form-control" value="<%= company.diadoxos_ergodoths ? company.diadoxos_ergodoths : '' %>" />

            <section class="sel_1_section visible" data-section="Σταθερά Στοιχεία">
                <div>
                    <form class="formRadius" enctype="multipart/form-data">
                        <div class="card d-flex flex-column z-depth-5" style="width: 96%; margin-left: 2%; overflow: visible;">

                            <%- include('./partials/edit/cardHeader') %>

                            <%- include('./partials/edit/cardBodies/statheraStoixeia') %>

                            <%- include('./partials/edit/cardFooter') %>

                        </div>
                    </form>
                </div>
            </section>

            <section class="sel_2_section visible" data-section="Δραστηριότητες">
                <div>
                    <form class="formRadius"enctype="multipart/form-data">
                        <div class="card d-flex flex-column z-depth-5" style="width: 96%; margin-left: 2%; overflow: visible;">
                        
                            <%- include('./partials/edit/cardHeader') %>

                            <%- include('./partials/edit/cardBodies/drasthriothtes') %>

                            <%- include('./partials/edit/cardFooter') %>

                    </form>
                </div>
            </section>

            <section class="sel_3_section visible" data-section="Τεχνικός Ασφαλείας">
                <div>
                    <form class="formRadius"enctype="multipart/form-data">
                        <div class="card d-flex flex-column z-depth-5" style="width: 96%; margin-left: 2%; overflow: visible;">
                        
                            <%- include('./partials/edit/cardHeader') %>

                            <%- include('./partials/edit/cardBodies/texnikosAsfaleias') %>

                            <%- include('./partials/edit/cardFooter') %>

                    </form>
                </div>
            </section>

            <section class="sel_4_section visible" data-section="Ιατρός Εργασίας">
                <div>
                    <form class="formRadius"enctype="multipart/form-data">
                        <div class="card d-flex flex-column z-depth-5" style="width: 96%; margin-left: 2%; overflow: visible;">
                        
                            <%- include('./partials/edit/cardHeader') %>

                            <%- include('./partials/edit/cardBodies/iatrosErgasias') %>

                            <%- include('./partials/edit/cardFooter') %>

                    </form>
                </div>
            </section>

            <section class="sel_5_section visible" data-section="Λογιστής">
                <div>
                    <form class="formRadius"enctype="multipart/form-data">
                        <div class="card d-flex flex-column z-depth-5" style="width: 96%; margin-left: 2%; overflow: visible;">
                        
                            <%- include('./partials/edit/cardHeader') %>

                            <%- include('./partials/edit/cardBodies/logisths') %>

                            <%- include('./partials/edit/cardFooter') %>

                    </form>
                </div>
            </section>

            <section class="sel_6_section visible" data-section="Διάφορα">
                <div>
                    <form class="formRadius"enctype="multipart/form-data">
                        <div class="card d-flex flex-column z-depth-5" style="width: 96%; margin-left: 2%; overflow: visible;">
                        <div class="card d-flex flex-column z-depth-5" style="width: 96%; margin-left: 2%;">
                        
                            <%- include('./partials/edit/cardHeader') %>

                            <%- include('./partials/edit/cardBodies/diafora') %>

                            <%- include('./partials/edit/cardFooter') %>

                    </form>
                </div>
            </section>

            <section class="sel_7_section visible" data-section="Έμμεσος Εργοδότης">
                <div>
                    <form class="formRadius"enctype="multipart/form-data">
                        <div class="card d-flex flex-column z-depth-5" style="width: 96%; margin-left: 2%; overflow: visible;">
                        
                            <%- include('./partials/edit/cardHeader') %>

                            <%- include('./partials/edit/cardBodies/emmesosErgodoths') %>

                            <%- include('./partials/edit/cardFooter') %>

                    </form>
                </div>
            </section>

            <section class="sel_8_section visible" data-section="Διάδοχος Εργοδότης">
                <div>
                    <form class="formRadius" enctype="multipart/form-data">
                        <div class="card d-flex flex-column z-depth-5" style="width: 96%; margin-left: 2%; overflow: visible;">
                        
                            <%- include('./partials/edit/cardHeader') %>

                            <%- include('./partials/edit/cardBodies/diadoxosErgodoths') %>

                            <%- include('./partials/edit/cardFooter') %>

                    </form>
                </div>
            </section>

        </div>
    </div>

    <% const isProduction = NODE_ENV === 'production'; %>
    <script>
        window.RUNTIME_ENV = "<%= NODE_ENV %>";
    </script>
              
    <!-- <script src="/static/<%= NODE_ENV === 'production' ? 'min.js' : 'js' %>/common/checkAfm<%= NODE_ENV === 'production' ? '.min' : '' %>.js"></script> -->
    <script src="/static/<%= NODE_ENV === 'production' ? 'min.js' : 'js' %>/common/sectionsVisible<%= NODE_ENV === 'production' ? '.min' : '' %>.js"></script>

    <script src="/static/<%= NODE_ENV === 'production' ? 'min.js' : 'js' %>/companies/genikastoixeia/dropdownsValue<%= NODE_ENV === 'production' ? '.min' : '' %>.js"></script>

<!-- <script src="/static/js/companies/genikastoixeia/dropdownsValue.js"></script> -->
    <script type="module" src="/static/js/companies/genikastoixeia/initNomikesMorfesDropdowns.js"></script>  
    <script type="module" src="/static/js/companies/genikastoixeia/initPararthmataEfkaDropdowns.js"></script>  
    <script type="module" src="/static/js/companies/genikastoixeia/initDoyDropdowns.js"></script>  
    <script type="module" src="/static/js/companies/genikastoixeia/initTameiaDropdowns.js"></script>  
    <script type="module" src="/static/js/companies/genikastoixeia/initKadDropdowns.js"></script>  
    <!-- <script type="module" src="/static/js/companies/genikastoixeia/initDoyLogisthDropdowns.js"></script>   -->

    <script src="/static/<%= NODE_ENV === 'production' ? 'min.js' : 'js' %>/companies/genikastoixeia/loadMultipleUsers<%= NODE_ENV === 'production' ? '.min' : '' %>.js"></script>
    <script src="/static/<%= NODE_ENV === 'production' ? 'min.js' : 'js' %>/common/toggleLabel<%= NODE_ENV === 'production' ? '.min' : '' %>.js"></script>
    <script src="/static/<%= NODE_ENV === 'production' ? 'min.js' : 'js' %>/common/select-UnselectAndChangeButtonTextContent<%= NODE_ENV === 'production' ? '.min' : '' %>.js"></script>
    <script src="/static/<%= NODE_ENV === 'production' ? 'min.js' : 'js' %>/common/readAndPreviewImage<%= NODE_ENV === 'production' ? '.min' : '' %>.js"></script>
    <script src="/static/<%= NODE_ENV === 'production' ? 'min.js' : 'js' %>/common/changeInputTypeFile<%= NODE_ENV === 'production' ? '.min' : '' %>.js"></script>
    <script src="/static/<%= NODE_ENV === 'production' ? 'min.js' : 'js' %>/common/clearImage<%= NODE_ENV === 'production' ? '.min' : '' %>.js"></script>
    <script src="/static/<%= NODE_ENV === 'production' ? 'min.js' : 'js' %>/common/clearableInputs<%= NODE_ENV === 'production' ? '.min' : '' %>.js"></script>

    <script src="/static/<%= NODE_ENV === 'production' ? 'min.js' : 'js' %>/companies/genikastoixeia/loadDropdowns_edit<%= NODE_ENV === 'production' ? '.min' : '' %>.js"></script>
    <script src="/static/<%= NODE_ENV === 'production' ? 'min.js' : 'js' %>/companies/genikastoixeia/loadLoipaPedia<%= NODE_ENV === 'production' ? '.min' : '' %>.js" defer></script>
    <script src="/static/<%= NODE_ENV === 'production' ? 'min.js' : 'js' %>/common/clearableInputs<%= NODE_ENV === 'production' ? '.min' : '' %>.js"></script>

    <!-- <script src="/static/<%= NODE_ENV === 'production' ? 'min.js' : 'js' %>/companies/genikastoixeia/putFieldValues_Company<%= NODE_ENV === 'production' ? '.min' : '' %>.js"></script> -->
</div>
