<div class="margin-top-1rem">
    <div class="container-fluid height-vh-100 padding-0">
        
        <% const safe = (k) => (rec && rec[k]) || ''; %>

        <div class="sections margin-top-1rem">
            <section class="sel_1_section visible" data-section="">
                <div>
                    <form class="formRadius">

                        <%- include('../../partials/_csrfField') %>

                        <div class="card d-flex flex-column z-depth-5 w-80 margin-left-percent-10 overflow-hidden">

                            <div class="card-header p-2 height-rem-3_5">
                                <label class="text-center w-100 headers-content">
                                  Συντήρηση Κωδικών Πρόσβασης
                                </label>
                            </div>

                            <div class="card-body overflow-auto flex-grow-1 w-100 height-vh-38 bg-white" id="cardBody">
                                <input type="hidden" name="companyId" id="companyId" class="form-control" value="<%= company._id %>" />
                                <input type="hidden" name="companyKodikos" id="companyKodikos" class="form-control" value="<%= company.kod %>" />
                                <input type="hidden" name="companyTeam" id="companyTeam" class="form-control" value="<%= company.team %>" />
                                <input type="hidden" name="passwordsId" id="passwordsId" class="form-control" value="<%= passwords._id %>" />

                                <div class="row form-group g-3 align-items-center">
                                    <div class="col-1-5 right-align">
                                        <label class="col-form-label label-font-size">
                                            Επιλεγμένη Εταιρεία
                                        </label>
                                    </div>
                                    <div class="col-8 left-align font-size-rem-1_1 cgreen">
                                        <label>
                                            <% if (company && company.kod && company.kod.length > 0) { %>
                                                <%- company.kod + "&nbsp;&nbsp;&nbsp; " + company.eponymia + " &nbsp;&nbsp;" +
                                                company.firstname %>
                                            <% } %>
                                        </label>
                                    </div>
                                </div>  

                                <hr class="division"></hr>

                                <div class="row form-group g-3 align-items-center mb-3 margin-top-1_5rem">
                                    <div class="col-2-5 right-align">
                                        <label
                                            for="kodikos"
                                            class="col-form-label label-font-size field-required">
                                            Κωδικός
                                        </label>
                                    </div>
    
                                    <div class="col-1-5">
                                        <input
                                            type="text"
                                            name="Kodikos"
                                            id="Kodikos"
                                            class="form-control input-contents"
                                            value="<%= passwords.kodikos %>"
                                            readonly
                                        />
                                    </div>
                                </div>

                                <div class="row form-group g-3 align-items-center mb-3">
                                    <div class="col-2-5 right-align">
                                        <label
                                        for="perigrafh"
                                        class="col-form-label label-font-size">
                                            Περιγραφή
                                        </label>
                                    </div>

                                    <div class="col-6">
                                        <input
                                            type="text"
                                            name="perigrafh"
                                            id="perigrafh"
                                            class="form-control input-contents"
                                            value="<%= passwords.perigrafh %>"
                                            required
                                        />
                                    </div>
                                </div>

                                <div class="row form-group g-3 align-items-center mb-3">
                                    <div class="col-2-5 right-align">
                                        <label
                                        for="username"
                                        class="col-form-label label-font-size">
                                        Username
                                        </label>
                                    </div>
                                    <div class="col-4">
                                        <input
                                            type="text"
                                            name="username"
                                            id="username"
                                            class="form-control input-contents"
                                            value="<%= passwords.username %>"
                                            required
                                        />
                                    </div>
                                </div>

                                <div class="row form-group g-3 align-items-center mb-3">

                                    <div class="col-2-5 right-align">
                                        <label
                                        for="password"
                                        class="col-form-label label-font-size">
                                        Password
                                        </label>
                                    </div>
                                    <div class="col-4">
                                        <input
                                        type="text"
                                        name="password"
                                        id="password"
                                        class="form-control input-contents"
                                        value="<%= passwords.password %>"
                                        required
                                        />
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer mt-auto cardFooter">
                                <div class="d-inline-block d-flex cardFooter01">
                                    <button
                                        type="button"
                                        class="btn btn-brown rounded-4 mt-2 w-20 buttons-content submitButton">
                                        <i class="bi bi-floppy"></i> Ενημέρωση
                                    </button>
                                    <a
                                        class="btn btn-brown buttons-content rounded-4 mt-2 w-20"
                                        href="/companies/passwords"
                                        ><i class="bi bi-chevron-double-left"></i> Επιστροφή
                                    </a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </div>
</div>

<% const isProduction = NODE_ENV === 'production'; %>

<script nonce="<%= nonce %>">
    window.RUNTIME_ENV = "<%= NODE_ENV %>";
</script>

<script src="<%= script('companies/passwords/putFieldValues') %>"></script>
<script src="<%= script('common/sectionsVisible') %>"></script>
<script src="<%= script('common/moveByEnter') %>"></script>
<script src="<%= script('common/clearableInputs') %>"></script>
