<div class="accordion-item">
    <h2 class="accordion-header">
        <button class="accordion-button collapsed bg-accordion font-size-vw-1 font-weight-700  caccordion" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="true" aria-controls="panelsStayOpen-collapseTwo" 
        tabindex="-1">
        Στοιχεία Πρόσληψης
        </button>
    </h2>
  
    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show">

        <% const safe = (k) => (rec && rec[k]) || ''; %>

        <div class="accordion-body bg-white margin-bottom--0_5rem">
            <div class="row form-group g-3 align-items-center margin-left--1rem margin-right--1rem margin-top--4rem">
                <div class="col-2 left-align">
                    <label for="hmeromhnia_proslhpshs" class="col-form-label label-font-size field-required">
                    Ημ/νία Πρόσληψης
                    </label>
                </div>
                <div class="col-1-5">
                    <input type="date" name="hmeromhnia_proslhpshs" id="hmeromhnia_proslhpshs" class="date-control" value="" />
                </div>

                <div class="col-2-5"></div>

                <div class="col-2 left-align">
                    <label for="hmeromhnia_allaghs_symbashs" class="col-form-label label-font-size">
                    Ημ/νία Αλλαγής Σύμβασης
                    </label>
                </div>
                <div class="col-1-5">
                    <input type="date" name="hmeromhnia_allaghs_symbashs" id="hmeromhnia_allaghs_symbashs" class="date-control" value="" />
                </div>
            </div>

            <div class="row form-group g-3 align-items-center margin-left--1rem margin-right--1rem">
                <div class="col-2 left-align">
                    <label for="hmeromhnia_allaghs_orarioy_apo" class="col-form-label font-size-vw-0_72">
                    Ημ/νία Αλλαγής Ωραρίου ΑΠΟ
                   </label>
                </div>
                <div class="col-1-5">
                    <input type="date" name="hmeromhnia_allaghs_orarioy_apo" id="hmeromhnia_allaghs_orarioy_apo" class="date-control" value="" />
                </div>

                <div class="col-2-5"></div>

                <div class="col-2 left-align">
                    <label for="hmeromhnia_allaghs_orarioy_eos" class="col-form-label font-size-vw-0_72">
                        Ημ/νία Αλλαγής Ωραρίου ΕΩΣ
                    </label>
                </div>
                <div class="col-1-5">
                    <input type="date" name="hmeromhnia_allaghs_orarioy_eos" id="hmeromhnia_allaghs_orarioy_eos" class="date-control" value="" />
                </div>
            </div>

            <div class="row form-group g-3 align-items-center margin-left--1rem margin-right--1rem">
                <div class="col-2 left-align">
                    <label for="hmeromhnia_apoxorhshs" class="col-form-label label-font-size">
                    Ημ/νία Αποχώρησης
                    </label>
                </div>
                <div class="col-1-5">
                    <input type="date" name="hmeromhnia_apoxorhshs" id="hmeromhnia_apoxorhshs" class="date-control" value="" />
                </div>

                <div class="col-2-5"></div>

                    <div class="col-2 left-align">
                    <label for="hmeromhnia_lhxhs_symbashs" class="col-form-label label-font-size field-required">
                    Ημ/νία Λήξης Σύμβασης
                    </label>
                </div>
                <div class="col-1-5">
                    <input type="date" name="hmeromhnia_lhxhs_symbashs" id="hmeromhnia_lhxhs_symbashs" class="date-control" value="" />
                </div>
            </div>

            <div class="height-vh-0_2"></div>

            <div class="row form-group g-3 align-items-center margin-left--1rem margin-right--1rem">
                <div class="col-2 left-align">
                    <label for="kathestos_apasxolhshs" class="col-form-label label-font-size field-required">
                    Καθεστώς Απασχόλησης
                    </label>
                </div>

                <input
                    type="hidden"
                    name="kathestos_apasxolhshs_stathera"
                    id="kathestos_apasxolhshs_stathera"
                    class="form-control input-contents"
                    value="<%= safe("kathestos_apasxolhshs_stathera") %>"
                />

                <div class="col-3-75">
                    <select
                        id="kathestos_apasxolhshs"
                        name="kathestos_apasxolhshs"
                        class="tom-dropdown selectpicker-dropdown-normal left-align w-100"
                        aria-label="Καθεστώς Απασχόλησης"
                        data-api="/api/dropdown/ergazomenoi/kathestos_apasxolhshs"
                        single
                        data-target-input=<%= `kathestos_apasxolhshs_stathera` %>
                        data-preselect=<%= `kathestos_apasxolhshs_stathera` %>
                        data-preload-all="true"
                        data-pad-length="1"
                        data-xrhsh-related="false"
                        data-team-related="false"
                        data-company-related="false"
                        data-mhnas-related="false"
                        placeholder="Αναζήτηση Καθεστώτος Απασχόλησης">
                    </select>
                </div>

                <div class="col-0-25"></div>

                <div class="col-2 left-align">
                    <label for="sxesh_ergasias" class="col-form-label label-font-size field-required">
                    Σχέση Εργασίας
                    </label>
                </div>

                <input
                    type="hidden"
                    name="sxesh_ergasias_stathera"
                    id="sxesh_ergasias_stathera"
                    class="form-control input-contents"
                    value="<%= safe("sxesh_ergasias_stathera") %>"
                />

                <div class="col-3-74">
                    <select
                        id="sxesh_ergasias"
                        name="sxesh_ergasias"
                        class="tom-dropdown selectpicker-dropdown-normal left-align w-100"
                        aria-label="Σχέση Εργασίας"
                        data-api="/api/dropdown/ergazomenoi/sxesh_ergasias"
                        single
                        data-target-input=<%= `sxesh_ergasias_stathera` %>
                        data-preselect=<%= `sxesh_ergasias_stathera` %>
                        data-preload-all="true"
                        data-pad-length="1"
                        data-xrhsh-related="false"
                        data-team-related="false"
                        data-company-related="false"
                        data-mhnas-related="false"
                        placeholder="Αναζήτηση Σχέσης Εργασίας">
                    </select>
                </div>
            </div>

            <div class="height-vh-0_2"></div>

            <div class="row form-group g-3 align-items-center margin-left--1rem margin-right--1rem">
                <div class="col-2 left-align">
                    <label for="proyphresia_se_eth" class="col-form-label label-font-size field-required">
                    Έτη Προϋπηρεσίας
                    </label>
                </div>
                <div class="col-1 left-align">
                    <input type="number" id="proyphresia_se_eth" name="proyphresia_se_eth" class="form-control input-contents right-align" min="0" max="40" value="0" />
                </div>
            
                <div class="col-3"></div>

                <div class="col-2 left-align">
                    <label for="proyphresia_se_mhnes" class="col-form-label label-font-size field-required">
                    Μήνες Προϋπηρεσίας
                    </label>
                </div>
                <div class="col-1 left-align">
                    <input type="number" id="proyphresia_se_mhnes" name="proyphresia_se_mhnes" class="form-control input-contents right-align" min="0" max="11" value="0" />
                </div>
            </div>

            <div class="row form-group g-3 align-items-center margin-left--1rem margin-right--1rem">
                <div class="col-2 left-align">
                    <label for="synolo_proyphresias_se_eth" class="col-form-label label-font-size">
                    Σύνολο Ετών Προϋπηρεσίας
                    </label>
                </div>
                <div class="col-1 left-align">
                    <input type="number" id="synolo_proyphresias_se_eth" name="synolo_proyphresias_se_eth" class="form-control input-contents right-align" value="0" readonly />
                </div>
            
                <div class="col-3"></div>

                <div class="col-2 left-align">
                    <label for="synolo_proyphresias_se_mhnes" class="col-form-label label-font-size-smaller">
                    Σύνολο Μηνών Προϋπηρεσίας
                    </label>
                </div>
                <div class="col-1 left-align">
                    <input type="number" id="synolo_proyphresias_se_mhnes" name="synolo_proyphresias_se_mhnes" class="form-control input-contents right-align" value="0" readonly />
                </div>
            </div>

            <div class="row form-group g-3 align-items-center margin-left--1rem margin-right--1rem">
                <div class="col-2 left-align">
                    <label for="proyphresia_adeias_se_eth" class="col-form-label label-font-size field-required">
                    Έτη Προϋπηρεσίας (Άδεια)
                    </label>
                </div>
                <div class="col-1 left-align">
                    <input type="number" id="proyphresia_adeias_se_eth" name="proyphresia_adeias_se_eth" class="form-control input-contents right-align" min="0" max="40" value="0" />
                </div>
            
                <div class="col-3"></div>

                <div class="col-2 left-align">
                    <label for="misthologiko_klimakio" class="col-form-label label-font-size">
                    Μισθολογικό Κλιμάκιο
                    </label>
                </div>
                <div class="col-1 left-align">
                    <input type="number" id="misthologiko_klimakio" name="misthologiko_klimakio" class="form-control input-contents right-align" value="1" readonly />
                </div>
            </div>

            <div class="height-vh-0_2"></div>

            <div class="row form-group g-3 align-items-center margin-left--1rem margin-right--1rem">
                <div class="col-2 left-align">
                    <label for="syggeneia" class="col-form-label label-font-size">
                    Συγγένεια
                    </label>
                </div>
                <div class="col-1 left-align checkbox-flex-center">
                    <input type="checkbox" class="form-check-input custom-checkbox checkbox-class" id="syggeneia" name="syggeneia" value="" />
                    <label for="syggeneia" id="label-syggeneia" class="margin-left-0_75rem  font-size-vw-0_875">
                    ΟΧΙ
                    </label>
                </div>

                <div class="col-3"></div>

                <div class="col-2 left-align">
                    <label for="syggenikh_sxesh" class="col-form-label label-font-size">
                    Συγγενική Σχέση
                    </label>
                </div>

                <input
                    type="hidden"
                    name="syggenikh_sxesh_stathera"
                    id="syggenikh_sxesh_stathera"
                    class="form-control input-contents"
                    value="<%= safe("syggenikh_sxesh_stathera") %>"
                />

                <div class="col-3-74">
                    <select
                        id="syggenikh_sxesh"
                        name="syggenikh_sxesh"
                        class="tom-dropdown selectpicker-dropdown-normal left-align w-100"
                        aria-label="Συγγενική Σχέση"
                        data-api="/api/dropdown/ergazomenoi/syggenikh_sxesh"
                        single
                        data-target-input=<%= `syggenikh_sxesh_stathera` %>
                        data-preselect=<%= `syggenikh_sxesh_stathera` %>
                        data-preload-all="true"
                        data-pad-length="2"
                        data-xrhsh-related="false"
                        data-team-related="false"
                        data-company-related="false"
                        data-mhnas-related="false"
                        placeholder="Αναζήτηση Συγγενικής Σχέσης">
                    </select>
                </div>
            </div>

            <div class="height-vh-0_2"></div>

            <div class="row form-group g-3 align-items-center margin-left--1rem margin-right--1rem">
                <div class="col-2 left-align">
                    <label for="thesh_eythynhs" class="col-form-label label-font-size">
                    Θέση Ευθύνης
                    </label>
                </div>

                <input
                    type="hidden"
                    name="thesh_eythynhs_stathera"
                    id="thesh_eythynhs_stathera"
                    class="form-control input-contents"
                    value="<%= safe('thesh_eythynhs_stathera') ? safe('thesh_eythynhs_stathera') : '1' %>"
                />

                <div class="col-3-75">
                    <select
                        id="thesh_eythynhs"
                        name="thesh_eythynhs"
                        class="tom-dropdown selectpicker-dropdown-normal left-align w-100"
                        aria-label="Θέση Ευθύνης"
                        data-api="/api/dropdown/ergazomenoi/thesh_eythynhs"
                        single
                        data-target-input=<%= `thesh_eythynhs_stathera` %>
                        data-preselect=<%= `thesh_eythynhs_stathera` %>
                        data-preload-all="true"
                        data-pad-length="1"
                        data-xrhsh-related="false"
                        data-team-related="false"
                        data-company-related="false"
                        data-mhnas-related="false"
                        placeholder="Αναζήτηση Θέσης Ευθύνης">
                    </select>
                </div>

                <div class="col-0-25"></div>

                <div class="col-2 left-align">
                    <label for="eidikh_periptosh" class="col-form-label label-font-size">
                    Ειδική Περίπτωση
                    </label>
                </div>

                <input
                    type="hidden"
                    name="eidikh_periptosh_stathera"
                    id="eidikh_periptosh_stathera"
                    class="form-control input-contents"
                    value="<%= safe("eidikh_periptosh_stathera") %>"
                />

                <div class="col-3-74">
                    <select
                        id="eidikh_periptosh"
                        name="eidikh_periptosh"
                        class="tom-dropdown selectpicker-dropdown-normal left-align w-100"
                        aria-label="Ειδική Περίπτωση"
                        data-api="/api/dropdown/ergazomenoi/eidikh_periptosh"
                        single
                        data-target-input=<%= `eidikh_periptosh_stathera` %>
                        data-preselect=<%= `eidikh_periptosh_stathera` %>
                        data-preload-all="true"
                        data-pad-length="1"
                        data-xrhsh-related="false"
                        data-team-related="false"
                        data-company-related="false"
                        data-mhnas-related="false"
                        placeholder="Αναζήτηση Ειδικής Περίπτωσης">
                    </select>
                </div>
            </div>
            <div class="row form-group g-3 align-items-center margin-left--1rem margin-right--1rem">
                <div class="col-2 left-align">
                    <label for="thesh_eythynhs" class="col-form-label label-font-size">
                    Φορολογική Κλίμακα
                    </label>
                </div>

                <div class="col-10">
                    <input type="text" name="forologikh_klimaka" id="forologikh_klimaka" class="form-control input-contents" value="" readonly/>
                </div>
            </div>
        </div>
    </div>
</div>
