	<% const safe = (k) => (ergazomenoiData && ergazomenoiData[k]) || ''; %>

	<input type="hidden" name="kodikosSymbashs_Kathgorias_Eidikothtas" id="kodikosSymbashs_Kathgorias_Eidikothtas" />

	<!-- Hidden table fields (χρειάζονται για την αλυσίδα) -->
	<input type="hidden" name="kathgoria_symbashs_table" id="kathgoria_symbashs_table" value="[]" />
	<input type="hidden" name="eidikothta_symbashs_table" id="eidikothta_symbashs_table" value="[]" />

	<input
    	type="hidden"
    	id="extra_apodoxes_calc_mode"
    	value="<%= companyData.tropos_ypologismoy_pragmatikoy_oromisthioy || 'actual_plus_extra' %>"
	/>

	<div class="row form-group g-1 align-items-center margin-left-1rem margin-top--1rem">
		<div class="col-2 left-align margin-left--1rem">
			<label for="symbash" class="col-form-label label-font-size field-required">
				Σύμβαση
			</label>
		</div>

		<input
			type="hidden"
			name="symbash_stathera"
			id="symbash_stathera"
			class="form-control input-contents"
			value="<%= safe('symbash') %>"
		/>

		<div class="col-9-8">
			<select
				id="symbash"
				name="symbash"
				class="tom-dropdown selectpicker-dropdown-normal left-align w-100"
				aria-label="Συμβάσεις"
				data-api="/api/dropdown/symbaseis/symbash"
				single
				data-target-input="symbash_stathera"
				data-preselect="symbash_stathera"
				data-preload-all="true"
				data-pad-length="4"
				data-skip-autoload="true"
				placeholder="Αναζήτηση Σύμβασης">
			</select>
		</div>
	</div>

	<div class="row form-group g-1 align-items-center margin-left-1rem margin-top-0_1rem">
		<div class="col-2 left-align margin-left--1rem">
			<label for="kathgoria_symbashs" class="col-form-label label-font-size field-required">
				Κατηγορία Σύμβασης
			</label>
		</div>

		<input
			type="hidden"
			name="kathgoria_symbashs_stathera"
			id="kathgoria_symbashs_stathera"
			class="form-control input-contents"
			value="<%= safe('kathgoria_symbashs') %>"
		/>

		<div class="col-9-8">
			<select
				id="kathgoria_symbashs"
				name="kathgoria_symbashs"
				class="tom-dropdown selectpicker-dropdown-normal left-align w-100"
				aria-label="Κατηγορίες Συμβάσεων"
				data-api="/api/dropdown/symbaseis/kathgoria_symbashs"
				single
				data-target-input="kathgoria_symbashs_stathera"
				data-preselect="kathgoria_symbashs_stathera"
				data-extra-filter="symbash_stathera"
				data-preload-all="true"
				data-pad-length="4"
				data-skip-autoload="true"
				placeholder="Αναζήτηση Κατηγορίας Σύμβασης">
			</select>
		</div>
	</div>

	<div class="row form-group g-1 align-items-center margin-left-1rem margin-top-0_1rem mb-2">
		<div class="col-2 left-align margin-left--1rem">
			<label for="eidikothta_symbashs" class="col-form-label label-font-size field-required">
				Ειδικότητα
			</label>
		</div>

		<input
			type="hidden"
			name="eidikothta_symbashs_stathera"
			id="eidikothta_symbashs_stathera"
			class="form-control input-contents"
			value="<%= safe('eidikothta_symbashs') %>"
		/>

		<div class="col-9-8">
			<select
				id="eidikothta_symbashs"
				name="eidikothta_symbashs"
				class="tom-dropdown selectpicker-dropdown-normal left-align w-100"
				aria-label="Ειδικότητα Συμβάσεων"
				data-api="/api/dropdown/symbaseis/eidikothta_symbashs_multi"
				single
				data-target-input="eidikothta_symbashs_stathera"
				data-preselect="eidikothta_symbashs_stathera"
				data-extra-filter="symbash_stathera"
				data-extra-filter2="kathgoria_symbashs_stathera"
				data-preload-all="true"
				data-pad-length="4"
				data-skip-autoload="true"
				placeholder="Αναζήτηση Ειδικότητας Σύμβασης">
			</select>
		</div>
	</div>

	<div class="row form-group align-items-center bg-3d4e001e margin-left--1rem margin-right--1rem">
		<% for (let i = 1; i <= 15; i++) { %>
			<input type="hidden" name="stoixeioSymbashsHidden_<%= ('0' + i).slice(-2) %>" id="stoixeioSymbashsHidden_<%= ('0' + i).slice(-2) %>" value="<%= ergazomenoiData['stoixeio_symbashs_' + ('0' + i).slice(-2)] %>" />
			<input type="hidden" name="posoSymbashsHidden_<%= ('0' + i).slice(-2) %>" id="posoSymbashsHidden_<%= ('0' + i).slice(-2) %>" value="<%= ergazomenoiData['poso_symbashs_' + ('0' + i).slice(-2)] %>" />
			<input type="hidden" name="posoSymbashsBaseiOronErgasiasHidden_<%= ('0' + i).slice(-2) %>" id="posoSymbashsBaseiOronErgasiasHidden_<%= ('0' + i).slice(-2) %>" value="<%= ergazomenoiData['poso_symbashs_basei_oron_ergasias_' + ('0' + i).slice(-2)] %>" />
		<% } %>

		<div class="col-0-5 text-center">
			<label class="col-form-label field-required font-size-vw-0_85">
				α/α
			</label>
		</div>

		<div class="col-7 text-center">
			<label class="col-form-label field-required font-size-vw-0_85">
				Στοιχείο Σύμβασης
			</label>
		</div>
		
		<div class="col-0-5"></div>
		
		<div class="col-1-5 text-center">
			<label class="col-form-label field-required font-size-vw-0_85">
				Ποσό Βάσει Σύμβασης
			</label>
		</div>

		<div class="col-0-3"></div>
		
		<div class="col-2 text-center">
			<label class="col-form-label field-required font-size-vw-0_85">
				Αποδοχές Βάσει Ωρών Εργασίας
			</label>
		</div>
	</div>

	<div id="stoixeiaSymbaseonContainer">
		<!-- Εδώ θα προστεθούν δυναμικά τα select στοιχεία -->
	</div>

	<div class="row form-group align-items-center mt-3 bg-white margin-left--1rem margin-right--1rem">
		<div class="col-8 text-right">
			<label class="col-form-label field-required text-right">
			Σ Υ Ν Ο Λ Α 
			</label>
		</div>

		<div class="col-1-5">
			<input type="number" class="form-control input-contents right-align bg-eeff0223 clearAble" name="synolo_symbashs" id="synolo_symbashs" value="<%= parseFloat(ergazomenoiData.synolo_symbashs).toFixed(2) %>" readonly />
		</div>

		<div class="col-0-5"></div>

		<div class="col-1-5">
			<input type="number" class="form-control input-contents right-align bg-2b97001e clearAble" name="synolo_symbashs_basei_oron_ergasias" id="synolo_symbashs_basei_oron_ergasias" readonl value="<%= parseFloat(ergazomenoiData.synolo_symbashs_basei_oron_ergasias).toFixed(2) %>" readonly />
		</div>
	</div>

	<hr style=" margin-bottom: 1rem;" />

	<div class="row form-group align-items-center bg-white margin-left--1rem margin-right--1rem">
		<div class="col-2 text-left">
			<label class="col-form-label field-required text-left">
			Νόμιμος Μισθός
			</label>
		</div>

		<div class="col-1-5">
			<input type="number" class="form-control input-contents right-align bg-eeff0223 clearAble" name="nomimosMisthos" id="nomimosMisthos" value="<%= parseFloat(ergazomenoiData.nomimosMisthos || 0).toFixed(2) %>" readonly />
		</div>

		<div class="col-0-5"></div>

		<div class="col-2 text-left">
			<label class="col-form-label field-required text-left">
			Νόμιμο Ημερομίσθιο
			</label>
		</div>
		<div class="col-1-5">
			<input type="number" class="form-control input-contents right-align bg-eeff0223 clearAble" name="nomimoHmeromisthio" id="nomimoHmeromisthio" value="<%= parseFloat(ergazomenoiData.nomimoHmeromisthio || 0).toFixed(2) %>" readonly />
		</div>

		<div class="col-0-5"></div>

		<div class="col-2 text-left">
			<label class="col-form-label field-required text-left">
			Νόμιμο Ωρομίσθιο
			</label>
		</div>
		<div class="col-1-5">
			<input type="number" class="form-control input-contents right-align bg-eeff0223 clearAble" name="nomimoOromisthio" id="nomimoOromisthio" value="<%= parseFloat(ergazomenoiData.nomimoOromisthio || 0).toFixed(4) %>" readonly />
		</div>
	</div>

	<div class="row form-group align-items-center bg-white margin-left--1rem margin-right--1rem">
		<div class="col-2 text-left">
			<label class="col-form-label field-required text-left">
			Πραγματικός Μισθός
			</label>
		</div>
		<div class="col-1-5">
			<input type="number" class="form-control input-contents right-align bg-2b97001e clearAble" name="pragmatikosMisthos" id="pragmatikosMisthos" value="<%= parseFloat(ergazomenoiData.pragmatikosMisthos || 0).toFixed(2) %>" readonly />
		</div>

		<div class="col-0-5"></div>

		<div class="col-2 text-left">
			<label class="col-form-label field-required text-left">
			Πραγματικό Ημερ/σθιο
			</label>
		</div>
		<div class="col-1-5">
			<input type="number" class="form-control input-contents right-align bg-2b97001e clearAble" name="pragmatikoHmeromisthio" id="pragmatikoHmeromisthio" value="<%= parseFloat(ergazomenoiData.pragmatikoHmeromisthio || 0).toFixed(2) %>" readonly />
		</div>

		<div class="col-0-5"></div>

		<div class="col-2 text-left">
			<label class="col-form-label field-required text-left">
			Πραγματικό Ωρομίσθιο
			</label>
		</div>
		<div class="col-1-5">
			<input type="number" class="form-control input-contents right-align bg-2b97001e clearAble" name="pragmatikoOromisthio" id="pragmatikoOromisthio" value="<%= parseFloat(ergazomenoiData.pragmatikoOromisthio || 0).toFixed(4) %>" readonly />
		</div>
	</div>

	<div class="row form-group align-items-center bg-white margin-left--1rem margin-right--1rem">
		<div class="col-9"></div>

		<button type="button" class="btn btn-brown rounded-4 mt-2 w-20 buttons-content" name="reCalcButton" id="reCalcButton">
			<i class="bi bi-floppy"></i> Επανυπολογισμός Αποδοχών
		</button>
	</div>
