<div class="tadded-container">
    <div class="container-fluid height-vh-100 padding-0">
        <div class="menu_Links">
            <ul>
                <li class="active margin-left-1_5rem margin-right-0_5rem">Σταθερά Στοιχεία</li>
                <li>Οικοδομικά Έργα</li>
            </ul>
        </div>
        <hr class="margin-top--2rem" />

        <% const safe = (k) => (rec && rec[k]) || ''; %>

        <div class="sections">
            <section class="sel_1_section visible" data-section="Σταθερά Στοιχεία">
                <div>
                    <form class="formRadius">

                        <%- include('../../partials/_csrfField') %>

                        <div class="card d-flex flex-column z-depth-5 width-percent-97 margin-left-percent-1_5 overflow-hidden">

                            <div class="card-header p-2 height-rem-3_5">
                                <label class="text-center w-100 headers-content sectionTitle"> </label>
                            </div>

                            <div class="card-body overflow-auto flex-grow-1 w-100 bg-white" id="cardBody">
                                <input 
                                    type="hidden" name="companyId" id="companyId" class="form-control" value="<%= company._id %>" 
                                />
                                <input 
                                    type="hidden" name="companyKodikos" id="companyKodikos" class="form-control" value="<%= company.kod %>" 
                                />
                                <input 
                                    type="hidden" name="companyTeam" id="companyTeam" class="form-control" value="<%= company.team %>" 
                                />

                                <div class="row form-group g-3 align-items-center">
                                    <div class="col-1-5 right-align">
                                        <label  class="col-form-label label-font-size">
                                            Επιλεγμένη Εταιρεία
                                        </label>
                                    </div>
                                    <div class="col-8 left-align font-size-rem-1_1 cgreen">
                                        <label>
                                            <% if (company && company.kod && company.kod.length > 0) { %>
                                                <%- company.kod + "&nbsp;&nbsp;&nbsp; " + company.eponymia + " &nbsp;&nbsp;" +
                                                company.firstname %>
                                            <% } %>
                                        </label>
                                    </div>
                                </div>

                                <hr class="division"></hr>

                                <div class="row form-group g-3 align-items-center mb-1">
                                    <div class="col-1-5 right-align">
                                        <label
                                            for="perigrafh"
                                            class="col-form-label label-font-size field-required">
                                                Περιγραφή
                                        </label>
                                    </div>
                                    <div class="col-10-5">
                                        <input
                                            type="text"
                                            name="perigrafh"
                                            id="perigrafh"
                                            class="form-control input-contents"
                                            value=""
                                            required
                                        />
                                    </div>
                                </div>

                                <div class="row form-group g-3 align-items-center mb-1">
                                    <div class="col-1-5 right-align">
                                        <label for="odos" class="col-form-label label-font-size">
                                            Οδός
                                        </label>
                                    </div>
                                    <div class="col-5">
                                        <input
                                            type="text"
                                            name="odos"
                                            id="odos"
                                            class="form-control input-contents"
                                            value=""
                                        />
                                    </div>
                                    <div class="col-1-5 right-align">
                                        <label for="arithmos" class="col-form-label label-font-size">
                                            Αριθμός
                                        </label>
                                    </div>
                                    <div class="col-2">
                                        <input
                                            type="text"
                                            name="arithmos"
                                            id="arithmos"
                                            class="form-control input-contents"
                                            value=""
                                        />
                                    </div>

                                    <div class="col-1 right-align">
                                        <label for="tk" class="col-form-label label-font-size">
                                            Τ.Κ.
                                        </label>
                                    </div>
                                    <div class="col-1">
                                        <input
                                            type="text"
                                            name="tk"
                                            id="tk"
                                            class="form-control input-contents"
                                            value=""
                                            maxlength="5"
                                            pattern="[0-9]{1,}" 
                                        />
                                    </div>
                                </div>

                                <div class="row form-group g-3 align-items-center field-required mb-1">
                                    <div class="col-1-5 right-align">
                                        <label
                                            for="perifereies"
                                            class="col-form-label label-font-size">
                                                Περιφέρεια
                                        </label>
                                    </div>
                                    <div class="col-4">
                                        <select
                                            class="form-select selectpicker-dropdown-normal font-size-vw-1"
                                            data-live-search="true"
                                            name="perifereies"
                                            id="perifereies"
                                            required>
                                        </select>
                                    </div>

                                    <div class="col-1"></div>

                                    <div class="col-1-5 right-align">
                                        <label
                                            for="nomos"
                                            class="col-form-label label-font-size field-required">
                                                Περιφ. Ενότητα
                                        </label>
                                    </div>
                                    <div class="col-4">
                                        <select
                                            class="form-select selectpicker-dropdown-normal font-size-vw-1"
                                            data-live-search="true"
                                            name="nomos"
                                            id="nomos"
                                            required
                                            disabled>
                                        </select>
                                    </div>
                                </div>

                                <div class="row form-group g-3 align-items-center mb-1">
                                    <div class="col-1-5 right-align">
                                        <label
                                            for="dhmos"
                                            class="col-form-label label-font-size field-required">
                                                Δημοτ. Ενότητα
                                        </label>
                                    </div>
                                    <div class="col-4">
                                        <select
                                            class="form-select selectpicker-dropdown-normal font-size-vw-1"
                                            data-live-search="true"
                                            name="dhmos"
                                            id="dhmos"
                                            required
                                            disabled>
                                        </select>
                                    </div>

                                    <div class="col-1"></div>

                                    <div class="col-1-5 right-align">
                                        <label
                                            for="polh"
                                            class="col-form-label label-font-size field-required">
                                                Δημοτ.Διαμέρισμα
                                        </label>
                                    </div>
                                    <div class="col-4">
                                        <select
                                            class="form-select selectpicker-dropdown-normal font-size-vw-1"
                                            data-live-search="true"
                                            name="polh"
                                            id="polh"
                                            required
                                            disabled>
                                        </select>
                                    </div>
                                </div>

                                <div class="row form-group g-3 align-items-center mb-1">
                                    <div class="col-1-5 right-align">
                                        <label
                                            for="drasthriothta"
                                            class="col-form-label label-font-size">
                                                Δραστηριότητα
                                        </label>
                                    </div>
                                    <div class="col-5">
                                        <input
                                            type="text"
                                            name="drasthriothta"
                                            id="drasthriothta"
                                            class="form-control input-contents" />
                                    </div>

                                    <div class="col-1-5 right-align">
                                        <label
                                            for="pararthma_efka"
                                            class="col-form-label label-font-size">
                                                Παράρτημα ΕΦΚΑ
                                        </label>
                                    </div>

                                    <input
                                        type="hidden"
                                        name="pararthma_efka_stathera"
                                        id="pararthma_efka_stathera"
                                        class="form-control input-contents"
                                        value="<%= safe("pararthma_efka_stathera") %>"
                                        readonly
                                    />

                                    <div class="col-3-75">
                                        <select
                                            id="pararthma_efka"
                                            name="pararthma_efka"
                                            class="tom-dropdown selectpicker-dropdown-normal left-align"
                                            aria-label="Παράρτημα ΕΦΚΑ"
                                            data-api="/api/dropdown/pararthmataEfka"
                                            single
                                            data-target-input=<%= `pararthma_efka_stathera` %>
                                            data-preselect=<%= `pararthma_efka_stathera` %>
                                            data-preload-all="true"
                                            data-pad-length="3"
                                            data-xrhsh-related="false"
                                            data-team-related="false"
                                            data-company-related="false"
                                            data-mhnas-related="false"
                                            placeholder="Αναζήτηση Παραρτήματος ΕΦΚΑ">
                                        </select>
                                    </div>
                                </div>

                                <div class="row form-group g-3 align-items-center mb-1">
                                    <div class="col-1-5 right-align">
                                        <label for="thlefono" class="col-form-label label-font-size">
                                            Τηλέφωνο
                                        </label>
                                    </div>
                                    <div class="col-2">
                                        <input
                                            type="text"
                                            name="thlefono"
                                            id="thlefono"
                                            class="form-control input-contents"
                                            value=""
                                            maxlength="10"
                                            pattern="[0-9]{1,}"
                                        />
                                    </div>

                                    <div class="col-1 right-align">
                                        <label for="fax" class="col-form-label label-font-size">
                                            Fax
                                        </label>
                                    </div>
                                    <div class="col-2">
                                        <input
                                            type="text"
                                            name="fax"
                                            id="fax"
                                            class="form-control input-contents"
                                            value=""
                                            maxlength="10"
                                            pattern="[0-9]{1,}"
                                        />
                                    </div>
                                    <div class="col-1-5 right-align">
                                        <label for="email" class="col-form-label label-font-size">
                                            e-Mail
                                        </label>
                                    </div>
                                    <div class="col-4">
                                        <input
                                            type="email"
                                            name="email"
                                            id="email"
                                            class="form-control input-contents"
                                            value=""
                                        />
                                    </div>
                                </div>

                                <div class="row form-group g-3 align-items-center mb-1">
                                    <div class="col-1-5 right-align">
                                        <label
                                            for="epoxikothta"
                                            class="col-form-label label-font-size">
                                            Εποχ/τητα εργοδότη
                                        </label>
                                    </div>
                                    <div class="col-1 left-align checkbox-flex-center mb-1">
                                        <input class="form-check-input custom-checkbox checkbox-class" 
                                            type="checkbox"
                                            id="epoxikothta"
                                            name="epoxikothta"
                                            value=""
                                        />
                                        <label
                                            for="epoxikothta"
                                            id="label-epoxikothta"
                                            class="margin-left-0_75rem fw600">
                                            ΟΧΙ
                                        </label>
                                    </div>

                                    <div class="col-4"></div>

                                    <div class="col-1-5 right-align">
                                        <label
                                            for="apasxolhsh5hmeron"
                                            class="col-form-label label-font-size">
                                            5ήμερη Απασχόληση
                                        </label>
                                    </div>
                                    <div class="col-1 left-align checkbox-flex-center">
                                        <input class="form-check-input custom-checkbox checkbox-class" 
                                            type="checkbox"
                                            id="apasxolhsh5hmeron"
                                            name="apasxolhsh5hmeron"
                                            value=""
                                        />
                                        <label
                                            for="apasxolhsh5hmeron"
                                            id="label-apasxolhsh5hmeron"
                                            class="margin-left-0_75rem fw600">
                                            ΟΧΙ
                                        </label>
                                    </div>
                                </div>

                                <div class="row form-group g-3 align-items-center mb-1">
                                    <div class="col-1-5 right-align">
                                        <label
                                            for="ap_pinaka"
                                            class="col-form-label label-font-size">
                                            Α.Π. Κατάθ. Πίνακα
                                        </label>
                                    </div>
                                    <div class="col-2">
                                        <input
                                            type="text"
                                            name="ap_pinaka"
                                            id="ap_pinaka"
                                            class="form-control input-contents"
                                            value=""
                                        />
                                    </div>

                                    <div class="col-3"></div>

                                    <div class="col-1-5 right-align">
                                        <label
                                            for="hmnia_katatheshs"
                                            class="col-form-label label-font-size">
                                            Ημ/νία Κατάθεσης
                                        </label>
                                    </div>
                                    <div class="col-2">
                                        <input
                                            type="date"
                                            name="hmnia_katatheshs"
                                            id="hmnia_katatheshs"
                                            class="date-control"
                                            value=""
                                        />
                                    </div>
                                </div>

                                <div class="row form-group g-3 align-items-center mb-4">
                                    <div class="col-1-5 right-align">
                                        <label
                                            for="sepe"
                                            class="col-form-label label-font-size">
                                                Παράρτημα ΣΕΠΕ
                                        </label>
                                    </div>

                                    <input
                                        type="hidden"
                                        name="sepe_stathera"
                                        id="sepe_stathera"
                                        class="form-control input-contents"
                                        value="<%= safe("sepe_stathera") %>"
                                        readonly
                                    />

                                    <div class="col-3-75">
                                        <select
                                            id="sepe"
                                            name="sepe"
                                            class="tom-dropdown selectpicker-dropdown-normal left-align"
                                            aria-label="Παράρτημα ΣΕΠΕ"
                                            data-api="/api/dropdown/ypokatasthmata/sepe"
                                            single
                                            data-target-input=<%= `sepe_stathera` %>
                                            data-preselect=<%= `sepe_stathera` %>
                                            data-preload-all="true"
                                            data-pad-length="3"
                                            data-xrhsh-related="false"
                                            data-team-related="false"
                                            data-company-related="false"
                                            data-mhnas-related="false"
                                            placeholder="Αναζήτηση Παραρτήματος ΣΕΠΕ">
                                        </select>
                                    </div>

                                    <div class="col-1-25-1"></div>

                                    <div class="col-1-5 right-align">
                                        <label
                                            for="dypa"
                                            class="col-form-label label-font-size">
                                                Παράρτημα ΔΥΠΑ
                                        </label>
                                    </div>

                                    <input
                                        type="hidden"
                                        name="dypa_stathera"
                                        id="dypa_stathera"
                                        class="form-control input-contents"
                                        value="<%= safe("dypa_stathera") %>"
                                        readonly
                                    />

                                    <div class="col-3-75">
                                        <select
                                            id="dypa"
                                            name="dypa"
                                            class="tom-dropdown selectpicker-dropdown-normal left-align"
                                            aria-label="Παράρτημα ΔΥΠΑ"
                                            data-api="/api/dropdown/ypokatasthmata/dypa"
                                            single
                                            data-target-input=<%= `dypa_stathera` %>
                                            data-preselect=<%= `dypa_stathera` %>
                                            data-preload-all="true"
                                            data-pad-length="3"
                                            data-xrhsh-related="false"
                                            data-team-related="false"
                                            data-company-related="false"
                                            data-mhnas-related="false"
                                            placeholder="Αναζήτηση Παραρτήματος ΔΥΠΑ">
                                        </select>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="card-footer cardFooter">
                                <div
                                    class="d-inline-block d-flex cardFooter01">
                                    <button
                                        type="button"
                                        class="btn btn-brown rounded-4 buttons-contents mt-2 w-20 submitButton">
                                        <i class="bi bi-floppy"></i> Αποθήκευση
                                    </button>
                                    <a
                                        class="btn btn-brown rounded-4 buttons-contents mt-2 w-20"
                                        href="/companies/ypokatasthmata"
                                        ><i class="bi bi-chevron-double-left"></i> Επιστροφή
                                    </a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </section>

            <section class="sel_2_section visible" data-section="Οικοδομικά Έργα">
                <div>
                    <form class="formRadius">

                        <%- include('../../partials/_csrfField') %>

                        <div class="card d-flex flex-column z-depth-5 width-percent-97 margin-left-percent-1_5 overflow-hidden">

                            <div class="card-header p-2 height-rem-3_5">
                                <label class="text-center w-100 headers-content sectionTitle"> </label>
                            </div>

                            <div class="card-body overflow-auto flex-grow-1 w-100 bg-white" id="cardBody1">
                                <div class="row form-group g-3 align-items-center">
                                    <div class="col-1-5 right-align">
                                        <label  class="col-form-label label-font-size">
                                            Επιλεγμένη Εταιρεία
                                        </label>
                                    </div>
                                    <div class="col-8 left-align font-size-rem-1_1 cgreen">
                                        <label>
                                            <% if (company && company.kod && company.kod.length > 0) { %>
                                                <%- company.kod + "&nbsp;&nbsp;&nbsp; " + company.eponymia + " &nbsp;&nbsp;" +
                                                company.firstname %>
                                            <% } %>
                                        </label>
                                    </div>
                                </div>

                                <hr class="division"></hr>

                                <div class="row form-group g-3 align-items-center mb-1">
                                    <div class="col-1-5 right-align">
                                        <label
                                            for="oikodomika_erga"
                                            class="col-form-label label-font-size">
                                                Οικοδομικά Έργα
                                        </label>
                                    </div>
                                    <div class="col-1 left-align checkbox-flex-center">
                                        <input class="form-check-input custom-checkbox checkbox-class" 
                                            type="checkbox"
                                            id="oikodomika_erga"
                                            name="oikodomika_erga"
                                            value=""
                                        />
                                        <label
                                            for="oikodomika_erga"
                                            id="label-oikodomika_erga"
                                            class="margin-left-0_75rem fw600">
                                            ΟΧΙ
                                        </label>
                                    </div>
                                </div>

                                <div class="row form-group g-3 align-items-center mb-1">
                                    <div class="col-1-5 right-align">
                                        <label for="amoe" class="col-form-label label-font-size">
                                            Α.Μ.Ο.Ε.
                                        </label>
                                    </div>
                                    <div class="col-2">
                                        <input
                                            type="text"
                                            name="amoe"
                                            id="amoe"
                                            class="form-control input-contents"
                                            data-toggle="amoe"
                                            value=""
                                            disabled
                                        />
                                    </div>

                                    <div class="col-3"></div>

                                    <div class="col-1-5 right-align">
                                        <label
                                            for="eidos_ergoy"
                                            class="col-form-label label-font-size">
                                                Περιγραφή Έργου
                                        </label>
                                    </div>
                                    <div class="col-4">
                                        <input
                                            type="text"
                                            name="eidos_ergoy"
                                            id="eidos_ergoy"
                                            class="form-control input-contents"
                                            data-toggle="eidos_ergoy"
                                            value=""
                                            disabled
                                        />
                                    </div>
                                </div>

                                <div class="row form-group g-3 align-items-center mb-1">
                                    <div class="col-1-5 right-align">
                                        <label
                                            for="username_ergoy"
                                            class="col-form-label label-font-size field-required">
                                                Username Οικ.Έργου
                                        </label>
                                    </div>
                                    <div class="col-2">
                                        <input
                                            type="text"
                                            name="username_ergoy"
                                            id="username_ergoy"
                                            class="form-control input-contents"
                                            data-toggle="username_ergoy"
                                            value=""
                                            disabled
                                        />
                                    </div>

                                    <div class="col-3"></div>

                                    <div class="col-1-5 right-align">
                                        <label
                                            for="password_ergoy"
                                            class="col-form-label label-font-size field-required">
                                                Password Οικ.Έργου
                                        </label>
                                    </div>
                                    <div class="col-2">
                                        <input
                                            type="text"
                                            name="password_ergoy"
                                            id="password_ergoy"
                                            class="form-control input-contents"
                                            data-toggle="password_ergoy"
                                            value=""
                                            disabled
                                        />
                                    </div>
                                </div>

                                <div class="row form-group g-3 align-items-center mb-1">
                                    <div class="col-1-5 right-align">
                                        <label
                                            for="ypergolabia"
                                            class="col-form-label label-font-size">
                                                Υπεργολαβία
                                        </label>
                                    </div>
                                    <div class="col-1 left-align checkbox-flex-center">
                                        <input class="form-check-input custom-checkbox checkbox-class" 
                                            type="checkbox"
                                            data-toggle="ypergolabia"
                                            id="ypergolabia"
                                            name="ypergolabia"
                                            value=""
                                            disabled
                                        />
                                        <label
                                            for="ypergolabia"
                                            id="label-ypergolabia"
                                            class="margin-left-0_75rem fw600">
                                            ΟΧΙ
                                        </label>
                                    </div>
                                </div>

                                <div class="row form-group g-3 align-items-center mb-1">
                                    <div class="col-1-5 right-align">
                                        <label
                                            for="ame_ergolaboy"
                                            class="col-form-label label-font-size field-required">
                                                Α.Μ.Ε. Εργολάβου
                                        </label>

                                    </div>
                                    <div class="col-2">
                                        <input
                                            type="text"
                                            name="ame_ergolaboy"
                                            id="ame_ergolaboy"
                                            class="form-control input-contents"
                                            data-toggle-additional="ypergolabia"
                                            data-toggle="ame_ergolaboy"
                                            value=""
                                            disabled
                                        />
                                    </div>
                                </div>

                                <div class="row form-group g-3 align-items-center mb-1">
                                    <div class="col-1-5 right-align">
                                        <label
                                            for="eponymo_ergolaboy"
                                            class="col-form-label label-font-size">
                                                Επώνυμο Εργολάβου
                                        </label>
                                    </div>
                                    <div class="col-5">
                                        <input
                                            type="text"
                                            name="eponymo_ergolaboy"
                                            id="eponymo_ergolaboy"
                                            class="form-control input-contents"
                                            data-toggle-additional="ypergolabia"
                                            data-toggle="eponymo_ergolaboy"
                                            value=""
                                            disabled
                                        />
                                    </div>

                                    <div class="col-1-5 right-align">
                                        <label
                                            for="onoma_ergolaboy"
                                            class="col-form-label label-font-size">
                                                Όνομα Εργολάβου
                                        </label>
                                    </div>
                                    <div class="col-3">
                                        <input
                                            type="text"
                                            name="onoma_ergolaboy"
                                            id="onoma_ergolaboy"
                                            class="form-control input-contents"
                                            data-toggle-additional="ypergolabia"
                                            data-toggle="onoma_ergolaboy"
                                            value=""
                                            disabled
                                        />
                                    </div>
                                </div>

                                <div class="row form-group g-3 align-items-center mb-1">
                                    <div class="col-1-5 right-align">
                                        <label
                                            for="patronymo_ergolaboy"
                                            class="col-form-label label-font-size">
                                                Πατρ/μο Εργολάβου
                                        </label>
                                    </div>
                                    <div class="col-3">
                                        <input
                                            type="text"
                                            name="patronymo_ergolaboy"
                                            id="patronymo_ergolaboy"
                                            class="form-control input-contents"
                                            data-toggle-additional="ypergolabia"
                                            data-toggle="patronymo_ergolaboy"
                                            value=""
                                            disabled
                                        />
                                    </div>

                                    <div class="col-2"></div>

                                    <div class="col-1-5 right-align">
                                        <label
                                            for="afm_ergolaboy"
                                            class="col-form-label label-font-size field-required">
                                                Α.Φ.Μ. Εργολάβου
                                        </label>
                                    </div>
                                    <div class="col-2">
                                        <input
                                            type="text"
                                            name="afm_ergolaboy"
                                            id="afm_ergolaboy"
                                            class="form-control input-contents field-required"
                                            data-toggle-additional="ypergolabia"
                                            data-toggle="afm_ergolaboy"
                                            value=""
                                            maxlength="9"
                                            pattern="[0-9]{1,}"
                                            disabled
                                        />
                                    </div>
                                </div>

                                <div class="row form-group g-3 align-items-center mb-1">
                                    <div class="col-1-5 right-align">
                                        <label
                                            for="odos_ergolaboy"
                                            class="col-form-label label-font-size">
                                                Δ/νση Εργολ. Οδός
                                        </label>
                                    </div>
                                    <div class="col-5">
                                        <input
                                            type="text"
                                            name="odos_ergolaboy"
                                            id="odos_ergolaboy"
                                            class="form-control input-contents"
                                            data-toggle-additional="ypergolabia"
                                            data-toggle="odos_ergolaboy"
                                            value=""
                                            disabled
                                        />
                                    </div>

                                    <div class="col-1-5 right-align">
                                        <label
                                            for="arithmos_ergolaboy"
                                            class="col-form-label label-font-size">
                                                Αριθμός
                                        </label>
                                    </div>
                                    <div class="col-2">
                                        <input
                                            type="text"
                                            name="arithmos_ergolaboy"
                                            id="arithmos_ergolaboy"
                                            class="form-control input-contents"
                                            data-toggle-additional="ypergolabia"
                                            data-toggle="arithmos_ergolaboy"
                                            value=""
                                            disabled
                                        />
                                    </div>

                                    <div class="col-1 right-align">
                                        <label
                                            for="tk_ergolaboy"
                                            class="col-form-label label-font-size">
                                                Τ.Κ.
                                        </label>
                                    </div>
                                    <div class="col-1">
                                        <input
                                            type="text"
                                            name="tk_ergolaboy"
                                            id="tk_ergolaboy"
                                            class="form-control input-contents"
                                            data-toggle-additional="ypergolabia"
                                            data-toggle="tk_ergolaboy"
                                            value=""
                                            maxlength="5"
                                            pattern="[0-9]{1,}"
                                            disabled
                                        />
                                    </div>
                                </div>

                                <div class="row form-group g-3 align-items-center mb-1">
                                    <div class="col-1-5 right-align">
                                        <label
                                            for="polh_ergolaboy"
                                            class="col-form-label label-font-size">
                                                Πόλη Εργολάβου
                                        </label>
                                    </div>
                                    <div class="col-3">
                                        <input
                                            type="text"
                                            name="polh_ergolaboy"
                                            id="polh_ergolaboy"
                                            class="form-control input-contents"
                                            data-toggle-additional="ypergolabia"
                                            data-toggle="polh_ergolaboy"
                                            value=""
                                            disabled
                                        />
                                    </div>

                                    <div class="col-2"></div>

                                    <div class="col-1-5 right-align">
                                        <label
                                            for="pararthma_efka_ergolaboy"
                                            class="col-form-label label-font-size">
                                                Παράρτημα ΕΦΚΑ
                                        </label>
                                    </div>

                                    <input
                                        type="hidden"
                                        name="pararthma_efka_ergolaboy_oikodomika"
                                        id="pararthma_efka_ergolaboy_oikodomika"
                                        class="form-control input-contents"
                                        value="<%= safe("pararthma_efka_ergolaboy_oikodomika") %>"
                                        readonly
                                    />

                                    <div class="col-3-75">
                                        <select
                                            id="pararthma_efka_ergolaboy"
                                            name="pararthma_efka_ergolaboy"
                                            class="tom-dropdown selectpicker-dropdown-normal left-align"
                                            aria-label="Παράρτημα ΕΦΚΑ"
                                            data-api="/api/dropdown/ypokatasthmata/pararthmataEfkaErgolaboy"
                                            single
                                            data-target-input=<%= `pararthma_efka_ergolaboy_oikodomika` %>
                                            data-preselect=<%= `pararthma_efka_ergolaboy_oikodomika` %>
                                            data-preload-all="true"
                                            data-pad-length="3"
                                            data-xrhsh-related="false"
                                            data-team-related="false"
                                            data-company-related="false"
                                            data-mhnas-related="false"
                                            placeholder="Αναζήτηση Παραρτήματος ΕΦΚΑ">
                                        </select>
                                    </div>
                                </div>

                                <div class="row form-group g-3 align-items-center mb-4">
                                    <div class="col-1-5 right-align">
                                        <label
                                            for="username_ypergol_ergoy"
                                            class="col-form-label label-font-size-smaller field-required">
                                                Username Εργολάβου
                                        </label>
                                    </div>
                                    <div class="col-2">
                                        <input
                                            type="text"
                                            name="username_ypergol_ergoy"
                                            id="username_ypergol_ergoy"
                                            class="form-control input-contents"
                                            data-toggle-additional="ypergolabia"
                                            data-toggle="username_ypergol_ergoy"
                                            value=""
                                            disabled
                                        />
                                    </div>

                                    <div class="col-3"></div>

                                    <div class="col-1-5 right-align">
                                        <label
                                            for="password_ypergol_ergoy"
                                            class="col-form-label label-font-size-smaller field-required">
                                                Password Εργολάβου
                                        </label>
                                    </div>
                                    <div class="col-2">
                                        <input
                                            type="text"
                                            name="password_ypergol_ergoy"
                                            id="password_ypergol_ergoy"
                                            class="form-control input-contents"
                                            data-toggle-additional="ypergolabia"
                                            data-toggle="username_ypergol_ergoy"
                                            value=""
                                            disabled
                                        />
                                    </div>
                                </div>
                            </div>

                            <div class="card-footer cardFooter">
                                <div
                                        class="d-inline-block d-flex cardFooter01">
                                    <button
                                        type="button"
                                        class="btn btn-brown rounded-4 buttons-contents mt-2 w-20 submitButton">
                                        <i class="bi bi-floppy"></i> Αποθήκευση
                                    </button>
                                    <a
                                        class="btn btn-brown rounded-4 buttons-contents mt-2 w-20"
                                        href="/companies/ypokatasthmata">
                                        <i class="bi bi-chevron-double-left"></i> Επιστροφή
                                    </a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </div>
</div>

<% const isProduction = NODE_ENV === 'production'; %>

<script nonce="<%= nonce %>">
    window.RUNTIME_ENV = "<%= NODE_ENV %>";
</script>

<script src="<%= script('companies/ypokatasthmata/loadDropdowns_add') %>"></script>
<script src="<%= script('companies/ypokatasthmata/getFieldValues') %>"></script>
<script src="<%= script('common/checkAfm') %>"></script>

<script src="<%= script('companies/genikastoixeia/dropdownsValue') %>"></script>

<script type="module" src="<%= script('common/initTomDropdown') %>"></script>

<script src="<%= script('common/navTabs') %>"></script>
<script src="<%= script('common/sectionsVisible') %>"></script>
<script src="<%= script('common/toggleLabel') %>"></script>
<script src="<%= script('dates/convertDateToISO') %>"></script>
<script src="<%= script('common/moveByEnter') %>"></script>
<script src="<%= script('common/clearableInputs') %>"></script>
