<div
  class="d-flex justify-content-between flex-wrap flex-md nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
>
  <h1 class="h3"><%= users.lastName %> <%= users.firstName %></h1>
  <!-- <div class="btn-toolbar mb-2 mb-md 0">
    <div class="btn-group me-2">
      <button type="button" class="btn btn-sm btn-outline-secondary">
        Share
      </button>
      <button type="button" class="btn btn-sm btn-outline-secondary">
        Export
      </button>
    </div>
  </div> -->
</div>

<div class="col py-3">
  <div class="row mb-2">
    <div class="col">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/admin">Dashboard</a></li>
          <li class="breadcrumb-item active">
            <%= users.firstName %> <%= users.lastName %>
          </li>
        </ol>
      </nav>
    </div>
    <div class="col text-end fw-lighter">
      <b>Κωδ.Χρήστη : </b>
      <b style="color: blue; font-weight: 500"><%= users._id %></b>
    </div>
  </div>
</div>

<div class="card z-depth-5">
  <div class="card-body">
    <div class="row form-group g-3 align-items-center mb-2">
      <div class="col-1-5 right-align">
        <label for="firstName" class="col-form-label field-required">Όνομα</label>
      </div>
      <div class="col-4">
        <input
          type="text"
          name="firstName"
          id="firstName"
          class="form-control"
          value="<%= users.firstName %>"
          readonly
        />
      </div>

      <div class="col-1-5 right-align">
        <label for="lastName" class="col-form-label field-required">Επώνυμο</label>
      </div>
      <div class="col-4">
        <input
          type="text"
          name="lastName"
          id="lastName"
          class="form-control"
          value="<%= users.lastName %>"
          readonly
        />
      </div>
    </div>

    <div class="row form-group g-3 align-items-center mb-2">
      <div class="col-1-5 right-align">
        <label for="email" class="col-form-label field-required">Email</label>
      </div>
      <div class="col-4">
        <input
          type="text"
          name="email"
          id="email"
          class="form-control"
          value="<%= users.email %>"
          readonly
        />
      </div>

      <div class="col-1-5 right-align">
        <label for="password" class="col-form-label field-required">Password</label>
      </div>
      <div class="col-4">
        <input
          type="text"
          name="password"
          id="password"
          class="form-control"
          value="<%= users.password %>"
          readonly
        />
      </div>
    </div>

    <div class="row form-group g-3 align-items-center mb-2">
      <div class="col-1-5 right-align">
        <label for="tel" class="col-form-label">Τηλέφωνο</label>
      </div>
      <div class="col-4">
        <input
          type="text"
          name="tel"
          id="tel"
          class="form-control"
          value="<%= users.tel %>"
          readonly
        />
      </div>

      <div class="col-1-5 right-align">
        <label for="team" class="col-form-label-sm field-required"
          >Ομάδα Εργασίας</label
        >
      </div>
      <div class="col-4">
        <input
          type="text"
          name="team"
          id="team"
          class="form-control"
          value="<%= users.team %>"
          style="outline: 4 !important"
          readonly
        />
      </div>
    </div>

    <div class="row form-group g-3 align-items-center mb-2">
      <div class="col-1-5 right-align">
        <label for="group" class="col-form-label field-required">Role</label>
      </div>

      <div class="col-4">
        <input
          type="text"
          id="userRoleLabel"
          class="form-control"
          value="<%= getUserRoleLabel(users.privileges) %>"
          readonly
        />
      </div>

      <div class="col-1-5 right-align">
        <label for="group1" class="col-form-label field-required">Status</label>
      </div>

      <div class="col-4">
        <input
          type="text"
          id="userStatusLabel"
          class="form-control"
          value="<%= users.situation === 'A' ? 'Ενεργός' : users.situation === 'I' ? 'Ανενεργός' : 'Άγνωστη κατάσταση' %>"
          readonly
        />
      </div>
    </div>

    <div class="row form-group g-3 align-items-center mb-4">
      <div class="col-1-5 right-align padding-right-10">
        <label for="details" class="col-form-label">Σημειώσεις</label>
      </div>
      <div class="col-9-5">
        <textarea
          class="form-control"
          name="details"
          id="details"
          rows="5"
          readonly
        ><%= users.details || '' %></textarea>
      </div>
    </div>

  </div>
  <div class="card-footer user-admin-card-footer">
    <div class="user-admin-actions">
      <a class="btn btn-sm user-admin-action-btn user-admin-action-secondary mb-1 mt-2" href="/admin"
      ><i class="bi bi-table"></i> Επιστροφή</a
      >
    </div>
  </div>
</div>
