<div class="tadded-container">
  <div class="container-fluid">
    <div class="menu_Links">
      <ul>
        <li class="active" style="display: none;">Σταθερά Στοιχεία</li>
      </ul>
    </div>
    <!-- <hr style="margin-top: -2rem" /> -->

    <div class="sections">
      <section class="sel_1_section visible" data-section="Σταθερά Στοιχεία">
        <div class="container">
          <form class="formRadius">

            </br></br></br></br>

            <div class="card d-flex flex-column z-depth-5 w-97" style="margin-left: 1.5%;">

              <div class="card-header">
                <label class="text-center headers-content">
                  Εισαγωγή Νέας Ειδικότητας Σύμβασης
                </label>
              </div>

              <div class="card-body overflow-auto flex-grow-1" style="height: 29vh; background-color: #ffffff;" >
                <input type="hidden" name="aa" id="aa" value="<%= aa_value.toString().padStart(4, '0') %>" />
                <input type="hidden" name="afora_thn_symbash_kathgoria" id="afora_thn_symbash_kathgoria" value="<%= kathgoria[0].afora_thn_symbash.toString().padStart(4, '0') %><%= kathgoria[0].kodikos.toString().padStart(4, '0') %>" />
          
                <div class="row form-group g-3 align-items-center mb-1">
                  <div class="col-1-5 right-align">
                    <label
                      class="col-form-label label-font-size">
                      Σύμβαση
                    </label>
                  </div>
                  <div class="col-10-5 left-align" style="font-size: 1vw; font-weight: 600;">
                    <label><%= symbash[0].kodikos.padEnd(10, '\u00A0') + symbash[0].perigrafh %></label>
                  </div>
                </div>
                
                </br>

                <div class="row form-group g-3 align-items-center mb-1">
                  <div class="col-1-5 right-align">
                    <label
                      class="col-form-label label-font-size">
                      Κατηγορία
                    </label>
                  </div>
                  <div class="col-10-5 left-align" style="font-size: 1vw; font-weight: 600;">
                    <label><%= kathgoria[0].kodikos.padEnd(10, '\u00A0') + kathgoria[0].perigrafh %></label>
                  </div>
                </div>
                
                </br>
                <div class="row form-group g-3 align-items-center mb-1">
                  <div class="col-1-5 right-align">
                    <label
                      for="kodikos"
                      class="col-form-label label-font-size">
                      Κωδικός
                    </label>
                  </div>
                  <div class="col-1">
                    <input type="text" name="kodikos" id="kodikos" class="form-control input-contents" value="<%= aa_kodikos.toString().padStart(4, '0') %>" readonly />
                  </div>
                </div>
                
                </br>
                
                <div class="row form-group g-3 align-items-center mb-1">
                  <div class="col-1-5 right-align">
                    <label
                      for="perigrafh"
                      class="col-form-label label-font-size field-required">
                        Περιγραφή
                    </label>
                  </div>
                  <div class="col-10-5">
                    <input type="text" name="perigrafh" id="perigrafh" class="form-control input-contents" value="" />
                  </div>
                </div>
              </div>
              <div
                class="card-footer mt-auto"
              >
                <div
                  class="d-inline-block d-flex"
                  style="
                    margin-top: -0.5rem !important;
                    margin-bottom: -1rem !important;
                    margin-left: 10px !important;
                    margin-right: 10px !important;
                    justify-content: space-around;
                  "
                >
                  <button
                    type="button"
                    class="btn btn-brown rounded-4 mt-2 w-20 buttons-content submitButton" 
                  >
                    <i class="bi bi-floppy"></i> Αποθήκευση
                  </button>
                  <a
                    class="btn btn-brown buttons-content rounded-4 mt-2 w-20"
                    href="/symbaseis/eidikothtes"
                    ><i class="bi bi-chevron-double-left"></i> Επιστροφή
                  </a>
                </div>
              </div>
            </div>
          </form>
        </div>
      </section>
    </div>

    <script src="/static/js/common/getCompanyDescription.js"></script>
    <script src="/static/js/common/moveByEnter.js"></script>
    <script src="/static/js/symbaseis/eidikothtes/getFieldValues.js"></script>
    <!-- <script src="/static/js/common/changeUrl.js"></script> -->
  </div>
</div>
