<div
  class="d-flex justify-content-between flex-wrap flex-md nowrap align-items-center pt-3 pb-2 mb-3 border-bottom" style="background-image: url('https://cdn.webpayrollsolutions.com/assets/img/wps1.png'); background-repeat: no-repeat; background-position: 0% 50%;">

  <form
    name="SearchForm"
    class="nav col-12 col-md-auto flex-end mb-2 ms-auto mb-md-0"
    role="search"
    method="POST"
    action="/symbaseis/eidikothtes/search">
    
    <div class="input-group">
      <span>
        <i class="bi bi-search bi-search-swing" style="font-size: 1.3vw; font-weight: 600; color: #006400"></i>&nbsp;
      </span>

      <input
        type="search"
        name="searchTerm"
        id="searchInput"
        class="form-control rounded-end-2 ms-auto"
        placeholder="Αναζήτηση... ( πατείστε Enter )"
        aria-label="Search"
      />
      <input type="hidden" name="selected_Symbash" id="selected_Symbash" />
      <input type="hidden" name="selected_Kathgoria" id="selected_Kathgoria" />
    </div>
  </form>
</div>
</br></br>

<div class="card d-flex flex-column z-depth-5" style="width: 80%; margin-left: 10%">


  <div class="card-header p-0" style="height: 4.5rem !important;">
    <label class="text-center w-100 headers-content mt-2">
      Διαχείριση Ειδικοτήτων Συμβάσεων
    </label>
  </div>
  <div class="row form-group g-3 align-items-center mb-3" style="background-color: #ffffff; width: 99.97%; margin-left: 0.01rem !important;">
    <div class="col-2 left-align">
      <label for="symbash" class="col-form-label label-font-size field-required">
        Σύμβαση
      </label>
    </div>
    <div class="col-9">
      <select class="form-select selectpicker-dropdown-normal" data-live-search="true" name="symbash" id="symbash">
      </select>
    </div>
    <button type="button" class="btn rounded-4 mt-2 col-1" id="clearSelect-001" style="border: 0;" data-bs-toggle="tooltip" title="Καθαρισμός των πεδίων Σύμβαση, Κατηγορία Σύμβασης και του πίνακα των Ειδικοτήτων των Συμβάσεων" data-bs-placement="bottom">
      <i class="bi bi-trash" style="color: red"></i> 
    </button>
  </div>
  
  <div class="row form-group g-3 align-items-center mb-2" style="background-color: #ffffff; width: 99.97%; margin-left: 0.01rem !important;">
    <div class="col-2 left-align">
      <label for="kathgoria_symbashs" class="col-form-label label-font-size field-required">
        Κατηγορία
      </label>
    </div>
    <div class="col-9">
      <select class="form-select selectpicker-dropdown-normal" data-live-search="true" name="kathgoria_symbashs" id="kathgoria_symbashs" disabled>
      </select>
    </div>
    <button type="button" class="btn rounded-4 mt-2 col-1" id="clearSelect-002" style="border: 0;" data-bs-toggle="tooltip" title="Καθαρισμός της Κατηγορίας Σύμβασης, και του πίνακα των Ειδικοτήτων των Συμβάσεων" data-bs-placement="bottom">
      <i class="bi bi-trash" style="color: red"></i> 
    </button>
  </div>
  
  <div>
    <table class="table table-striped table-bordered table-sm table-hover mb-0" id="myTableHeader">
      <thead style="font-size: 0.9vw;">
        <tr>
          <th scope="col" class="color-brown col-1 text-center" style="background-color:#0064001c">Κωδ.<i class="sort-icon bi"></i></th>
          <th scope="col" class="color-brown col-11 text-center" style="background-color:#0064001c"> Περιγραφή Ειδικότητας Σύμβασης<i class="sort-icon bi"></i></th>
        </tr>
      </thead>
    </table>
  </div>

  <div class="card-body p-0 overflow-auto flex-grow-1" style="height: 25rem; background-color: #ffffff;">
      <input type="hidden" name="selectedSymbash" id="selectedSymbash" />
      <input type="hidden" name="selectedKathgoria" id="selectedKathgoria" />

      <table class="table table-striped table-bordered table-sm table-hover" id="myTable">
        <tbody>
        </tbody>
      </table>
  </div>

  <div class="card-footer mt-auto">
    <div class="d-flex" style="margin: -0.5rem 0.625rem 2rem;">
  
      <!-- Κουμπιά ενεργειών -->
      <div class="d-flex" style="width: 60%; justify-content: space-around;">
        <a 
          id="add-btn"
          href="#"
          role="button" 
          data-bs-toggle="tooltip" title="Προσθήκη νέας ειδικότητας" data-bs-placement="bottom" style="font-size: 0.8vw;"
          class="btn btn-brown rounded-4 mb-3 mt-2 mr-2 col-2-5 <% if (!userPrivileges.admin && !userPrivileges.create) { %>disabled-link<% } %>"
          <% if (!userPrivileges.admin && !userPrivileges.create) { %>onclick="event.preventDefault();" <% } %>>
          <i class="bi bi-plus-circle"></i> Προσθήκη
        </a>
        
        <a 
          id="edit-btn"
          href="#" 
          role="button" style="font-size: 0.8vw;"
          data-bs-toggle="tooltip" title="Εμφάνιση - Διόρθωση της επιλεγμένης ειδικότητας σύμβασης" data-bs-placement="bottom" 
          class="btn btn-brown rounded-4 mb-3 mt-2 mr-2 col-2-5 <% if (!userPrivileges.admin && !userPrivileges.update) { %>disabled-link<% } %>"
          <% if (!userPrivileges.admin && !userPrivileges.update) { %>onclick="event.preventDefault();" <% } %>>
          <i class="bi bi-pencil-square"></i> Συντήρηση
        </a>
        
        <a 
          id="delete-btn"
          href="#"
          role="button"
          data-bs-toggle="tooltip" title="Διαγραφή της επιλεγμένης ειδικότητας σύμβασης" data-bs-placement="bottom"  style="font-size: 0.8vw;" 
          class="btn btn-brown rounded-4 mb-3 mt-2 mr-2 col-2-5 <% if (!userPrivileges.admin && !userPrivileges.delete) { %>disabled-link<% } %>"
          <% if (!userPrivileges.admin && !userPrivileges.delete) { %>onclick="event.preventDefault();" <% } %>>
          <i class="bi bi-trash"></i> Διαγραφή
        </a>
  
        <a 
          href="/mainapp"
          role="button"
          class="btn btn-brown rounded-4 mb-3 mt-2 col-2-5" style="font-size: 0.8vw;">
          <i class="bi bi-chevron-double-left"></i> Επιστροφή
        </a>
      </div>

      <div class="d-flex" style="width: 15%;"></div>

      <!-- Pagination -->
      <div class="ms-auto" style="flex-grow: 1; max-width: 25%; font_size: 0.8vw !important">
        <nav aria-label="Page navigation">
          <ul class="pagination justify-content-end">
            <% if (Number(current) > 1) { %>
              <li class="page-item">
                <a class="page-link" href="/symbaseis/eidikothtes/?page=1" aria-label="First">
                  <i class="bi bi-chevron-bar-left"></i>
                </a>
              </li>
              <li class="page-item">
                <a class="page-link" href="/symbaseis/eidikothtes/?page=<%= Number(current) - 1 %>" aria-label="Previous">
                  <i class="bi bi-chevron-left"></i>
                </a>
              </li>
            <% } %>
  
            <!-- Number(current) Page -->
            <li class="page-item active"><a class="page-link" href="#"><%= Number(current) %></a></li>
  
            <!-- Dynamic "next pages" and "..." logic -->
            <% if (Number(current) < pages) { %>
              <% let upTo = Math.min(Number(current) + 2, pages); %>
              <% for(let i = Number(current) + 1; i <= upTo; i++) { %>
                <li class="page-item"><a class="page-link" href="/symbaseis/eidikothtes/?page=<%= i %>"><%= i %></a></li>
              <% } %>
              <% if (upTo < pages) { %>
                <li class="page-item disabled"><span class="page-link">...</span></li>
                <li class="page-item"><a class="page-link" href="/symbaseis/eidikothtes/?page=<%= pages %>"><%= pages %></a></li>
              <% } %>
            <% } %>
  
            <% if (Number(current) < pages) { %>
              <li class="page-item">
                <a class="page-link" href="/symbaseis/eidikothtes/?page=<%= Number(current) + 1 %>" aria-label="Next">
                  <i class="bi bi-chevron-right"></i>
                </a>
              </li>
              <li class="page-item">
                <a class="page-link" href="/symbaseis/eidikothtes/?page=<%= pages %>" aria-label="Last">
                  <i class="bi bi-chevron-bar-right"></i>
                </a>
              </li>
            <% } else { %>
              <li class="page-item disabled"><span class="page-link">
                <i class="bi bi-chevron-right"></i></span></li>
              <li class="page-item disabled"><span class="page-link">
                <i class="bi bi-chevron-bar-right"></i></span></li>
            <% } %>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>

<script src="/static/js/common/getCompanyDescription.js"></script>
<script src="/static/js/common/getXrhsh.js"></script>
<script src="/static/js/common/getPeriod.js"></script>
<script src="/static/js/common/getUser.js"></script>
<script src="/static/js/common/searchFormSubmit.js"></script>
<script src="/static/js/common/sortTable.js"></script>
<script src="/static/js/common/tooltipsForButtons.js"></script>
<script src="/static/js/common/clearSelectsSymbaseon.js"></script>
<script src="/static/js/symbaseis/eidikothtes/loadDropdowns_Eidikothtes.js"></script>
<script src="/static/js/symbaseis/eidikothtes/selectRowInTable.js"></script>
<!-- <script src="/static/js/common/changeUrl.js"></script> -->
