<div class="tadded-container margin-top-1rem">
    <div class="container-fluid height-vh-100 padding-0">
        
        <% const safe = (k) => (rec && rec[k]) || ''; %>

        <div class="sections margin-top-1rem">
            <section class="sel_1_section visible" data-section="">
                <div>
                    <form class="formRadius">

                        <%- include('../../partials/_csrfField') %>

                        <div class="card d-flex flex-column z-depth-5 width-percent-97 margin-left-percent-1_5 overflow-hidden">

                            <div class="card-header p-2 height-rem-3_5">
                                <label class="text-center w-100 headers-content">
                                Εισαγωγή Νέου Νομίμου Εκπροσώπου
                                </label>
                            </div>

                            <div class="card-body overflow-auto flex-grow-1 w-100 bg-white" id="cardBody">
                                <input type="hidden" name="companyId" id="companyId" class="form-control" value="<%= company._id %>" />
                                <input type="hidden" name="companyKodikos" id="companyKodikos" class="form-control" value="<%= company.kod %>" />
                                <input type="hidden" name="companyTeam" id="companyTeam" class="form-control" value="<%= company.team %>" />

                                <div class="row form-group g-3 align-items-center">
                                    <div class="col-1-5 right-align">
                                        <label class="col-form-label label-font-size">
                                            Επιλεγμένη Εταιρεία
                                        </label>
                                    </div>
                                    <div class="col-8 left-align font-size-rem-1_1 cgreen">
                                        <label>
                                            <% if (company && company.kod && company.kod.length > 0) { %>
                                                <%- company.kod + "&nbsp;&nbsp;&nbsp; " + company.eponymia + " &nbsp;&nbsp;" +
                                                company.firstname %>
                                            <% } %>
                                        </label>
                                    </div>
                                </div>  

                                <hr class="division"></hr>

                                <div class="row form-group g-3 align-items-center mb-1">

                                    <div class="col-1-5 right-align">
                                        <label 
                                            for="afm_ekprosopoy" class="col-form-label label-font-size field-required">
                                            ΑΦΜ
                                        </label>
                                    </div>
                                    <div class="col-1-5">
                                        <input 
                                            type="text" 
                                            name="afm" 
                                            id="afm_ekprosopoy" 
                                            class="form-control input-contents" 
                                            value="" 
                                            maxlength="9" 
                                            pattern="[0-9]{1,}" 
                                        />
                                    </div>
                                    
                                    <div class="col-2-5 right-align">
                                        <label
                                            for="nomiko_prosopo"
                                            class="col-form-label label-font-size">
                                            Νομικό Πρόσωπο
                                        </label>
                                    </div>
                                    <div class="col-1 left-align checkbox-flex-center">
                                        <input 
                                            class="form-check-input custom-checkbox checkbox-class" 
                                            type="checkbox"
                                            id="nomiko_prosopo"
                                            name="nomiko_prosopo"
                                            value=""
                                        />
                                        <label
                                            for="nomiko_prosopo"
                                            id="label-nomiko_prosopo"
                                            class="margin-left-0_75rem fw600">
                                            ΟΧΙ
                                        </label>
                                    </div>

                                    <div class="col-1-5 right-align">
                                        <label
                                            for="nomikhmorfh"
                                            class="col-form-label label-font-size">
                                            Νομική Μορφή
                                        </label>
                                    </div>
                                    <input
                                        type="hidden"
                                        name="nomikhmorfh_stathera"
                                        id="nomikhmorfh_stathera"
                                        class="form-control input-contents"
                                        value="<%= safe("nomikhmorfh_stathera") %>"
                                        readonly
                                    />

                                    <div class="col-3-75">
                                        <select
                                            id="nomikhmorfh"
                                            name="nomikhmorfh"
                                            class="tom-dropdown selectpicker-dropdown-normal left-align"
                                            aria-label="Νομική Μορφή"
                                            data-api="/api/dropdown/nomikesMorfes"
                                            single
                                            data-target-input="<%= `nomikhmorfh_stathera` %>"
                                            data-preselect="<%= `nomikhmorfh_stathera` %>"
                                            data-preload-all="true"
                                            data-pad-length="3"
                                            data-xrhsh-related="false"
                                            data-team-related="false"
                                            data-company-related="false"
                                            data-mhnas-related="false"
                                            placeholder="Αναζήτηση Νομικής Μορφής"
                                            data-depends-on="nomiko_prosopo"
                                            data-enable-if-checked="true">
                                        </select>
                                    </div>
                                </div>

                                <div class="row form-group g-3 align-items-center mb-1">
                                    <div class="col-1-5 right-align">
                                        <label
                                            for="eponymia"
                                            class="col-form-label label-font-size field-required">
                                            Επώνυμο/μία
                                        </label>
                                    </div>
                                    <div class="col-5">
                                        <input
                                            type="text"
                                            name="eponymia"
                                            id="eponymia"
                                            class="form-control input-contents"
                                            value=""
                                            required
                                        />
                                    </div>

                                    <div class="col-1-5 right-align">
                                        <label
                                            for="onoma"
                                            class="col-form-label label-font-size">
                                            Όνομα
                                        </label>
                                    </div>
                                    <div class="col-3">
                                        <input
                                            type="text"
                                            name="onoma"
                                            id="onoma"
                                            class="form-control input-contents"
                                            value=""
                                        />
                                    </div>
                                </div>

                                <div class="row form-group g-3 align-items-center mb-1">
                                    <div class="col-1-5 right-align">
                                        <label
                                            for="eponymo_patera"
                                            class="col-form-label label-font-size">
                                            Επώνυμο Πατέρα
                                        </label>
                                    </div>
                                    <div class="col-5">
                                        <input
                                            type="text"
                                            name="eponymo_patera"
                                            id="eponymo_patera"
                                            class="form-control input-contents"
                                            value=""
                                        />
                                    </div>

                                    <div class="col-1-5 right-align">
                                        <label
                                            for="onoma_patera"
                                            class="col-form-label label-font-size">
                                            Όνομα Πατέρα
                                        </label>
                                    </div>
                                    <div class="col-3">
                                        <input
                                            type="text"
                                            name="onoma_patera"
                                            id="onoma_patera"
                                            class="form-control input-contents"
                                            value=""
                                        />
                                    </div>
                                </div>

                                <div class="row form-group g-3 align-items-center mb-1">
                                    <div class="col-1-5 right-align">
                                        <label
                                            for="onoma_mhteras"
                                            class="col-form-label label-font-size">
                                            Όνομα Μητέρας
                                            </label>
                                    </div>

                                    <div class="col-3">
                                        <input
                                            type="text"
                                            name="onoma_mhteras"
                                            id="onoma_mhteras"
                                            class="form-control input-contents"
                                            value=""
                                        />
                                    </div>

                                    <div class="col-5"></div>
                                </div>

                                <div class="row form-group g-3 align-items-center mb-1">
                                    <div class="col-1-5 right-align">
                                        <label
                                            for="eponymo_syzygoy"
                                            class="col-form-label label-font-size">
                                            Επώνυμο Συζύγου
                                        </label>
                                    </div>
                                    <div class="col-5">
                                        <input
                                            type="text"
                                            name="eponymo_syzygoy"
                                            id="eponymo_syzygoy"
                                            class="form-control input-contents"
                                            value=""
                                        />
                                    </div>

                                    <div class="col-1-5 right-align">
                                        <label
                                            for="onoma_syzygoy"
                                            class="col-form-label label-font-size">
                                            Όνομα Συζύγου
                                        </label>
                                    </div>
                                    <div class="col-3">
                                        <input
                                            type="text"
                                            name="onoma_syzygoy"
                                            id="onoma_syzygoy"
                                            class="form-control input-contents"
                                            value=""
                                        />
                                    </div>
                                </div>

                                <div class="row form-group g-3 align-items-center mb-1">
                                    <div class="col-1-5 right-align">
                                        <label
                                            for="topos_gennhshs"
                                            class="col-form-label label-font-size">
                                            Τόπος Γέννησης
                                        </label>
                                    </div>
                                    <div class="col-2">
                                        <input
                                            type="text"
                                            name="topos_gennhshs"
                                            id="topos_gennhshs"
                                            class="form-control input-contents"
                                            value=""
                                        />
                                    </div>

                                    <div class="col-3"></div>

                                    <div class="col-1-5 right-align">
                                        <label
                                            for="hmnia_gennhshs"
                                            class="col-form-label label-font-size">
                                            Ημ/νία Γέννησης
                                        </label>
                                    </div>
                                    <div class="col-2">
                                        <input
                                            type="date"
                                            name="hmnia_gennhshs"
                                            id="hmnia_gennhshs"
                                            class="date-control"
                                            value=""
                                        />
                                    </div>
                                </div>

                                <div class="row form-group g-3 align-items-center mb-1">
                                    <div class="col-1-5 right-align">
                                        <label for="odos" class="col-form-label label-font-size">
                                        Οδός
                                        </label>
                                    </div>
                                    <div class="col-5">
                                        <input
                                            type="text"
                                            name="odos"
                                            id="odos"
                                            class="form-control input-contents"
                                            value=""
                                        />
                                    </div>

                                    <div class="col-1-5 right-align">
                                        <label for="arithmos" class="col-form-label label-font-size">
                                        Αριθμός
                                        </label>
                                    </div>
                                    <div class="col-2">
                                        <input
                                            type="text"
                                            name="arithmos"
                                            id="arithmos"
                                            class="form-control input-contents"
                                            value=""
                                        />
                                    </div>

                                    <div class="col-1 right-align">
                                        <label for="tk" class="col-form-label label-font-size">
                                        Τ.Κ.
                                        </label>
                                    </div>
                                    <div class="col-1">
                                        <input
                                            type="text"
                                            name="tk"
                                            id="tk"
                                            class="form-control input-contents"
                                            value=""
                                            maxlength="5"
                                            pattern="[0-9]{1,}"
                                        />
                                    </div>
                                </div>

                                <div class="row form-group g-3 align-items-center field-required mb-1">
                                    <div class="col-1-5 right-align">
                                        <label
                                        for="perifereies"
                                        class="col-form-label label-font-size">
                                            Περιφέρεια
                                        </label>
                                    </div>

                                    <div class="col-4">
                                        <select
                                            class="form-select selectpicker-dropdown-normal"
                                            data-live-search="true"
                                            name="perifereies"
                                            id="perifereies"
                                            required>
                                        </select>
                                    </div>

                                    <div class="col-1"></div>

                                    <div class="col-1-5 right-align">
                                        <label
                                            for="nomos"
                                            class="col-form-label label-font-size field-required">
                                            Περιφ. Ενότητα
                                        </label>
                                    </div>
                                    <div class="col-4">
                                        <select
                                            class="form-select selectpicker-dropdown-normal font-size-vw-1"
                                            data-live-search="true"
                                            name="nomos"
                                            id="nomos"
                                            required
                                            disabled
                                        ></select>
                                    </div>
                                </div>

                                <div class="row form-group g-3 align-items-center mb-1">
                                    <div class="col-1-5 right-align">
                                        <label
                                            for="dhmos"
                                            class="col-form-label label-font-size field-required">
                                            Δημοτ. Ενότητα
                                        </label>
                                    </div>
                                    <div class="col-4">
                                        <select
                                            class="form-select selectpicker-dropdown-normal font-size-vw-1"
                                            data-live-search="true"
                                            name="dhmos"
                                            id="dhmos"
                                            required
                                            disabled>
                                        </select>
                                    </div>

                                    <div class="col-1"></div>

                                    <div class="col-1-5 right-align">
                                        <label
                                            for="polh"
                                            class="col-form-label label-font-size field-required">
                                            Δημοτ.Διαμέρισμα
                                        </label>
                                    </div>
                                    <div class="col-4">
                                        <select
                                            class="form-select selectpicker-dropdown-normal font-size-vw-1"
                                            data-live-search="true"
                                            name="polh"
                                            id="polh"
                                            required
                                            disabled>
                                        </select>
                                    </div>
                                </div>

                                <div class="row form-group g-3 align-items-center mb-1">
                                    <div class="col-1-5 right-align">
                                        <label for="thlefono" class="col-form-label label-font-size">
                                        Τηλέφωνο
                                        </label>
                                    </div>
                                    <div class="col-2">
                                        <input
                                            type="text"
                                            name="thlefono"
                                            id="thlefono"
                                            class="form-control input-contents"
                                            value=""
                                            maxlength="10"
                                            pattern="[0-9]{1,}"
                                        />
                                    </div>

                                    <div class="col-3"></div>

                                    <div class="col-1-5 right-align">
                                        <label for="email" class="col-form-label label-font-size">
                                        e-Mail
                                        </label>
                                    </div>
                                    <div class="col-4">
                                        <input
                                            type="email"
                                            name="email"
                                            id="email"
                                            class="form-control input-contents"
                                            value=""
                                        />
                                    </div>
                                </div>

                                <div class="row form-group g-3 align-items-center mb-1">
                                    <div class="col-1-5 right-align">
                                        <label
                                            for="taytothtaEkprosopoy"
                                            class="col-form-label label-font-size">
                                            ΤύποςΤαυτότητας
                                        </label>
                                    </div>
                                    <input
                                        type="hidden"
                                        name="taytothta_stathera"
                                        id="taytothta_stathera"
                                        class="form-control input-contents"
                                        value="<%= safe("taytothta_stathera") %>"
                                        readonly
                                    />

                                    <div class="col-3-75">
                                        <select
                                            id="taytothtaEkprosopoy"
                                            name="taytothtaEkprosopoy"
                                            class="tom-dropdown selectpicker-dropdown-normal left-align"
                                            aria-label="Νομιμοποιητικά έγγραφα"
                                            data-api="/api/dropdown/nomimoiEkprosopoi/taytothta"
                                            single
                                            data-target-input=<%= `taytothta_stathera` %>
                                            data-preselect=<%= `taytothta_stathera` %>
                                            data-preload-all="true"
                                            data-pad-length="6"
                                            data-xrhsh-related="false"
                                            data-team-related="false"
                                            data-company-related="false"
                                            data-mhnas-related="false"
                                            placeholder="Αναζήτηση Τύπων Νομιμοποιητικών Εγγράφων">
                                        </select>
                                    </div>

                                    <div class="col-1"></div>

                                    <div class="col-1-75 right-align">
                                        <label
                                            for="arithmos_taytothtas"
                                            class="col-form-label label-font-size">
                                            Αριθμός Ταυτ/τας
                                        </label>
                                    </div>
                                    <div class="col-2">
                                        <input
                                            type="text"
                                            name="arithmos_taytothtas"
                                            id="arithmos_taytothtas"
                                            class="form-control input-contents"
                                            value=""
                                        />
                                    </div>
                                </div>

                                <div class="row form-group g-3 align-items-center mb-1">
                                    <div class="col-1-5 right-align">
                                        <label
                                            for="hmnia_ekdoshs"
                                            class="col-form-label label-font-size">
                                            Ημ/νία Έκδοσης
                                        </label>
                                    </div>
                                    <div class="col-2">
                                        <input
                                            type="date"
                                            name="hmnia_ekdoshs"
                                            id="hmnia_ekdoshs"
                                            class="date-control"
                                            value=""
                                        />
                                    </div>

                                    <div class="col-3"></div>

                                    <div class="col-1-5 right-align">
                                        <label
                                            for="arxh_ekdoshs"
                                            class="col-form-label label-font-size">
                                            Αρχή Έκδοσης
                                        </label>
                                    </div>
                                    <div class="col-4">
                                        <input
                                            type="text"
                                            name="arxh_ekdoshs"
                                            id="arxh_ekdoshs"
                                            class="form-control input-contents"
                                            value=""
                                        />
                                    </div>
                                </div>

                                <div class="row form-group g-3 align-items-center mb-1">
                                    <div class="col-1-5 right-align">
                                        <label
                                            for="doyEkprosopoy"
                                            class="col-form-label label-font-size">
                                            Δ.Ο.Υ.
                                        </label>
                                    </div>
                                    <input
                                        type="hidden"
                                        name="doy_stathera"
                                        id="doy_stathera"
                                        class="form-control input-contents"
                                        value="<%= safe("doy_stathera") %>"
                                        readonly
                                    />

                                    <div class="col-4-75">
                                        <select
                                            id="doyEkprosopoy"
                                            name="doyEkprosopoy"
                                            class="tom-dropdown selectpicker-dropdown-normal left-align"
                                            aria-label="Δ.Ο.Υ. Εκπροσώπου"
                                            data-api="/api/dropdown/doy"
                                            single
                                            data-target-input=<%= `doy_stathera` %>
                                            data-preselect=<%= `doy_stathera` %>
                                            data-preload-all="true"
                                            data-pad-length="3"
                                            data-xrhsh-related="false"
                                            data-team-related="false"
                                            data-company-related="false"
                                            data-mhnas-related="false"
                                            placeholder="Αναζήτηση Δ.Ο.Υ. Εκπροσώπου">
                                        </select>
                                    </div>

                                    <div class="col-1-75 right-align">
                                        <label
                                            for="ame"
                                            class="col-form-label label-font-size">
                                            Α.Μ.Ε.
                                        </label>
                                    </div>
                                    <div class="col-2">
                                        <input
                                            type="text"
                                            name="ame"
                                            id="ame"
                                            class="form-control input-contents"
                                            value=""
                                        />
                                    </div>
                                </div>

                                <div class="row form-group g-3 align-items-center mb-2">
                                    <div class="col-1-5 right-align">
                                        <label
                                            for="idiothtaEkprosopoy"
                                            class="col-form-label label-font-size">
                                            Ιδιότητα
                                        </label>
                                    </div>
                                    <input
                                        type="hidden"
                                        name="idiothta_stathera"
                                        id="idiothta_stathera"
                                        class="form-control input-contents"
                                        value="<%= safe("idiothta_stathera") %>"
                                        readonly
                                    />

                                    <div class="col-4-75">
                                        <select
                                            id="idiothtaEkprosopoy"
                                            name="idiothtaEkprosopoy"
                                            class="tom-dropdown selectpicker-dropdown-normal left-align"
                                            aria-label="Ιδιότητα Εκπροσώπου"
                                            data-api="/api/dropdown/nomimoiEkprosopoi/idiothta"
                                            single
                                            data-target-input=<%= `idiothta_stathera` %>
                                            data-preselect=<%= `idiothta_stathera` %>
                                            data-preload-all="true"
                                            data-pad-length="3"
                                            data-xrhsh-related="false"
                                            data-team-related="false"
                                            data-company-related="false"
                                            data-mhnas-related="false"
                                            placeholder="Αναζήτηση Ιδιότητας Εκπροσώπου">
                                        </select>
                                    </div>

                                    <div class="col-1-75 right-align">
                                        <label
                                            for="hmnia_enarjhs_idiothtas"
                                            class="col-form-label label-font-size">
                                            Έναρξης Ιδιότητας
                                        </label>
                                    </div>
                                    <div class="col-2">
                                        <input
                                            type="date"
                                            name="hmnia_enarjhs_idiothtas"
                                            id="hmnia_enarjhs_idiothtas"
                                            class="date-control"
                                            value=""
                                        />
                                    </div>
                                </div>
                            </div>

                            <div class="card-footer mt-auto cardFooter">
                                <div class="d-inline-block d-flex cardFooter01">
                                    <button
                                        type="button"
                                        class="btn btn-brown rounded-4 mt-2 w-20 buttons-content submitButton">
                                        <i class="bi bi-floppy"></i> Αποθήκευση
                                    </button>
                                    <a
                                        class="btn btn-brown buttons-content rounded-4 mt-2 w-20"
                                        href="/companies/nomimoi_ekprosopoi"
                                        ><i class="bi bi-chevron-double-left"></i> Επιστροφή
                                    </a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </div>
</div>

<% const isProduction = NODE_ENV === 'production'; %>

<script nonce="<%= nonce %>">
    window.RUNTIME_ENV = "<%= NODE_ENV %>";
</script>
              
<script nonce="<%= nonce %>" src="/static/<%= NODE_ENV === 'production' ? 'min.js' : 'js' %>/common/getCompanyDescription<%= NODE_ENV === 'production' ? '.min' : '' %>.js"></script>
<script nonce="<%= nonce %>" src="/static/<%= NODE_ENV === 'production' ? 'min.js' : 'js' %>/companies/nomimoiekprosopoi/getFieldValues<%= NODE_ENV === 'production' ? '.min' : '' %>.js"></script>
<script nonce="<%= nonce %>" src="/static/<%= NODE_ENV === 'production' ? 'min.js' : 'js' %>/companies/nomimoiekprosopoi/loadDropdowns_add<%= NODE_ENV === 'production' ? '.min' : '' %>.js"></script>

<script nonce="<%= nonce %>" src="/static/js/companies/genikastoixeia/dropdownsValue.js"></script>

<script nonce="<%= nonce %>" type="module" src="/static/js/common/initTomDropdown.js"></script>

<!-- Enabled/Disablet των ts ανάλογα με το checkbox -->
<script nonce="<%= nonce %>" type="module">
    import { bindCheckboxControlsSelect } from '/static/js/common/dependentSelectToggle.js';

    // Νομική μορφή
    bindCheckboxControlsSelect({
        checkboxId: 'nomiko_prosopo',
        selectId  : 'nomikhmorfh',
        hiddenId  : 'nomikhmorfh_stathera'
    });

    //   Για 2o, 3ο κλπ ts πχ Ιδιότητα εκπροσώπου κλπ 

    //   bindCheckboxControlsSelect({
    //     checkboxId: 'nomiko_prosopo',
    //     selectId  : 'idiothtaEkprosopoy',
    //     hiddenId  : 'idiothta_stathera'
    //   });
</script>

<script nonce="<%= nonce %>" src="/static/<%= NODE_ENV === 'production' ? 'min.js' : 'js' %>/common/navTabs<%= NODE_ENV === 'production' ? '.min' : '' %>.js"></script>
<script nonce="<%= nonce %>" src="/static/<%= NODE_ENV === 'production' ? 'min.js' : 'js' %>/common/sectionsVisible<%= NODE_ENV === 'production' ? '.min' : '' %>.js"></script>
<script nonce="<%= nonce %>" src="/static/<%= NODE_ENV === 'production' ? 'min.js' : 'js' %>/common/toggleLabel<%= NODE_ENV === 'production' ? '.min' : '' %>.js"></script>
<script nonce="<%= nonce %>" src="/static/<%= NODE_ENV === 'production' ? 'min.js' : 'js' %>/dates/convertDateToISO<%= NODE_ENV === 'production' ? '.min' : '' %>.js"></script>
<script nonce="<%= nonce %>" src="/static/<%= NODE_ENV === 'production' ? 'min.js' : 'js' %>/common/tooltipsForButtons<%= NODE_ENV === 'production' ? '.min' : '' %>.js"></script>
<script nonce="<%= nonce %>" src="/static/<%= NODE_ENV === 'production' ? 'min.js' : 'js' %>/common/moveByEnter<%= NODE_ENV === 'production' ? '.min' : '' %>.js"></script>
<script nonce="<%= nonce %>" src="/static/<%= NODE_ENV === 'production' ? 'min.js' : 'js' %>/common/clearableInputs<%= NODE_ENV === 'production' ? '.min' : '' %>.js"></script>
<script nonce="<%= nonce %>" src="/static/<%= NODE_ENV === 'production' ? 'min.js' : 'js' %>/common/checkAfm<%= NODE_ENV === 'production' ? '.min' : '' %>.js"></script>
