<div class="tadded-container">
  <div class="container-fluid">
    <div class="menu_Links">
      <ul>
        <li class="active" style="display: none;">Σταθερά Στοιχεία</li>
      </ul>
    </div>
    <!-- <hr style="margin-top: -2rem" /> -->

    <div class="sections">
      <section class="sel_1_section visible" data-section="Σταθερά Στοιχεία">
        <div class="container">
          <form class="formRadius">

            <div class="card d-flex flex-column z-depth-5 w-97" style="margin-left: 1.5%;">

              <div class="card-header">
                <label class="text-center headers-content">
                  Συντήρηση Στοιχείων Νομίμων Εκπροσώπων
                </label>
              </div>

              <div class="card-body overflow-auto flex-grow-1" style="height: 67.5vh; background-color: #ffffff;" >
                <input type="hidden" name="companyId" id="companyId" class="form-control" value="<%= company._id %>" />
                <input type="hidden" name="companyKodikos" id="companyKodikos" class="form-control" value="<%= company.kod %>" />
                <input type="hidden" name="companyTeam" id="companyTeam" class="form-control" value="<%= company.team %>" />
                <input type="hidden" name="nomimosEkprosoposId" id="nomimosEkprosoposId" class="form-control" value="<%= nomimosEkprosopos._id %>" />
                <input type="hidden" name="nomimosEkprosoposNomos" id="nomimosEkprosoposNomos" class="form-control" value="<%= nomimosEkprosopos.nomos %>" />
                <input type="hidden" name="nomimosEkprosoposDhmos" id="nomimosEkprosoposDhmos" class="form-control" value="<%= nomimosEkprosopos.dhmos %>" />
                <input type="hidden" name="nomimosEkprosoposPolh" id="nomimosEkprosoposPolh" class="form-control" value="<%= nomimosEkprosopos.polh %>" />

                <div class="row form-group g-3 align-items-center">
                  <div class="col-1-5 right-align">
                    <label class="col-form-label label-font-size">
                      Επιλεγμένη Εταιρεία
                    </label>
                  </div>
                  <div
                    class="col-8 left-align"
                    style="font-size: 1rem; color: #1f6d00">
                    
                    <label class="col-form-label field-required">
                      <% if (company && company.kod && company.kod.length > 0) { %> 
                        <%- company.kod + "&nbsp;&nbsp;&nbsp; " + company.eponymia + " &nbsp;&nbsp;" + company.firstname %>
                      <% } %>
                    </label>
                  </div>

                  <div class="col-1-5 right-align">
                    <label class="col-form-label label-font-size"
                      >Κωδ.Νομ.Εκπροσώπου
                    </label>
                  </div>

                  <div class="col-1">
                    <input
                      type="text"
                      name="kodikos"
                      id="kodikos"
                      class="form-control input-contents"
                      value="<%= nomimosEkprosopos.kodikos %>"
                      disabled
                    />
                  </div>
                </div>

                <hr class="division"></hr>

                <div class="row form-group g-3 align-items-center mb-1">
                  <div class="col-1-5 right-align">
                    <label
                      for="nomiko_prosopo"
                      class="col-form-label label-font-size">
                      Νομικό Πρόσωπο
                    </label>
                  </div>
                  <div class="col-1 left-align checkbox-flex-center">
                    <input class="form-check-input custom-checkbox checkbox-class" 
                      type="checkbox"
                      id="nomiko_prosopo"
                      name="nomiko_prosopo"<%= nomimosEkprosopos.nomiko_prosopo ? 'checked' : '' %>
                      value=""
                    />
                    <label
                      for="nomiko_prosopo"
                      id="label-nomiko_prosopo"
                      style="margin-left: 0.75rem; font-size: 0.875vw; font-weight: 600">
                      ΟΧΙ
                    </label>
                  </div>

                  <div class="col-4"></div>

                  <div class="col-1-5 right-align">
                    <label
                      for="nomikh_morfh"
                      class="col-form-label label-font-size-smaller">
                      Νομική Μορφή
                    </label>
                  </div>
                  <div class="col-4">
                    <select
                      class="form-select selectpicker-dropdown-normal"
                      data-live-search="true"
                      data-toggle="nomikh_morfh"
                      name="nomikh_morfh"
                      id="nomikh_morfh"
                      data-selected="<%= nomimosEkprosopos.nomikh_morfh %>" >
                    </select>
                  </div>
                </div>

                <div class="row form-group g-3 align-items-center mb-1">
                  <div class="col-1-5 right-align">
                    <label
                      for="eponymia"
                      class="col-form-label label-font-size field-required">
                        Επώνυμο/μία
                    </label>
                  </div>
                  <div class="col-5">
                    <input
                      type="text"
                      name="eponymia"
                      id="eponymia"
                      class="form-control input-contents"
                      value="<%= nomimosEkprosopos.eponymia %>"
                      required
                    />
                  </div>

                  <div class="col-1-5 right-align">
                    <label
                      for="onoma"
                      class="col-form-label label-font-size">
                        Όνομα
                    </label>
                  </div>
                  <div class="col-3">
                    <input
                      type="text"
                      name="onoma"
                      id="onoma"
                      class="form-control input-contents"
                      value="<%= nomimosEkprosopos.onoma %>"
                    />
                  </div>
                </div>

                <div class="row form-group g-3 align-items-center mb-1">
                  <div class="col-1-5 right-align">
                    <label
                      for="eponymo_patera"
                      class="col-form-label label-font-size">
                        Επώνυμο Πατέρα
                    </label>
                  </div>
                  <div class="col-5">
                    <input
                      type="text"
                      name="eponymo_patera"
                      id="eponymo_patera"
                      class="form-control input-contents"
                      value="<%= nomimosEkprosopos.eponymo_patera %>"
                    />
                  </div>

                  <div class="col-1-5 right-align">
                    <label
                      for="onoma_patera"
                      class="col-form-label label-font-size">
                        Όνομα Πατέρα
                    </label>
                  </div>
                  <div class="col-3">
                    <input
                      type="text"
                      name="onoma_patera"
                      id="onoma_patera"
                      class="form-control input-contents"
                      value="<%= nomimosEkprosopos.onoma_patera %>"
                    />
                  </div>
                </div>

                <div class="row form-group g-3 align-items-center mb-1">
                  <div class="col-1-5 right-align">
                    <label
                      for="onoma_mhteras"
                      class="col-form-label label-font-size">
                        Όνομα Μητέρας
                    </label>
                  </div>

                  <div class="col-3">
                    <input
                      type="text"
                      name="onoma_mhteras"
                      id="onoma_mhteras"
                      class="form-control input-contents"
                      value="<%= nomimosEkprosopos.onoma_mhteras %>"
                    />
                  </div>

                  <div class="col-2"></div>

                  <div class="col-1-5 right-align">
                    <label for="afm" class="col-form-label label-font-size field-required">
                      ΑΦΜ
                    </label>
                  </div>
                  <div class="col-1-5">
                    <input type="text" 
                      name="afm" 
                      id="afm" 
                      class="form-control input-contents" 
                      value="<%= nomimosEkprosopos.afm %>" 
                      maxlength="9" 
                      pattern="[0-9]{1,}" 
                    />
                  </div>
              
                </div>

                <div class="row form-group g-3 align-items-center mb-1">
                  <div class="col-1-5 right-align">
                    <label
                      for="eponymo_syzygoy"
                      class="col-form-label label-font-size">
                        Επώνυμο Συζύγου
                    </label>
                  </div>
                  <div class="col-5">
                    <input
                      type="text"
                      name="eponymo_syzygoy"
                      id="eponymo_syzygoy"
                      class="form-control input-contents"
                      value="<%= nomimosEkprosopos.eponymo_syzygoy %>"
                    />
                  </div>

                  <div class="col-1-5 right-align">
                    <label
                      for="onoma_syzygoy"
                      class="col-form-label label-font-size">
                        Όνομα Συζύγου
                    </label>
                  </div>
                  <div class="col-3">
                    <input
                      type="text"
                      name="onoma_syzygoy"
                      id="onoma_syzygoy"
                      class="form-control input-contents"
                      value="<%= nomimosEkprosopos.onoma_syzygoy %>"
                    />
                  </div>
                </div>

                <div class="row form-group g-3 align-items-center mb-1">
                  <div class="col-1-5 right-align">
                    <label
                      for="topos_gennhshs"
                      class="col-form-label label-font-size">
                      Τόπος Γέννησης
                    </label>
                  </div>
                  <div class="col-2">
                    <input
                      type="text"
                      name="topos_gennhshs"
                      id="topos_gennhshs"
                      class="form-control input-contents"
                      value="<%= nomimosEkprosopos.topos_gennhshs %>"
                    />
                  </div>

                  <div class="col-3"></div>

                  <div class="col-1-5 right-align">
                    <label
                      for="hmnia_gennhshs"
                      class="col-form-label label-font-size">
                      Ημ/νία Γέννησης
                    </label>
                  </div>
                  <div class="col-2">
                    <input
                      type="date"
                      name="hmnia_gennhshs"
                      id="hmnia_gennhshs"
                      class="date-control"
                      value="<%= nomimosEkprosopos.hmnia_gennhshs %>"
                    />
                  </div>
                </div>

                <div class="row form-group g-3 align-items-center mb-1">
                  <div class="col-1-5 right-align">
                    <label for="odos" class="col-form-label label-font-size">
                      Οδός
                    </label>
                  </div>
                  <div class="col-5">
                    <input
                      type="text"
                      name="odos"
                      id="odos"
                      class="form-control input-contents"
                      value="<%= nomimosEkprosopos.odos %>"
                    />
                  </div>

                  <div class="col-1-5 right-align">
                    <label for="arithmos" class="col-form-label label-font-size">
                      Αριθμός
                    </label>
                  </div>
                  <div class="col-2">
                    <input
                      type="text"
                      name="arithmos"
                      id="arithmos"
                      class="form-control input-contents"
                      value="<%= nomimosEkprosopos.arithmos %>"
                    />
                  </div>

                  <div class="col-1 right-align">
                    <label for="tk" class="col-form-label label-font-size">
                      Τ.Κ.
                    </label>
                  </div>
                  <div class="col-1">
                    <input
                      type="text"
                      name="tk"
                      id="tk"
                      class="form-control input-contents"
                      value="<%= nomimosEkprosopos.tk %>"
                      maxlength="5"
                      pattern="[0-9]{1,}"
                    />
                  </div>
                </div>

                <div
                  class="row form-group g-3 align-items-center field-required mb-1"
                >
                  <div class="col-1-5 right-align">
                    <label
                      for="perifereies"
                      class="col-form-label label-font-size">
                        Περιφέρεια
                    </label>
                  </div>

                  <div class="col-4">
                    <select
                      class="form-select selectpicker-dropdown-normal"
                      data-live-search="true"
                      name="perifereies"
                      id="perifereies">
                      <% perifereies.forEach(function(perifereia) { %> 
                        <option value="<%= perifereia.kodikos %>"
                          <% if(perifereia.kodikos == nomimosEkprosopos.perifereia) { %>
                            selected
                          <% } %> >
                          <%= perifereia.perigrafh %>
                        </option>
                      <% }); %>
                    </select>
                  </div>

                  <div class="col-1"></div>

                  <div class="col-1-5 right-align">
                    <label
                      for="nomos"
                      class="col-form-label label-font-size field-required">
                      Περιφ. Ενότητα
                    </label>
                  </div>
                  <div class="col-4">
                    <select
                      class="form-select selectpicker-dropdown-normal"
                      data-live-search="true"
                      name="nomos"
                      id="nomos"
                      style="font-size: 1vw"
                      required>
                    </select>
                  </div>
                </div>

                <div class="row form-group g-3 align-items-center mb-1">
                  <div class="col-1-5 right-align">
                    <label
                      for="dhmos"
                      class="col-form-label label-font-size field-required">
                        Δημοτ. Ενότητα
                    </label>
                  </div>
                  <div class="col-4">
                    <select
                      class="form-select selectpicker-dropdown-normal"
                      data-live-search="true"
                      name="dhmos"
                      id="dhmos"
                      style="font-size: 1vw"
                      required>
                    </select>
                  </div>

                  <div class="col-1"></div>

                  <div class="col-1-5 right-align">
                    <label
                      for="polh"
                      class="col-form-label label-font-size field-required">
                      Δημοτ.Διαμέρισμα
                    </label>
                  </div>
                  <div class="col-4">
                    <select
                      class="form-select selectpicker-dropdown-normal"
                      data-live-search="true"
                      name="polh"
                      id="polh"
                      style="font-size: 1vw"
                      required>
                    </select>
                  </div>
                </div>

                <div class="row form-group g-3 align-items-center mb-1">
                  <div class="col-1-5 right-align">
                    <label for="thlefono" class="col-form-label label-font-size">
                      Τηλέφωνο
                    </label>
                  </div>
                  <div class="col-2">
                    <input
                      type="text"
                      name="thlefono"
                      id="thlefono"
                      class="form-control input-contents"
                      value="<%= nomimosEkprosopos.thlefono %>"
                      maxlength="10"
                      pattern="[0-9]{1,}"
                    />
                  </div>

                  <div class="col-3"></div>

                  <div class="col-1-5 right-align">
                    <label for="email" class="col-form-label label-font-size">
                      e-Mail
                    </label>
                  </div>
                  <div class="col-4">
                    <input
                      type="email"
                      name="email"
                      id="email"
                      class="form-control input-contents"
                      value="<%= nomimosEkprosopos.email %>"
                    />
                  </div>
                </div>

                <div class="row form-group g-3 align-items-center mb-1">
                  <div class="col-1-5 right-align">
                    <label
                      for="typos_taytothtas"
                      class="col-form-label label-font-size">
                        Τύπος Ταυτότητας
                    </label>
                  </div>

                  <div class="col-4">
                    <select
                      class="form-select selectpicker-dropdown-normal"
                      data-live-search="true"
                      name="typos_taytothtas"
                      id="typos_taytothtas"
                      data-selected="<%= nomimosEkprosopos.typos_taytothtas %>" >
                    </select>
                  </div>

                  <div class="col-1"></div>

                  <div class="col-1-5 right-align">
                    <label
                      for="arithmos_taytothtas"
                      class="col-form-label label-font-size">
                      Αριθμός Ταυτ/τας
                    </label>
                  </div>
                  <div class="col-2">
                    <input
                      type="text"
                      name="arithmos_taytothtas"
                      id="arithmos_taytothtas"
                      class="form-control input-contents"
                      value="<%= nomimosEkprosopos.arithmos_taytothtas %>"
                    />
                  </div>
                </div>

                <div class="row form-group g-3 align-items-center mb-1">
                  <div class="col-1-5 right-align">
                    <label
                      for="hmnia_ekdoshs"
                      class="col-form-label label-font-size">
                      Ημ/νία Έκδοσης
                    </label>
                  </div>
                  <div class="col-2">
                    <input
                      type="date"
                      name="hmnia_ekdoshs"
                      id="hmnia_ekdoshs"
                      class="date-control"
                      value="<%= nomimosEkprosopos.hmnia_ekdoshs %>"
                    />
                  </div>

                  <div class="col-3"></div>

                  <div class="col-1-5 right-align">
                    <label
                      for="arxh_ekdoshs"
                      class="col-form-label label-font-size">
                      Αρχή Έκδοσης
                    </label>
                  </div>
                  <div class="col-4">
                    <input
                      type="text"
                      name="arxh_ekdoshs"
                      id="arxh_ekdoshs"
                      class="form-control input-contents"
                      value="<%= nomimosEkprosopos.arxh_ekdoshs %>"
                    />
                  </div>
                </div>

                <div class="row form-group g-3 align-items-center mb-1">
                  <div class="col-1-5 right-align">
                    <label
                      for="doy"
                      class="col-form-label label-font-size">
                        Δ.Ο.Υ.
                    </label>
                  </div>

                  <div class="col-5">
                    <select
                      class="form-select selectpicker-dropdown-normal"
                      data-live-search="true"
                      name="doy"
                      id="doy"
                      data-selected="<%= nomimosEkprosopos.doy %>" >
                    </select>
                  </div>

                  <div class="col-1-5 right-align">
                    <label
                      for="ame"
                      class="col-form-label label-font-size">
                      Α.Μ.Ε.
                    </label>
                  </div>
                  <div class="col-2">
                    <input
                      type="text"
                      name="ame"
                      id="ame"
                      class="form-control input-contents"
                      value="<%= nomimosEkprosopos.ame %>"
                    />
                  </div>
                </div>

                <div class="row form-group g-3 align-items-center mb-2">
                  <div class="col-1-5 right-align">
                    <label
                      for="idiothta"
                      class="col-form-label label-font-size">
                      Ιδιότητα
                    </label>
                  </div>
                  <div class="col-5">
                    <select
                      class="form-select selectpicker-dropdown-normal"
                      data-live-search="true"
                      name="idiothta"
                      id="idiothta"
                      data-selected="<%= nomimosEkprosopos.idiothta %>" >
                    </select>
                  </div>

                  <div class="col-1-5 right-align">
                    <label
                      for="hmnia_enarjhs_idiothtas"
                      class="col-form-label label-font-size">
                      Έναρξης Ιδιότητας
                    </label>
                  </div>
                  <div class="col-2">
                    <input
                      type="date"
                      name="hmnia_enarjhs_idiothtas"
                      id="hmnia_enarjhs_idiothtas"
                      class="date-control"
                      value="<%= nomimosEkprosopos.hmnia_enarjhs_idiothtas %>"
                    />
                  </div>
                </div>
              </div>
              <div
                class="card-footer mt-auto"
              >
                <div
                  class="d-inline-block d-flex"
                  style="
                    margin-top: -0.5rem !important;
                    margin-bottom: -1rem !important;
                    margin-left: 10px !important;
                    margin-right: 10px !important;
                    justify-content: space-around;
                  "
                >
                  <button
                    type="button"
                    class="btn btn-brown rounded-4 buttons-contents mt-2 w-20 submitButton"
                  >
                    <i class="bi bi-floppy"></i> Αποθήκευση
                  </button>
                  <a
                    class="btn btn-brown rounded-4 buttons-contents mt-2 w-20"
                    href="/companies/nomimoi_ekprosopoi"
                    ><i class="bi bi-chevron-double-left"></i> Επιστροφή
                  </a>
                </div>
              </div>
            </div>
          </form>
        </div>
      </section>
    </div>
    <% if (process.env.NODE_ENV === 'production') { %>
      <script src="/static/min.js/companies/nomimoiekprosopoi/nomimoi_ekprosopoi_edit_ejs.min.js"></script>
    <% } else { %>
      <script src="/static/js/common/getCompanyDescription.js"></script>
      <script src="/static/js/companies/nomimoiekprosopoi/putFieldValues.js"></script>
      <script src="/static/js/common/checkAfm.js"></script>
      <script src="/static/js/common/navTabs.js"></script>
      <script src="/static/js/companies/nomimoiekprosopoi/loadDropdowns_edit.js"></script>
      <script src="/static/js/common/toggleLabel.js"></script>
      <script src="/static/js/dates/convertDateToISO.js"></script>
      <script src="/static/js/dates/getFieldsDate.js"></script>
      <script src="/static/js/common/tooltipsForButtons.js"></script>
      <script src="/static/js/common/moveByEnter.js"></script>
    <% } %>
  </div>
</div>
