<div class="accordion-item">
  <h2 class="accordion-header">
    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne" style="background-color: #3d4e001e !important; font-size: 1vw; font-weight: 700; color: #525114">
      Προσωπικά Στοιχεία
    </button>
  </h2>

  <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
    <div class="accordion-body">
      <div class="row form-group g-3 align-items-center" style="background-color: #ffffff; margin-left: -1rem; margin-right: -1rem;">
        <div class="col-2 left-align">
          <label for="eponymo_patera" class="col-form-label label-font-size">
            Επώνυμο Πατέρα
          </label>
        </div>
        <div class="col-4">
          <input type="text" name="eponymo_patera" id="eponymo_patera" class="form-control input-contents" value="<%= ergazomenoiData.eponymo_patera %>" />
        </div>
        
        <div class="col-2 left-align">
          <label for="patronymo" class="col-form-label label-font-size field-required">
            Όνομα Πατέρα
          </label>
        </div>
        <div class="col-3">
          <input type="text" name="patronymo" id="patronymo" class="form-control input-contents" value="<%= ergazomenoiData.patronymo %>" />
        </div>
      </div>
      <div class="row form-group g-3 align-items-center" style="background-color: #ffffff; margin-left: -1rem; margin-right: -1rem;">
        <div class="col-2 left-align">
          <label for="eponymo_mhteras" class="col-form-label label-font-size">
            Επώνυμο Μητέρας
          </label>
        </div>
        <div class="col-4">
          <input type="text" name="eponymo_mhteras" id="eponymo_mhteras" class="form-control input-contents field-required" value="<%= ergazomenoiData.eponymo_mhteras %>" />
        </div>
        
        <div class="col-2 left-align">
          <label for="mhtronymo" class="col-form-label label-font-size field-required">
            Όνομα Μητέρας
          </label>
        </div>
        <div class="col-3">
          <input type="text" name="mhtronymo" id="mhtronymo" class="form-control input-contents" value="<%= ergazomenoiData.mhtronymo %>" />
        </div>
      </div>

      <div class="row form-group g-3 align-items-center" style="background-color: #ffffff; margin-left: -1rem; margin-right: -1rem;">
        <div class="col-2 left-align">
          <label for="energos" class="col-form-label label-font-size">
            Κατάσταση Εργαζομένου
          </label>
        </div>
        <div class="col-1 left-align checkbox-flex-center">
          <input type="checkbox" class="form-check-input custom-checkbox checkbox-class" id="energos" name="energos" <%= ergazomenoiData.energos ? 'checked' : '' %> value="" />
          <label for="energos" id="label-energos" style="margin-left: 0.75rem; font-size: 0.875vw;">
            ΑΝΕΝΕΡΓΟΣ
          </label>
        </div>
        
        <div class="col-0-5"></div>

        <div class="col-1 left-align">
          <label for="fylo" class="col-form-label label-font-size">
            Φύλο
          </label>
        </div>
        <div class="col-1 left-align checkbox-flex-center">
          <input type="checkbox" class="form-check-input custom-checkbox checkbox-class" id="fylo" name="fylo" <%= ergazomenoiData.fylo ? 'checked' : '' %> value="" />
          <label for="fylo" id="label-fylo" style="margin-left: 0.75rem; font-size: 0.875vw;">
            ΑΝΔΡΑΣ
          </label>
        </div>

        <div class="col-0-5"></div>

        <div class="col-2 left-align">
          <label for="doy" class="col-form-label label-font-size field-required">
            Δ.Ο.Υ.
          </label>
        </div>
        <div class="col-3-99">
          <select class="form-select selectpicker-dropdown-normal" data-live-search="true" name="doy" id="doy" data-selected="<%= ergazomenoiData.doy %>">
            >
          </select>
        </div>
      </div>

      <div class="row form-group g-3 align-items-center" style="background-color: #ffffff; margin-left: -1rem; margin-right: -1rem;">
        <div class="col-2 left-align">
          <label for="typos_taytothtas" class="col-form-label label-font-size field-required">
            Τύπος Νομ/κού Εγγράφου
          </label>
        </div>
        <div class="col-4">
          <select class="form-select selectpicker-dropdown-normal" data-live-search="true" name="typos_taytothtas" id="typos_taytothtas" data-selected="<%= ergazomenoiData.typos_taytothtas %>">
          </select>
        </div>

        <div class="col-2 left-align">
          <label for="adt" class="col-form-label label-font-size field-required">
            Αριθ.Νομιμ/κού Εγγράφου
          </label>
        </div>
        <div class="col-1-5">
          <input type="text" name="adt" id="adt" class="form-control input-contents" value="<%= ergazomenoiData.adt %>" />
        </div>
      </div>

      <div class="row form-group g-3 align-items-center" style="background-color: #ffffff; margin-left: -1rem; margin-right: -1rem;">
        <div class="col-2 left-align">
          <label for="hmeromhnia_ekdoshs" class="col-form-label label-font-size">
            Ημ/νία Έκδοσης / Λήξης
          </label>
        </div>
        <div class="col-1-5">
          <input type="date" name="hmeromhnia_ekdoshs" id="hmeromhnia_ekdoshs" class="date-control" value="<%= ergazomenoiData.hmeromhnia_ekdoshs ? new Date(ergazomenoiData.hmeromhnia_ekdoshs).toISOString().split('T')[0] : '' %>" />
        </div>

        <div class="col-1-5">
          <input type="date" name="hmeromhnia_lhxhs_nomimopoihtikoy_eggrafoy" id="hmeromhnia_lhxhs_nomimopoihtikoy_eggrafoy" class="date-control" value="<%= ergazomenoiData.hmeromhnia_lhxhs_nomimopoihtikoy_eggrafoy ? new Date(ergazomenoiData.hmeromhnia_lhxhs_nomimopoihtikoy_eggrafoy).toISOString().split('T')[0] : '' %>" />
        </div>
    
        <div class="col-1"></div>

        <div class="col-2 left-align">
          <label for="arxh_ekdoshs" class="col-form-label label-font-size">
            Αρχή Έκδοσης
          </label>
        </div>
        <div class="col-3-99">
          <input type="text" name="arxh_ekdoshs" id="arxh_ekdoshs" class="form-control input-contents" value="<%= ergazomenoiData.arxh_ekdoshs %>" />
        </div>
      </div>

      <div class="row form-group g-3 align-items-center" style="background-color: #ffffff; margin-left: -1rem; margin-right: -1rem;">
        <div class="col-2 left-align">
          <label for="hmeromhnia_gennhshs" class="col-form-label label-font-size field-required">
            Ημ/νία Γέννησης
          </label>
        </div>
        <div class="col-1-5">
          <input type="date" name="hmeromhnia_gennhshs" id="hmeromhnia_gennhshs" class="date-control" value="<%= ergazomenoiData.hmeromhnia_gennhshs ? new Date(ergazomenoiData.hmeromhnia_gennhshs).toISOString().split('T')[0] : '' %>" />
        </div>

        <div class="col-2-5 left-align">
          <label id="label-anhlikos" class="col-form-label"> </label>
        </div>

        <div class="col-2 left-align">
          <label for="topos_gennhshs" class="col-form-label label-font-size">
            Τόπος Γέννησης
          </label>
        </div>
        <div class="col-3-99">
          <input type="text" name="topos_gennhshs" id="topos_gennhshs" class="form-control input-contents" value="<%= ergazomenoiData.topos_gennhshs %>" />
        </div>
      </div>

      <div class="row form-group g-3 align-items-center" style="background-color: #ffffff; margin-left: -1rem; margin-right: -1rem;">
        <div class="col-2 left-align">
          <label for="arithmos_bibliarioy_anhlikoy" class="col-form-label label-font-size">
            Αριθ. Βιβλ. Ανηλίκου
          </label>
        </div>
        <div class="col-2">
          <input type="text" name="arithmos_bibliarioy_anhlikoy" id="arithmos_bibliarioy_anhlikoy" class="form-control input-contents" value="<%= ergazomenoiData.arithmos_bibliarioy_anhlikoy %>" />
        </div>

        <div class="col-2"></div>

        <div class="col-2 left-align">
          <label for="email" class="col-form-label label-font-size">
            eMail
          </label>
        </div>
        <div class="col-4">
          <input type="text" name="email" id="email" class="form-control input-contents" value="<%= ergazomenoiData.email %>" />
        </div>
      </div>

      <div class="row form-group g-3 align-items-center" style="background-color: #ffffff; margin-left: -1rem; margin-right: -1rem;">
        <div class="col-2 left-align">
          <label for="yphkoothta" class="col-form-label label-font-size field-required">
            Υπηκοότητα
          </label>
        </div>
        <div class="col-4">
          <select class="form-select selectpicker-dropdown-normal" data-live-search="true" name="yphkoothta" id="yphkoothta" data-selected="<%= ergazomenoiData.yphkoothta %>">
          </select>
        </div>

        <div class="col-2 left-align">
          <label for="eidikh_kathgoria_ergazomenoy" class="col-form-label label-font-size">
            Ειδική Κατηγορία
          </label>
        </div>
        <div class="col-3-99">
          <select class="form-select selectpicker-dropdown-normal" data-live-search="true" name="eidikh_kathgoria_ergazomenoy" id="eidikh_kathgoria_ergazomenoy" data-selected="<%= ergazomenoiData.eidikh_kathgoria_ergazomenoy %>">
          </select>
        </div>
      </div>

      <div class="row form-group g-3 align-items-center" style="background-color: #ffffff; margin-left: -1rem; margin-right: -1rem;">
        <div class="col-2 left-align">
          <label for="oikogeneiakh_katastash" class="col-form-label label-font-size">
            Οικογενειακή Κατάσταση
          </label>
        </div>
        <div class="col-4">
          <select class="form-select selectpicker-dropdown-normal" data-live-search="true" name="oikogeneiakh_katastash" id="oikogeneiakh_katastash" data-selected="<%= ergazomenoiData.oikogeneiakh_katastash %>">
          </select>
        </div>

        <div class="col-2 left-align">
          <label for="arithmos_teknon" class="col-form-label label-font-size">
            Αριθ. Τέκνων/Προστ.Μελών
          </label>
        </div>
        <div class="col-0-75">
          <input type="number" name="arithmos_teknon" id="arithmos_teknon" class="form-control input-contents" value="<%= ergazomenoiData.arithmos_teknon %>" min="0" max="9" />
        </div>
      </div>

       <hr class="hr-style" />

       <div class="row form-group g-3 align-items-center mt-1" style="background-color: #ffffff; margin-left: -1rem; margin-right: -1rem;">
        <div class="col-2 left-align">
          <label for="odos" class="col-form-label label-font-size">
            Οδός
          </label>
        </div>
        <div class="col-4">
          <input type="text" name="odos" id="odos" class="form-control input-contents field-required" value="<%= ergazomenoiData.odos %>" />
        </div>
        
        <div class="col-2 left-align">
          <label for="arithmos" class="col-form-label label-font-size">
            Αριθμός
          </label>
        </div>
        <div class="col-1">
          <input type="text" name="arithmos" id="arithmos" class="form-control input-contents" value="<%= ergazomenoiData.arithmos %>" />
        </div>
      </div>

       <div class="row form-group g-3 align-items-center" style="background-color: #ffffff; margin-left: -1rem; margin-right: -1rem;">
        <div class="col-2 left-align">
          <label for="tk" class="col-form-label label-font-size">
            Ταχ.Κώδικας
          </label>
        </div>
        <div class="col-1">
          <input type="text" name="tk" id="tk" class="form-control input-contents field-required" value="<%= ergazomenoiData.tk %>" />
        </div>

        <div class="col-3"></div>

        <div class="col-2 left-align">
          <label for="thlefono" class="col-form-label label-font-size">
            Τηλέφωνο
          </label>
        </div>
        <div class="col-2">
          <input type="text" name="thlefono" id="thlefono" class="form-control input-contents" value="<%= ergazomenoiData.thlefono %>" />
        </div>
      </div>

      <div class="row form-group g-3 align-items-center" style="background-color: #ffffff; margin-left: -1rem; margin-right: -1rem;">
        <div class="col-2 left-align">
          <label for="perifereia" class="col-form-label label-font-size field-required">
            Περιφέρεια
          </label>
        </div>
        <div class="col-4">
          <select class="form-select selectpicker-dropdown-normal" data-live-search="true" name="perifereia" id="perifereia" data-selected="<%= ergazomenoiData.perifereia %>">
          </select>
        </div>

        <div class="col-2 left-align">
          <label for="nomos" class="col-form-label label-font-size field-required">
            Περιφερειακή Ενότητα
          </label>
        </div>
        <div class="col-3-99">
          <select class="form-select selectpicker-dropdown-normal" data-live-search="true" name="nomos" id="nomos" data-selected="<%= ergazomenoiData.nomos %>" disabled>
          </select>
        </div>
      </div>

      <div class="row form-group g-3 align-items-center" style="background-color: #ffffff; margin-left: -1rem; margin-right: -1rem;">
        <div class="col-2 left-align">
          <label for="dhmos" class="col-form-label label-font-size field-required">
            Δημοτική Ενότητα
          </label>
        </div>
        <div class="col-4">
          <select class="form-select selectpicker-dropdown-normal" data-live-search="true" name="dhmos" id="dhmos" data-selected="<%= ergazomenoiData.dhmos %>" disabled>
          </select>
        </div>

        <div class="col-2 left-align">
          <label for="polh" class="col-form-label label-font-size field-required">
            Δημοτικό Διαμέρισμα
          </label>
        </div>
        <div class="col-3-99">
          <select class="form-select selectpicker-dropdown-normal" data-live-search="true" name="polh" id="polh" data-selected="<%= ergazomenoiData.polh %>" disabled>
          </select>
        </div>
      </div>

      <hr  class="hr-style" />

      <div class="row form-group g-3 align-items-center" style="background-color: #ffffff; margin-left: -1rem; margin-right: -1rem;">
        <div class="col-2 left-align">
          <label for="trapeza" class="col-form-label label-font-size">
            Τράπεζα Κατάθεσης Μισθού
          </label>
        </div>
        <div class="col-4">
          <select class="form-select selectpicker-dropdown-normal" data-live-search="true" name="trapeza" id="trapeza" data-selected="<%= ergazomenoiData.trapeza %>">
          </select>
          <input type="hidden" name="bankCode" id="bankCode" value=""/>
        </div>

        <div class="col-2 left-align">
          <label for="iban" class="col-form-label label-font-size">
            IBAN
          </label>
        </div>
        <div class="col-3-99">
          <input type="text" name="iban" id="iban" class="form-control input-contents" value="<%= ergazomenoiData.iban %>" />
        </div>
      </div>
    </div>
  </div>
</div>
