<% 
    const recordData = typeof rec !== 'undefined' ? rec : {};
	const safe = (k) => (recordData && recordData[k]) || '';

	const isEmpty = (val) => !val || val.toString().trim() === '';

    const safeFloat = (k) => {
        const val = parseFloat(safe(k));
        return isNaN(val) ? '' : val.toFixed(2);
    };

    const safeInt = (k) => {
        const val = parseInt(safe(k));
        return isNaN(val) ? '' : val;
    };

    const safeDate = (k) => {
        const val = safe(k);
        if (!val) return '';
        try {
            return new Date(val).toISOString().split('T')[0];
        } catch(e) {
            return '';
        }
    };

	const safeCheck = (k) => safe(k) ? 'checked' : '';

    const ergazomenosId = ergazomenoiData?._id || ergazomenoiData?.id || '';
    const symbashDaneismoyPdfPath = safe('arxeio_symbashs_daneismoy_path');
    const hasSymbashDaneismoyPdf = !isEmpty(symbashDaneismoyPdfPath);

    const symbashDaneismoyPdfViewUrl = hasSymbashDaneismoyPdf && ergazomenosId
        ? `/api/ergazomenoi/${ergazomenosId}/documents/symbash-daneismoy/view`
        : '';
%>

<div class="accordion-item margin-top--2_5rem">
    <h2 class="accordion-header">
        <button class="accordion-button collapsed bg-accordion font-size-vw-1 font-weight-700  caccordion" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="true" aria-controls="panelsStayOpen-collapseTwo" 
        tabindex="-1">
        Στοιχεία Πρόσληψης
        </button>
    </h2>

    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show">

        <div class="accordion-body bg-white margin-bottom--0_5rem">
            <div class="row form-group g-3 align-items-center margin-left--1rem margin-right--1rem margin-top--4rem">
                <div class="col-2 left-align">
                    <label for="hmeromhnia_proslhpshs" class="col-form-label label-font-size field-required">
                    Ημ/νία Πρόσληψης
                    </label>
                </div>
                <div class="col-1-5">
                    <input type="date" name="hmeromhnia_proslhpshs" id="hmeromhnia_proslhpshs" class="date-control" value="<%= safe('hmeromhnia_proslhpshs') ? new Date(safe('hmeromhnia_proslhpshs')).toISOString().split('T')[0] : '' %>" />
                </div>
                
                <div class="col-2-5"></div>

                <div class="col-2 left-align">
                    <label for="hmeromhnia_allaghs_symbashs" class="col-form-label label-font-size">
                    Ημ/νία Αλλαγής Σύμβασης
                    </label>
                </div>
                <div class="col-1-5">
                    <input type="date" name="hmeromhnia_allaghs_symbashs" id="hmeromhnia_allaghs_symbashs" class="date-control" value="<%= safe('hmeromhnia_allaghs_symbashs') ? new Date(safe('hmeromhnia_allaghs_symbashs')).toISOString().split('T')[0] : '' %>" />
                </div>
            </div>

            <div class="row form-group g-3 align-items-center margin-left--1rem margin-right--1rem">
                <div class="col-2 left-align">
                    <label for="hmeromhnia_allaghs_orarioy_apo" class="col-form-label font-size-vw-0_72">
                    Ημ/νία Αλλαγής Ωραρίου ΑΠΟ
                   </label>
                </div>
                <div class="col-1-5">
                    <input type="date" name="hmeromhnia_allaghs_orarioy_apo" id="hmeromhnia_allaghs_orarioy_apo" class="date-control" value="<%= safe('hmeromhnia_allaghs_orarioy_apo') ? new Date(safe('hmeromhnia_allaghs_orarioy_apo')).toISOString().split('T')[0] : '' %>" />
                </div>

                <div class="col-2-5"></div>

                <div class="col-2 left-align">
                    <label for="hmeromhnia_allaghs_orarioy_eos" class="col-form-label" style="font-size: 0.72vw;">
                    Ημ/νία Αλλαγής Ωραρίου ΕΩΣ
                    </label>
                </div>
                <div class="col-1-5">
                    <input type="date"
                        name="hmeromhnia_allaghs_orarioy_eos"
                        id="hmeromhnia_allaghs_orarioy_eos"
                        class="date-control"
                        value="<%= safe('hmeromhnia_allaghs_orarioy_eos') ? new Date(safe('hmeromhnia_allaghs_orarioy_eos')).toISOString().split('T')[0] : '' %>" />

                    <!-- Αρχική τιμή κατά το load της φόρμας -->
                    <input type="hidden"
                        name="hmeromhnia_allaghs_orarioy_eos_hidden"
                        id="hmeromhnia_allaghs_orarioy_eos_hidden"
                        value="" />
                </div>
            </div>

            <div class="row form-group g-3 align-items-center margin-left--1rem margin-right--1rem">
                <div class="col-2 left-align">
                    <label for="hmeromhnia_isxyos_oron_ergasias_apo" class="col-form-label font-size-vw-0_72">
                    Ημ/νία Ισχύος Όρων Εργασίας ΑΠΟ
                   </label>
                </div>
                <div class="col-1-5">
                    <input type="date" name="hmeromhnia_isxyos_oron_ergasias_apo" id="hmeromhnia_isxyos_oron_ergasias_apo" class="date-control" value="<%= safe('hmeromhnia_isxyos_oron_ergasias_apo') ? new Date(safe('hmeromhnia_isxyos_oron_ergasias_apo')).toISOString().split('T')[0] : '' %>" />
                </div>

                <div class="col-2-5"></div>

                <div class="col-2 left-align">
                    <label for="hmeromhnia_isxyos_oron_ergasias_eos" class="col-form-label font-size-vw-0_72">
                        Ημ/νία Ισχύος Όρων Εργασίας ΕΩΣ
                    </label>
                </div>
                <div class="col-1-5">
                    <input type="date" name="hmeromhnia_isxyos_oron_ergasias_eos" id="hmeromhnia_isxyos_oron_ergasias_eos" class="date-control" value="<%= safe('hmeromhnia_isxyos_oron_ergasias_eos') ? new Date(safe('hmeromhnia_isxyos_oron_ergasias_eos')).toISOString().split('T')[0] : '' %>" />
                </div>
            </div>

            <div class="row form-group g-3 align-items-center margin-left--1rem margin-right--1rem">
                <div class="col-2 left-align">
                    <label for="hmeromhnia_lhxhs_symbashs" class="col-form-label label-font-size field-required">
                    Ημ/νία Λήξης Σύμβασης
                    </label>
                </div>
                <div class="col-1-5">
                    <input type="date" name="hmeromhnia_lhxhs_symbashs" id="hmeromhnia_lhxhs_symbashs" class="date-control" value="<%= safe('hmeromhnia_lhxhs_symbashs') ? new Date(safe('hmeromhnia_lhxhs_symbashs')).toISOString().split('T')[0] : '' %>" />
                </div>
        
                <div class="col-2-5"></div>

                <div class="col-2 left-align">
                    <label for="hmeromhnia_apoxorhshs" class="col-form-label label-font-size">
                    Ημ/νία Αποχώρησης  
                    </label>  
                </div>  
                <div class="col-1-5">
                    <input type="date" name="hmeromhnia_apoxorhshs" id="hmeromhnia_apoxorhshs" class="date-control" value="<%= safe('hmeromhnia_apoxorhshs') ? new Date(safe('hmeromhnia_apoxorhshs')).toISOString().split('T')[0] : '' %>" />  
                </div>		  
            </div>		  

            <div class="height-vh-0_2"></div>

            <div class="row form-group g-3 align-items-center margin-left--1rem margin-right--1rem">
                <div class="col-2 left-align">
                    <label for="logos_peratoshs" id="logos_peratoshs_label" class="col-form-label label-font-size field-required">
                    Λόγος Περάτωσης της Σύμβασης
                    </label>
                </div>

                <%
                    const hasLhxhSymbashs = !!safe('hmeromhnia_lhxhs_symbashs');
                    const hasApoxorhsh = !!safe('hmeromhnia_apoxorhshs');
                    const enableLogosPeratoshs = hasLhxhSymbashs && hasApoxorhsh;
                %>                

                <input
                    type="hidden"
                    name="logos_peratoshs_stathera"
                    id="logos_peratoshs_stathera"
                    class="form-control input-contents"
                    value="<%= safe('logos_peratosis') %>"
                    />

                <div class="col-9-75">
                    <select
                        id="logos_peratoshs"
                        name="logos_peratoshs"
                        class="tom-dropdown selectpicker-dropdown-normal left-align w-100"
                        aria-label="Λόγος Περάτωσης της Σύμβασης"
                        data-api="/api/dropdown/ergazomenoi/logos_peratoshs"
                        single
                        data-target-input=<%= `logos_peratoshs_stathera` %>
                        data-preselect="logos_peratoshs_stathera"
                        data-preload-all="true"
                        data-pad-length="1"
                        placeholder="Αναζήτηση Λόγου Λύσης της Σύμβασης"
                        <%= enableLogosPeratoshs ? '' : 'disabled' %> 
                >
                    </select>
                </div>
            </div>

            <hr class="hr-style" />

            <div class="height-vh-0_2"></div>

            <div class="row form-group g-3 align-items-center margin-left--1rem margin-right--1rem">
                <div class="col-2 left-align">
                    <label for="afora_daneismo_ergazomenoy" id="afora_daneismo_ergazomenoy_label" class="col-form-label label-font-size field-required">
                    Αφορά Δανεισμό Εργαζόμενου
                    </label>
                </div>
                <div class="col-1 left-align checkbox-flex-center">
                    <input type="checkbox" class="form-check-input custom-checkbox checkbox-class" id="afora_daneismo_ergazomenoy" name="afora_daneismo_ergazomenoy" <%= safe('afora_daneismo_ergazomenoy') ? 'checked' : '' %> value="" />
                    <label for="afora_daneismo_ergazomenoy" id="label-afora_daneismo_ergazomenoy" class="margin-left-0_75rem  font-size-vw-0_875">
                    </label>
                </div>

                <div class="col-3 margin-bottom-0_2rem">
                    <div class="pdf-button-wrapper d-flex gap-1 align-items-stretch">
                        <div class="pdf-badge-replacement d-none"></div>
                        <% if (hasSymbashDaneismoyPdf) { %>
                            <a
                                id="customButton_symbash_daneismoy"
                                href="<%= symbashDaneismoyPdfViewUrl %>"
                                class="btn btn-brown rounded-4 buttons-content flex-grow-1 d-flex align-items-center justify-content-center"
                                data-document-type="symbash_daneismoy"
                                data-bs-title="Σύμβαση Δανεισμού"
                                data-symbash-daneismoy-pdf-viewer-link="true">
                                <i class="bi bi-file-earmark-pdf me-1"></i>
                                Προβολή pdf Αρχείου
                            </a>

                            <button
                                type="button"
                                id="deleteButton_symbash_daneismoy"
                                class="btn btn-danger rounded-4 buttons-content d-flex align-items-center justify-content-center px-2"
                                data-ergazomenos-id="<%= ergazomenosId %>"
                                title="Διαγραφή PDF">
                                <i class="bi bi-trash3"></i>
                            </button>
                        <% } else { %>
                            <button
                                type="button"
                                id="customButton_symbash_daneismoy"
                                class="btn btn-brown rounded-4 buttons-content w-100 pdf-upload-btn"
                                data-document-type="arxeio_symbashs_daneismoy"
                                data-data-bs-title="Αρχείο Σύμβασης Δανεισμού">
                                <i class="bi bi-cloud-arrow-up"></i>
                                Αρχείο Σύμβασης Δανεισμού (pdf)
                            </button>
                        <% } %>

                    </div>
                </div>

                <div class="col-2 left-align">
                    <label for="typos_daneismoy" id="typos_daneismoy_label" class="col-form-label label-font-size field-required">
                    Τύπος Δανεισμού
                    </label>
                </div>

                <input
                    type="hidden"
                    name="typos_daneismoy_stathera"
                    id="typos_daneismoy_stathera"
                    class="form-control input-contents"
                    value="<%= safe('typos_daneismoy') %>"
                />

                <div class="col-3-75">
                    <select
                        id="typos_daneismoy"
                        name="typos_daneismoy"
                        class="tom-dropdown selectpicker-dropdown-normal left-align w-100"
                        aria-label="Τύπος Δανεισμού"
                        data-api="/api/dropdown/ergazomenoi/typos_daneismoy"
                        single
                        data-target-input=<%= `typos_daneismoy_stathera` %>
                        data-preselect="typos_daneismoy_stathera"
                        data-preload-all="true"
                        data-pad-length="1"
                        placeholder="Αναζήτηση Τύπου Δανεισμού">
                    </select>
                </div>
            </div>

            <div class="height-vh-0_2"></div>

            <div class="row form-group g-3 align-items-center margin-left--1rem margin-right--1rem">
                <div class="col-2 left-align" disabled>
                    <label for="hmnia_enarxhs_daneismoy" id="hmnia_enarxhs_daneismoy_label" class="col-form-label label-font-size field-required">
                    Ημ/νία Έναρξης Δανεισμού
                    </label>
                </div>
                <div class="col-1-5 left-align">
                    <input type="date" name="hmnia_enarxhs_daneismoy" id="hmnia_enarxhs_daneismoy" class="date-control" value="<%= safe('hmnia_enarxhs_daneismoy') ? new Date(safe('hmnia_enarxhs_daneismoy')).toISOString().split('T')[0] : '' %>" />  
                </div>
                
                <div class="col-2-5"></div>
                
                <div class="col-2 left-align">
                    <label for="hmnia_lhxhs_daneismoy" id="hmnia_lhxhs_daneismoy_label" class="col-form-label label-font-size field-required">
                    Ημ/νία Λήξης Δανεισμού
                    </label>
                </div>
                <div class="col-1-5 left-align">
                    <input type="date" name="hmnia_lhxhs_daneismoy" id="hmnia_lhxhs_daneismoy" class="date-control" value="<%= safe('hmnia_lhxhs_daneismoy') ? new Date(safe('hmnia_lhxhs_daneismoy')).toISOString().split('T')[0] : '' %>" />  
                </div>
            </div>

            <div class="height-vh-0_2"></div>

            <div class="row form-group g-3 align-items-center margin-left--1rem margin-right--1rem">
            
                <div class="col-2 left-align">
                    <label for="afora_dokimastikh_periodo" class="col-form-label label-font-size field-required">
                    Αφορά Δοκιμαστική Περίοδο
                    </label>
                </div>
                <div class="col-3-75 left-align checkbox-flex-center">
                    <input type="checkbox" class="form-check-input custom-checkbox checkbox-class" id="afora_dokimastikh_periodo" name="afora_dokimastikh_periodo" <%= safe('afora_dokimastikh_periodo') ? 'checked' : '' %> value="" />
                    <label for="afora_dokimastikh_periodo" id="label-afora_dokimastikh_periodo" class="margin-left-0_75rem  font-size-vw-0_875">
                    </label>
                </div>

                <div class="col-0-25"></div>

                <div class="col-2 left-align">
                    <label for="hmnia_lhxhs_dokimastikhs_periodoy" class="col-form-label label-font-size field-required">
                    Ημ/νία Λήξης Δοκιμ/κής Περιόδου
                    </label>
                </div>
                <div class="col-1-5 left-align">
                    <input type="date" id="hmnia_lhxhs_dokimastikhs_periodoy" name="hmnia_lhxhs_dokimastikhs_periodoy" data-bs-toggle="tooltip" data-bs-title="Στην Αορίστου Χρόνου η δοκιμαστική περίοδος είναι έως 6 μήνες ενώ στην ορισμένου χρόνου έως το ¼ της χρονικής διάρκειάς της και σε κάθε περίπτωση έως 6 μήνες." data-bs-placement="bottom" data-tooltip-max-width="15vw" class="date-control" value="<%= safe('hmnia_lhxhs_dokimastikhs_periodoy') ? new Date(safe('hmnia_lhxhs_dokimastikhs_periodoy')).toISOString().split('T')[0] : '' %>" />
                </div>
            </div>

            <hr class="hr-style" />

            <div class="height-vh-0_2"></div>

            <div class="row form-group g-3 align-items-center margin-left--1rem margin-right--1rem">

                <div class="col-2 left-align">
                    <label for="kathestos_apasxolhshs" class="col-form-label label-font-size field-required">
                    Καθεστώς Απασχόλησης
                    </label>
                </div>

                <input
                    type="hidden"
                    name="kathestos_apasxolhshs_stathera"
                    id="kathestos_apasxolhshs_stathera"
                    class="form-control input-contents"
                    value="<%= safe('kathestos_apasxolhshs') %>"
                />

                <div class="col-3-75">
                    <select
                        id="kathestos_apasxolhshs"
                        name="kathestos_apasxolhshs"
                        class="tom-dropdown selectpicker-dropdown-normal left-align w-100"
                        aria-label="Καθεστώς Απασχόλησης"
                        data-api="/api/dropdown/ergazomenoi/kathestos_apasxolhshs"
                        data-target-input="kathestos_apasxolhshs_stathera"
                        data-preselect="kathestos_apasxolhshs_stathera"
                        data-preload-all="true"
                        data-pad-length="1"
                        data-xrhsh-related="false"
                        data-team-related="false"
                        data-company-related="false"
                        data-mhnas-related="false"
                        placeholder="Αναζήτηση Καθεστώτος Απασχόλησης">
                    </select>
                </div>

                <div class="col-0-25"></div>

                <div class="col-2 left-align">
                    <label for="sxesh_ergasias" class="col-form-label label-font-size field-required">
                    Σχέση Εργασίας
                    </label>
                </div>

                <input
                    type="hidden"
                    name="sxesh_ergasias_stathera"
                    id="sxesh_ergasias_stathera"
                    class="form-control input-contents"
                    value="<%= safe('sxesh_ergasias') %>"
                />

                <div class="col-3-74">
                    <select
                        id="sxesh_ergasias"
                        name="sxesh_ergasias"
                        class="tom-dropdown selectpicker-dropdown-normal left-align w-100"
                        aria-label="Σχέση Εργασίας"
                        data-api="/api/dropdown/ergazomenoi/sxesh_ergasias"
                        single
                        data-target-input=<%= `sxesh_ergasias_stathera` %>
                        data-preselect="sxesh_ergasias_stathera"
                        data-preload-all="true"
                        data-pad-length="1"
                        data-xrhsh-related="false"
                        data-team-related="false"
                        data-company-related="false"
                        data-mhnas-related="false"
                        placeholder="Αναζήτηση Σχέσης Εργασίας">
                    </select>
                </div>
            </div>
            
            <div class="height-vh-0_1"></div>

            <div class="row form-group g-3 align-items-center margin-left--1rem margin-right--1rem">
                <div class="col-2 left-align">
                    <label for="proyphresia_se_eth" class="col-form-label label-font-size field-required">
                    Έτη Προϋπηρεσίας
                    </label>
                </div>
                <div class="col-1 left-align">
                    <input type="number" id="proyphresia_se_eth" name="proyphresia_se_eth" class="form-control input-contents right-align" min="0" max="40" value="<%= safe('proyphresia_se_eth') %>" />
                </div>
        
                <div class="col-3"></div>

                <div class="col-2 left-align">
                    <label for="proyphresia_se_mhnes" class="col-form-label label-font-size">
                    Μήνες Προϋπηρεσίας
                    </label>
                </div>
                <div class="col-1 left-align">
                    <input type="number" id="proyphresia_se_mhnes" name="proyphresia_se_mhnes" class="form-control input-contents right-align" min="0" max="11" value="<%= safe('proyphresia_se_mhnes') %>" />
                </div>
            </div>

            <div class="row form-group g-3 align-items-center margin-left--1rem margin-right--1rem">
                <div class="col-2 left-align">
                    <label for="synolo_proyphresias_se_eth" class="col-form-label label-font-size">
                    Σύνολο Ετών Προϋπηρεσίας
                    </label>
                </div>
                <div class="col-1 left-align">
                    <input type="number" id="synolo_proyphresias_se_eth" name="synolo_proyphresias_se_eth" class="form-control input-contents right-align" value="<%= safe('synolo_proyphresias_se_eth') %>" readonly />
                </div>        

                <div class="col-2 left-align">
                    <label for="proyphresia_apozhmioshs_se_eth" class="col-form-label label-font-size">
                    Έτη Προϋπηρεσίας (Αποζημίωση)
                    </label>
                </div>
                <div class="col-1 left-align">
                    <input type="number" id="proyphresia_apozhmioshs_se_eth" name="proyphresia_apozhmioshs_se_eth" class="form-control input-contents right-align" value="<%= safe('proyphresia_apozhmioshs_se_eth') %>" />
                </div>

                <div class="col-2 left-align">
                    <label for="synolo_proyphresias_se_mhnes" class="col-form-label label-font-size-smaller">
                    Σύνολο Μηνών Προϋπηρεσίας
                    </label>
                </div>
                <div class="col-1 left-align">
                    <input type="number" id="synolo_proyphresias_se_mhnes" name="synolo_proyphresias_se_mhnes" class="form-control input-contents right-align" value="<%= safe('synolo_proyphresias_se_mhnes') %>" readonly />
                </div>
            </div>

            <div class="row form-group g-3 align-items-center margin-left--1rem margin-right--1rem">
                <div class="col-2 left-align">
                    <label for="proyphresia_adeias_se_eth" class="col-form-label label-font-size">
                    Έτη Προϋπηρεσίας (Άδεια)
                    </label>
                </div>
                <div class="col-1 left-align">
                    <input type="number" id="proyphresia_adeias_se_eth" name="proyphresia_adeias_se_eth" class="form-control input-contents right-align" min="0" max="40" value="<%= safe('proyphresia_adeias_se_eth') %>" />
                </div>
        
                <div class="col-3"></div>

                <div class="col-2 left-align">
                    <label for="misthologiko_klimakio" class="col-form-label label-font-size">
                    Μισθολογικό Κλιμάκιο
                    </label>
                </div>
                <div class="col-1 left-align">
                    <input type="number" id="misthologiko_klimakio" name="misthologiko_klimakio" class="form-control input-contents right-align" value="<%= safe('misthologiko_klimakio') %>" readonly />
                </div>
            </div>

            <div class="height-vh-0_2"></div>

            <div class="row form-group g-3 align-items-center margin-left--1rem margin-right--1rem">
                <div class="col-2 left-align">
                    <label for="syggeneia" class="col-form-label label-font-size">
                    Συγγένεια
                    </label>
                </div>
                <div class="col-1 left-align checkbox-flex-center">
                    <input type="checkbox" class="form-check-input custom-checkbox checkbox-class" id="syggeneia" name="syggeneia" <%= safe('syggeneia') ? 'checked' : '' %> value="" />
                    <label for="syggeneia" id="label-syggeneia" class="margin-left-0_75rem  font-size-vw-0_875">
                    ΟΧΙ
                    </label>
                </div>

                <div class="col-3"></div>

                <div class="col-2 left-align">
                    <label for="syggenikh_sxesh" id="syggenikh_sxesh_label" class="col-form-label label-font-size">
                    Συγγενική Σχέση
                    </label>
                </div>

                <input
                    type="hidden"
                    name="syggenikh_sxesh_stathera"
                    id="syggenikh_sxesh_stathera"
                    class="form-control input-contents"
                    value="<%= safe('syggenikh_sxesh') %>"
                />

                <div class="col-3-74">
                    <select
                        id="syggenikh_sxesh"
                        name="syggenikh_sxesh"
                        class="tom-dropdown selectpicker-dropdown-normal left-align w-100"
                        aria-label="Συγγενική Σχέση"
                        data-api="/api/dropdown/ergazomenoi/syggenikh_sxesh"
                        single
                        data-target-input=<%= `syggenikh_sxesh_stathera` %>
                        data-preselect="syggenikh_sxesh_stathera"
                        data-preload-all="true"
                        data-pad-length="2"
                        data-xrhsh-related="false"
                        data-team-related="false"
                        data-company-related="false"
                        data-mhnas-related="false"
                        placeholder="Αναζήτηση Συγγενικής Σχέσης">
                    </select>
                </div>
            </div>

            <hr class="hr-style" />

            <div class="height-vh-0_2"></div>

            <div class="row form-group g-3 align-items-center margin-left--1rem margin-right--1rem">
                <div class="col-2 left-align">
                    <label for="thesh_eythynhs" class="col-form-label label-font-size">
                    Θέση Ευθύνης
                    </label>
                </div>

                <input
                    type="hidden"
                    name="thesh_eythynhs_stathera"
                    id="thesh_eythynhs_stathera"
                    class="form-control input-contents"
                    value="<%= safe('thesh_eythynhs') || '1' %>"
                />

                <div class="col-3-75">
                    <select
                        id="thesh_eythynhs"
                        name="thesh_eythynhs"
                        class="tom-dropdown selectpicker-dropdown-normal left-align w-100"
                        aria-label="Θέση Ευθύνης"
                        data-api="/api/dropdown/ergazomenoi/thesh_eythynhs"
                        single
                        data-target-input=<%= `thesh_eythynhs_stathera` %>
                        data-preselect="thesh_eythynhs_stathera"
                        data-preload-all="true"
                        data-pad-length="1"
                        data-xrhsh-related="false"
                        data-team-related="false"
                        data-company-related="false"
                        data-mhnas-related="false"
                        placeholder="Αναζήτηση Θέσης Ευθύνης">
                    </select>
                </div>

                <div class="col-0-25"></div>

                <div class="col-2 left-align">
                    <label for="eidikh_periptosh" class="col-form-label label-font-size">
                    Ειδική Περίπτωση
                    </label>
                </div>

                <input
                    type="hidden"
                    name="eidikh_periptosh_stathera"
                    id="eidikh_periptosh_stathera"
                    class="form-control input-contents"
                    value="<%= safe('eidikh_periptosh') %>"
                />

                <div class="col-3-74">
                    <select
                        id="eidikh_periptosh"
                        name="eidikh_periptosh"
                        class="tom-dropdown selectpicker-dropdown-normal left-align w-100"
                        aria-label="Ειδική Περίπτωση"
                        data-api="/api/dropdown/ergazomenoi/eidikh_periptosh"
                        single
                        data-target-input=<%= `eidikh_periptosh_stathera` %>
                        data-preselect="eidikh_periptosh_stathera"
                        data-preload-all="true"
                        data-pad-length="1"
                        data-xrhsh-related="false"
                        data-team-related="false"
                        data-company-related="false"
                        data-mhnas-related="false"
                        placeholder="Αναζήτηση Ειδικής Περίπτωσης">
                    </select>
                </div>
            </div>

            <div class="height-vh-0_1"></div>

            <div class="row form-group g-3 align-items-center margin-left--1rem margin-right--1rem">
                <div class="col-2 left-align">
                    <label for="topos_ergasias" class="col-form-label label-font-size field-required">
                    Τόπος Εργασίας
                    </label>
                </div>
                <div class="col-3-75 left-align checkbox-flex-center">
                    <input type="checkbox" class="form-check-input custom-checkbox checkbox-class" id="topos_ergasias" name="topos_ergasias" <%= safe('topos_ergasias') ? 'checked' : '' %> value="" />
                    <label for="topos_ergasias" id="label-topos_ergasias" class="margin-left-0_75rem  font-size-vw-0_875">
                    </label>
                </div>

                <div class="col-0-25"></div>

                <div class="col-2 left-align">
                    <label for="topos_ergasias_parathrhseis" class="col-form-label label-font-size">
                    Τόπος Εργασίας-Παρατηρήσεις
                    </label>
                </div>
                <div class="col-4 left-align">
                    <input type="text" id="topos_ergasias_parathrhseis" name="topos_ergasias_parathrhseis" class="form-control input-contents clearableInputs left-align" value="<%= safe('topos_ergasias_parathrhseis') %>" maxlength="500" />
                </div>
            </div>

            <div class="height-vh-0_1"></div>

            <div class="row form-group g-3 align-items-center margin-left--1rem margin-right--1rem">
                <div class="col-2 left-align">
                    <label for="xronos_katabolhs_apodoxon" class="col-form-label label-font-size field-required">
                    Χρόνος Καταβολής Αποδοχών
                    </label>
                </div>

                <div class="col-10 left-align">
                    <input type="text" id="xronos_katabolhs_apodoxon" name="xronos_katabolhs_apodoxon" class="form-control input-contents clearableInputs left-align" value="<%= safe('xronos_katabolhs_apodoxon') %>" maxlength="100" />
                </div>
            </div>

            <div class="height-vh-0_1"></div>

            <div class="row form-group g-3 align-items-center margin-left--1rem margin-right--1rem">
                <div class="col-2 left-align">
                    <label for="efarmostea_sse" class="col-form-label label-font-size field-required">
                    Εφαρμοστέα Σ.Σ.Ε.
                    </label>
                </div>
                <div class="col-3-75 left-align checkbox-flex-center">
                    <input type="checkbox" class="form-check-input custom-checkbox checkbox-class" id="efarmostea_sse" name="efarmostea_sse" <%= safe('efarmostea_sse') ? 'checked' : '' %> value="" />
                    <label for="efarmostea_sse" id="label-efarmostea_sse" class="margin-left-0_75rem  font-size-vw-0_875">
                    </label>
                </div>

                <div class="col-0-25"></div>

                <div class="col-2 left-align">
                    <label for="efarmostea_sse_parathrhseis" class="col-form-label label-font-size">
                    Εφαρμοστέα ΣΣΕ-Παρατηρήσεις
                    </label>
                </div>
                <div class="col-4 left-align">
                    <input type="text" id="efarmostea_sse_parathrhseis" name="parathrhseis_efarmosteas_sse" class="form-control input-contents clearableInputs left-align" value="<%= safe('efarmostea_sse_parathrhseis') %>" />
                </div>
            </div>

            <div class="height-vh-3_5"></div>
        </div>
    </div>
</div>