<div class="accordion-item">
  <h2 class="accordion-header">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
      Στοιχεία Απασχόλησης
    </button>
  </h2>
  <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse show">
    <div class="accordion-body" style="margin-top: -3.5rem;" >
      <input type="hidden" name="kodikos_eidikothtas_erganh" id="kodikos_eidikothtas_erganh" />

      <div class="row form-group g-3 align-items-center" style="background-color: #ffffff; margin-left: -1rem; margin-right: -1rem;">
        <div class="col-2 left-align">
          <label for="plhrhs_apasxolhsh" class="col-form-label label-font-size">
            Πλήρης Απασχόληση
          </label>
        </div>
        <div class="col-1 left-align checkbox-flex-center">
          <input type="checkbox"  class="form-check-input custom-checkbox checkbox-class" id="plhrhs_apasxolhsh" name="plhrhs_apasxolhsh" <%= ergazomenoiData.plhrhs_apasxolhsh ? 'checked' : '' %> value="" style="margin-top: -1rem;" />
          <label for="plhrhs_apasxolhsh" id="label-plhrhs_apasxolhsh" style="margin-left: 0.75rem; font-size: 0.875vw; margin-top: -1rem;">
            ΟΧΙ
          </label>
        </div>
        
        <div class="col-3"></div>

        <div class="col-2 left-align">
          <label for="dieythethsh_xronoy_ergasias" class="col-form-label label-font-size">
            Διευθέτηση Χρόνου Εργαίας
          </label>
        </div>
        <div class="col-1 left-align checkbox-flex-center">
          <input type="checkbox"  class="form-check-input custom-checkbox checkbox-class" id="dieythethsh_xronoy_ergasias" name="dieythethsh_xronoy_ergasias" <%= ergazomenoiData.dieythethsh_xronoy_ergasias ? 'checked' : '' %> value="" style="margin-top: -1rem;" />
          <label for="dieythethsh_xronoy_ergasias" id="label-dieythethsh_xronoy_ergasias" style="margin-left: 0.75rem; font-size: 0.875vw; margin-top: -1rem">
            ΟΧΙ
          </label>
        </div>
        <div class="col-3"></div>
      </div>

      <div class="row form-group g-3 align-items-center" style="background-color: #ffffff; margin-left: -1rem; margin-right: -1rem;">
        <div class="col-2 left-align">
          <label for="hmeres_ergasias_ebdomadas" class="col-form-label label-font-size field-required">
            Ημέρες Εβδ/διαίας Εργασίας
          </label>
        </div>
        <div class="col-1">
          <input type="number" name="hmeres_ergasias_ebdomadas" id="hmeres_ergasias_ebdomadas" class="form-control input-contents" value="<%= ergazomenoiData.hmeres_ergasias_ebdomadas %>" min="1" max="7" />
        </div>

        <div class="col-3"></div>

        <div class="col-2 left-align">
          <label for="ores_ergasias_ebdomadas" class="col-form-label label-font-size field-required">
            Ώρες Εβδ/διαίας Εργασίας
          </label>
        </div>
        <div class="col-1">
          <input type="number" name="ores_ergasias_ebdomadas" id="ores_ergasias_ebdomadas" class="form-control input-contents" value="<%= ergazomenoiData.ores_ergasias_ebdomadas %>" min="0" max="40" />
        </div>
      </div>

      <div class="row form-group g-3 align-items-center" style="background-color: #ffffff; margin-left: -1rem; margin-right: -1rem;">
        <div class="col-2 left-align">
          <label for="dialleima_se_lepta" class="col-form-label label-font-size field-required">
            Διάλλειμα (Σε Λεπτά)
          </label>
        </div>
        <div class="col-1">
          <input type="number" name="dialleima_se_lepta" id="dialleima_se_lepta" class="form-control input-contents" value="<%= ergazomenoiData.dialleima_se_lepta %>" min="0" max="45" />
        </div>

        <div class="col-0-3"></div>

        <div class="col-1-7 left-align">
          <label for="dialleima_entos_ektos_orarioy" class="col-form-label label-font-size">
            Εντός/Εκτός Ωραρίου
          </label>
        </div>
        <div class="col-1 left-align checkbox-flex-center">
          <input type="checkbox"  class="form-check-input custom-checkbox checkbox-class" id="dialleima_entos_ektos_orarioy" name="dialleima_entos_ektos_orarioy" <%= ergazomenoiData.dialleima_entos_ektos_orarioy ? 'checked' : '' %> value="" />
          <label for="dialleima_entos_ektos_orarioy" id="label-dialleima_entos_ektos_orarioy" style="margin-left: 0.75rem; font-size: 0.875vw;">
            ΕΚΤΟΣ
          </label>
        </div>

        <div class="col-2 left-align">
          <label for="symbatikes_ores_ergasias" class="col-form-label label-font-size field-required">
            Συμβατικές Ώρες Εργασίας
          </label>
        </div>
        <div class="col-1">
          <input type="number" name="symbatikes_ores_ergasias" id="symbatikes_ores_ergasias" class="form-control input-contents" value="<%= ergazomenoiData.symbatikes_ores_ergasias %>" min="0" max="40" />
        </div>
      </div>

      <div class="row form-group g-3 align-items-center" style="background-color: #ffffff; margin-left: -1rem; margin-right: -1rem;">
        <div class="col-2 left-align">
          <label for="typos_orarioy" class="col-form-label label-font-size">
            Τύπος Ωραρίου
          </label>
        </div>
        <div class="col-1 left-align checkbox-flex-center">
          <input type="checkbox"  class="form-check-input custom-checkbox checkbox-class" id="typos_orarioy" name="typos_orarioy" <%= ergazomenoiData.typos_orarioy ? 'checked' : '' %> value="" />
          <label for="typos_orarioy" id="label-typos_orarioy" style="margin-left: 0.75rem; font-size: 0.875vw;">
            ΣΤΑΘΕΡΟ
          </label>
        </div>
        
        <div class="col-3"></div>

        <div class="col-2 left-align">
          <label for="synexes_diakekomeno" class="col-form-label label-font-size">
            Συνεχές / Διακεκομμένο
          </label>
        </div>
        <div class="col-1 left-align checkbox-flex-center">
          <input type="checkbox"  class="form-check-input custom-checkbox checkbox-class" id="synexes_diakekomeno" name="synexes_diakekomeno" <%= ergazomenoiData.synexes_diakekomeno ? 'checked' : '' %> value="" />
          <label for="synexes_diakekomeno" id="label-synexes_diakekomeno" style="margin-left: 0.75rem; font-size: 0.875vw;">
            ΣΥΝΕΧΕΣ
          </label>
        </div>
      </div>

      <div class="row form-group g-3 align-items-center" style="background-color: #ffffff; margin-left: -1rem; margin-right: -1rem;">
        <div class="col-2 left-align">
          <label for="pshfiakh_organosh" class="col-form-label label-font-size">
            Ψηφιακή Οργάνωση 
          </label>
        </div>
        <div class="col-1 left-align checkbox-flex-center">
          <input type="checkbox"  class="form-check-input custom-checkbox checkbox-class" id="pshfiakh_organosh" name="pshfiakh_organosh" <%= ergazomenoiData.pshfiakh_organosh ? 'checked' : '' %> value="" />
          <label for="pshfiakh_organosh" id="label-pshfiakh_organosh" style="margin-left: 0.75rem; font-size: 0.875vw;">
            ΟΧΙ
          </label>
        </div>
        
        <div class="col-3"></div>

        <div class="col-2 left-align">
          <label for="apasxolhsh_basei_symbashs" class="col-form-label label-font-size">
            Απασχόληση Βάσει Σύμβασης
          </label>
        </div>
        <div class="col-3-99">
          <select class="form-select selectpicker-dropdown-normal" data-live-search="true" name="apasxolhsh_basei_symbashs" id="apasxolhsh_basei_symbashs" data-selected="<%= ergazomenoiData.apasxolhsh_basei_symbashs.trim() %>">
          </select>
        </div>
      </div>

      <div class="row form-group g-3 align-items-center" style="background-color: #ffffff; margin-left: -1rem; margin-right: -1rem;">
        <div class="col-2 left-align">
          <label for="karta_ergasias" class="col-form-label label-font-size field-required">
            Κάρτα Εργασίας
          </label>
        </div>
        <div class="col-1 left-align checkbox-flex-center">
          <input type="checkbox"  class="form-check-input custom-checkbox checkbox-class" id="karta_ergasias" name="karta_ergasias" <%= ergazomenoiData.pshfiakh_organosh ? 'checked' : '' %> value="" />
          <label for="karta_ergasias" id="label-karta_ergasias" style="margin-left: 0.75rem; font-size: 0.875vw;">
            ΟΧΙ
          </label>
        </div>
        
        <div class="col-3"></div>

        <div class="col-2 left-align">
          <label for="evelikth_proselefsh" class="col-form-label label-font-size">
            Ευέλικτη Προσέλευση (λεπτά)
          </label>
        </div>
        <div class="col-1 left-align">
          <input type="number" id="evelikth_proselefsh" name="evelikth_proselefsh" class="form-control input-contents" min="0" max="120" value="<%= ergazomenoiData.evelikth_proselefsh %>" />
        </div>
      </div>

      <div class="row form-group g-3 align-items-center" style="background-color: #ffffff; margin-left: -1rem; margin-right: -1rem;">
        <div class="col-2 left-align">
          <label for="apasxolhsh_gia_proth_fora" class="col-form-label label-font-size">
            Απασχόληση για 1η φορά
          </label>
        </div>
        <div class="col-1 left-align checkbox-flex-center">
          <input type="checkbox"  class="form-check-input custom-checkbox checkbox-class" id="apasxolhsh_gia_proth_fora" name="apasxolhsh_gia_proth_fora" <%= ergazomenoiData.apasxolhsh_gia_proth_fora ? 'checked' : '' %> value="" />
          <label for="apasxolhsh_gia_proth_fora" id="label-apasxolhsh_gia_proth_fora" style="margin-left: 0.75rem; font-size: 0.875vw;">
            ΟΧΙ
          </label>
        </div>
        
        <div class="col-3"></div>

        <div class="col-2 left-align">
          <label for="ora_enarxhs_proths_foras" class="col-form-label label-font-size field-required">
            Ώρα Έναρξης την 1η ημέρα
          </label>
        </div>
        <div class="col-1-1 left-align">
          <input type="time" id="ora_enarxhs_proths_foras" name="ora_enarxhs_proths_foras" class="date-control" value="<%= ergazomenoiData.ora_enarxhs_proths_foras %>" />
        </div>
        
        <div class="col-0-3"></div>

        <div class="col-1-4-5-5 left-align">
          <label for="ora_apoxorhshs_proths_foras" class="col-form-label label-font-size field-required">
            Ώρα Αποχώρησης
          </label>
        </div>
        <div class="col-1-1 left-align">
          <input type="time" id="ora_apoxorhshs_proths_foras" name="ora_apoxorhshs_proths_foras" class="date-control" value="<%= ergazomenoiData.ora_apoxorhshs_proths_foras %>" />
        </div>
      </div>

      <hr class="hr-style" />

      <div class="row form-group g-3 align-items-center" style="background-color: #ffffff; margin-left: -1rem; margin-right: -1rem;">
        <div class="col-2 left-align">
          <label for="asfalish_me_tekmarta" class="col-form-label label-font-size">
            Τεκμαρτή Ασφάλιση 
          </label>
        </div>
        <div class="col-1 left-align checkbox-flex-center">
          <input type="checkbox"  class="form-check-input custom-checkbox checkbox-class" id="asfalish_me_tekmarta" name="asfalish_me_tekmarta" class="form-check-input custom-checkbox checkbox-class" data-related-select="asfalistikh_klash" <%= ergazomenoiData.asfalish_me_tekmarta ? 'checked' : '' %> value="" />
          <label for="asfalish_me_tekmarta" id="label-asfalish_me_tekmarta" style="margin-left: 0.75rem; font-size: 0.875vw;">
            ΟΧΙ
          </label>
        </div>
        
        <div class="col-3"></div>

        <div class="col-2 left-align">
          <label for="asfalistikh_klash" class="col-form-label label-font-size">
            Ασφαλιστική Κλάση
          </label>
        </div>
        <div class="col-3-99">
          <select class="form-select selectpicker-dropdown-normal select-class" data-live-search="true" name="asfalistikh_klash" id="asfalistikh_klash" data-selected="<%= ergazomenoiData.asfalistikh_klash %>">
          </select>
        </div>
      </div>

      <div class="row form-group g-3 align-items-center" style="background-color: #ffffff; margin-left: -1rem; margin-right: -1rem;">
        <div class="col-2 left-align">
          <label for="epoxikos" class="col-form-label label-font-size">
            Εποχικός
          </label>
        </div>
        <div class="col-1 left-align checkbox-flex-center">
          <input type="checkbox"  class="form-check-input custom-checkbox checkbox-class" id="epoxikos" name="epoxikos" <%= ergazomenoiData.epoxikos ? 'checked' : '' %> value="" />
          <label for="epoxikos" id="label-epoxikos" style="margin-left: 0.75rem; font-size: 0.875vw;">
            ΟΧΙ
          </label>
        </div>
        
        <div class="col-3"></div>

        <div class="col-2 left-align">
          <label for="tmhma" class="col-form-label label-font-size">
            Τμήμα
          </label>
        </div>
        <div class="col-3-99">
          <select class="form-select selectpicker-dropdown-normal" data-live-search="true" name="tmhma" id="tmhma" data-selected="<%= ergazomenoiData.tmhma %>">
          </select>
        </div>
      </div>

      <div class="row form-group g-3 align-items-center" style="background-color: #ffffff; margin-left: -1rem; margin-right: -1rem;">
        <div class="col-2 left-align">
          <label for="ekpaideytiko_epipedo" class="col-form-label label-font-size">
            Εκπαιδευτικό Επίπεδο
          </label>
        </div>
        <div class="col-4">
          <select class="form-select selectpicker-dropdown-normal" data-live-search="true" name="ekpaideytiko_epipedo" id="ekpaideytiko_epipedo" data-selected="<%= ergazomenoiData.ekpaideytiko_epipedo %>">
          </select>
        </div>
        
        <div class="col-2 left-align">
          <label for="eidikothta" class="col-form-label label-font-size">
            Ειδικότητα
          </label>
        </div>
        <div class="col-3-99">
          <select class="form-select selectpicker-dropdown-normal" data-live-search="true" name="eidikothta" id="eidikothta" data-selected="<%= ergazomenoiData.eidikothta %>">
          </select>
        </div>
      </div>

      <div class="row form-group g-3 align-items-center" style="background-color: #ffffff; margin-left: -1rem; margin-right: -1rem;">
        <div class="col-2 left-align">
          <label for="antikeimeno_ergasion" class="col-form-label label-font-size">
            Αντικείμενο Εργασιών
          </label>
        </div>
        <div class="col-10">
          <textarea
            class="form-control textarea-content"
            name="antikeimeno_ergasion"
            id="antikeimeno_ergasion"
            cols="150"
            rows="1"
            style="height: 1vh !important;">
            <%= ergazomenoiData.antikeimeno_ergasion?.trim() || '' %>
          </textarea>
        </div>
      </div>

      <div class="row form-group g-3 align-items-center" style="background-color: #ffffff; margin-left: -1rem; margin-right: -1rem;">
        <div class="col-2 left-align">
          <label for="typos_ergazomenon" class="col-form-label label-font-size">
            Τύπος Εργαζομένου
          </label>
        </div>
        <div class="col-4">
          <select class="form-select selectpicker-dropdown-normal" data-live-search="true" name="typos_ergazomenon" id="typos_ergazomenon" data-selected="<%= ergazomenoiData.typos_ergazomenon %>">
          </select>
        </div>
        
        <div class="col-2 left-align">
          <label for="ypokatasthma" class="col-form-label label-font-size">
            Υποκατάστημα
          </label>
        </div>
        <div class="col-3-99">
          <select class="form-select selectpicker-dropdown-normal" data-live-search="true" name="ypokatasthma" id="ypokatasthma" data-selected="<%= ergazomenoiData.ypokatasthma %>">
          </select>
        </div>
      </div>

      <div class="row form-group g-3 align-items-center" style="background-color: #ffffff; margin-left: -1rem; margin-right: -1rem;">
        <div class="col-2 left-align">
          <label for="xarakthrismos_ergazomenon" class="col-form-label label-font-size">
            Χαρακτηρισμός Εργαζομένου
          </label>
        </div>
        <div class="col-1 left-align checkbox-flex-center">
          <input type="checkbox"  class="form-check-input custom-checkbox checkbox-class" id="xarakthrismos_ergazomenon" name="xarakthrismos_ergazomenon" <%= ergazomenoiData.xarakthrismos_ergazomenon ? 'checked' : '' %> value="" />
          <label for="xarakthrismos_ergazomenon" id="label-xarakthrismos_ergazomenon" style="margin-left: 0.75rem; font-size: 0.875vw;">
            ΕΡΓΑΤΗΣ
          </label>
        </div>
        
        <div class="col-3"></div>

        <div class="col-2 left-align">
          <label for="eidikothta_erganh" class="col-form-label label-font-size field-required">
            Ειδικότητα ΕΡΓΑΝΗ
          </label>
        </div>
        <div class="col-3-99">
          <select class="form-select select2-results selectpicker-dropdown-normal" data-live-search="true" name="eidikothta_erganh" id="eidikothta_erganh">
          </select>
        </div>
      </div>

      <hr class="hr-style" />

      <div class="row form-group g-3 align-items-center" style="background-color: #ffffff; margin-left: -1rem; margin-right: -1rem;">
        <div class="col-2 left-align">
          <label for="diathesimothta" class="col-form-label label-font-size">
            Βρίσκεται σε διαθεσιμότητα
          </label>
        </div>
        <div class="col-1 left-align checkbox-flex-center">
          <input type="checkbox"  class="form-check-input custom-checkbox checkbox-class" id="diathesimothta" name="diathesimothta" <%= ergazomenoiData.diathesimothta ? 'checked' : '' %> value="" />
          <label for="diathesimothta" id="label-diathesimothta" style="margin-left: 0.75rem; font-size: 0.875vw;">
            ΟΧΙ
          </label>
        </div>

        <div class="col-3"></div>

        <div class="col-2 left-align">
          <label for="enarxh_diathesimothtas" class="col-form-label label-font-size">
            Ημ/νία Έναρξης Διαθ/τητας
          </label>
        </div>
        <div class="col-1-5">
          <input type="date" name="enarxh_diathesimothtas" id="enarxh_diathesimothtas" class="date-control" value="<%= ergazomenoiData.enarxh_diathesimothtas ? new Date(ergazomenoiData.enarxh_diathesimothtas).toISOString().split('T')[0] : '' %>" />
        </div>
      </div>

      <div class="row form-group g-3 align-items-center" style="background-color: #ffffff; margin-left: -1rem; margin-right: -1rem;">
        <div class="col-6"></div>

        <div class="col-2 left-align">
          <label for="lhxh_diathesimothtas" class="col-form-label label-font-size">
            Ημ/νία Λήξης Διαθεσ/τητας
          </label>
        </div>
        <div class="col-1-5">
          <input type="date" name="lhxh_diathesimothtas" id="lhxh_diathesimothtas" class="date-control" value="<%= ergazomenoiData.lhxh_diathesimothtas ? new Date(ergazomenoiData.lhxh_diathesimothtas).toISOString().split('T')[0] : '' %>" />
        </div>
      </div>

      <hr class="hr-style" />

    </div>
  </div>
</div>
