<div class="row form-group align-items-center mt-1" style="background-color: #ffffff; margin-left: -1rem; margin-right: -1rem;">
  <div class="row form-group align-items-center">
    <div class="col-2 text-left">
      <label for="epaggelmatikh_katartish"  class="col-form-label label-font-size field-required">
        Επαγγελματική Κατάρτιση
      </label>
    </div>
    <div class="col-1 left-align checkbox-flex-center" style="margin-top: -0.2rem !important;">
      <input type="checkbox" class="form-check-input custom-checkbox checkbox-class" id="epaggelmatikh_katartish" name="epaggelmatikh_katartish" <%= ergazomenoiData.epaggelmatikh_katartish ? 'checked' : '' %> value="" />
      <label for="epaggelmatikh_katartish" id="label-epaggelmatikh_katartish" style="margin-left: 0.75rem; font-size: 0.875vw;">
        ΟΧΙ
      </label>
    </div>
  </div>
</div>

<div class="row form-group align-items-center" style="background-color: #ffffff; margin-left: -1rem; margin-right: -1rem;">
  <div class="row form-group align-items-center">
    <div class="col-2 text-left">
      <label for="antikeimeno_katartishs"  class="col-form-label label-font-size">
        Αντικείμενο Κατάρτισης
      </label>
    </div>
    <div class="col-10">
      <input type="text" class="form-control input-contents" name="antikeimeno_katartishs" id="antikeimeno_katartishs" value="<%= ergazomenoiData.antikeimeno_katartishs %>" disabled>
      </input>
    </div>
  </div>
</div>

<div class="row form-group align-items-center" style="background-color: #ffffff; margin-left: -1rem; margin-right: -1rem;">
  <div class="row form-group align-items-center">
    <div class="col-2 text-left">
      <label for="thematiko_pedio"  class="col-form-label label-font-size">
        Θεματικό Πεδίο
      </label>
    </div>
    <div class="col-10">
      <select class="form-select selectpicker-dropdown-normal" data-live-search="true" name="thematiko_pedio" id="thematiko_pedio" data-selected="<%= ergazomenoiData.thematiko_pedio %>" disabled>
      </select>
    </div>
  </div>
</div>

<div class="row form-group align-items-center" style="background-color: #ffffff; margin-left: -1rem; margin-right: -1rem;">
  <div class="row form-group align-items-center">
    <div class="col-2 text-left">
      <label for="thematikh_enothta"  class="col-form-label label-font-size">
        Θεματική Ενότητα
      </label>
    </div>
    <div class="col-10">
      <select class="form-select selectpicker-dropdown-normal" data-live-search="true" name="thematikh_enothta" id="thematikh_enothta" data-selected="<%= ergazomenoiData.thematikh_enothta %>" disabled>
      </select>
    </div>
  </div>
</div>

<div class="row form-group align-items-center" style="background-color: #ffffff; margin-left: -1rem; margin-right: -1rem;">
  <div class="row form-group align-items-center">
    <div class="col-2 text-left">
      <label for="foreas_katartishs"  class="col-form-label label-font-size">
        Φορέας Κατάρτισης
      </label>
    </div>
    <div class="col-10">
      <select class="form-select selectpicker-dropdown-normal" data-live-search="true" name="foreas_katartishs" id="foreas_katartishs" data-selected="<%= ergazomenoiData.foreas_katartishs %>" disabled>
      </select>
    </div>
  </div>
</div>

<div class="row form-group align-items-center mb-1" style="background-color: #ffffff; margin-left: -1rem; margin-right: -1rem;">
  <div class="row form-group align-items-center">
    <div class="col-2 text-left">
      <label for="katartish_apo" class="col-form-label label-font-size">
        Διάρκεια Κατάρτισης &nbsp; &nbsp; Από
      </label>
    </div>
    <div class="col-1-5">
      <input type="date" class="date-control" name="katartish_apo" id="katartish_apo" value="<%= ergazomenoiData.katartish_apo ? new Date(ergazomenoiData.katartish_apo).toISOString().split('T')[0] : '' %>" disabled>
      </input>
    </div>

    <div class="col-5"></div>

    <div class="col-2 text-left">
      <label for="katartish_eos" class="col-form-label label-font-size">
        Έως
      </label>
    </div>
    <div class="col-1-5">
      <input type="date" class="date-control" name="katartish_eos" id="katartish_eos" value="<%= ergazomenoiData.katartish_eos ? new Date(ergazomenoiData.katartish_eos).toISOString().split('T')[0] : '' %>" disabled>
      </input>
    </div>
  </div>
</div>

<div class="row form-group align-items-center mb-1" style="background-color: #ffffff; margin-left: -1rem; margin-right: -1rem;">
  <div class="row form-group align-items-center">
    <div class="col-2 text-left">
      <label for="diarkeia_se_ores" class="col-form-label label-font-size">
        Ώρες Διάρκειας Κατάρτισης
      </label>
    </div>
    <div class="col-1-5">
      <input type="number" class="form-control input-contents" value="0" min="0" name="diarkeia_se_ores" id="diarkeia_se_ores" value="<%= ergazomenoiData.diarkeia_se_ores %>" disabled />
    </div>

    <div class="col-5"></div>

    <div class="col-2 text-left">
      <label for="etos_apokthshs" class="col-form-label label-font-size">
        Έτος Απόκτησης
      </label>
    </div>
    <div class="col-1-5">
      <input type="number" class="form-control input-contents" value="0" min="0"  name="etos_apokthshs" id="etos_apokthshs" value="<%= ergazomenoiData.etos_apokthshs %>" disabled />
    </div>
  </div>
</div>

<hr style="margin-bottom: -0.1rem;" />

<div class="row form-group align-items-center mt-2 mb-1" style="background-color: #ffffff; margin-left: -1rem; margin-right: -1rem;">
  <div class="row form-group align-items-center">
    <div class="col-2 text-left">
      <label for="allh_glossa_01"  class="col-form-label label-font-size">
        Ξένες Γλώσσες
      </label>
    </div>
    <div class="col-10">
      <select class="form-select selectpicker-dropdown-normal" data-live-search="true" name="allh_glossa_01" id="allh_glossa_01" data-selected="<%= ergazomenoiData.allh_glossa_01 %>">
      </select>
    </div>
  </div>
</div>

<div class="row form-group align-items-center mb-1" style="background-color: #ffffff; margin-left: -1rem; margin-right: -1rem;">
  <div class="row form-group align-items-center">
    <div class="col-2"></div>
    <div class="col-10">
      <select class="form-select selectpicker-dropdown-normal" data-live-search="true" name="allh_glossa_02" id="allh_glossa_02" data-selected="<%= ergazomenoiData.allh_glossa_02 %>">
      </select>
    </div>
  </div>
</div>

<div class="row form-group align-items-center mb-1" style="background-color: #ffffff; margin-left: -1rem; margin-right: -1rem;">
  <div class="row form-group align-items-center">
    <div class="col-2"></div>
    <div class="col-10">
      <select class="form-select selectpicker-dropdown-normal" data-live-search="true" name="allh_glossa_03" id="allh_glossa_03" data-selected="<%= ergazomenoiData.allh_glossa_03 %>">
      </select>
    </div>
  </div>
</div>

<div class="row form-group align-items-center mb-1" style="background-color: #ffffff; margin-left: -1rem; margin-right: -1rem;">
  <div class="row form-group align-items-center">
    <div class="col-2"></div>
    <div class="col-10">
      <select class="form-select selectpicker-dropdown-normal" data-live-search="true" name="allh_glossa_04" id="allh_glossa_04" data-selected="<%= ergazomenoiData.allh_glossa_04 %>">
      </select>
    </div>
  </div>
</div>

<hr style="margin-bottom: -0.1rem;" />

<div class="row form-group align-items-center mt-1" style="background-color: #ffffff; margin-left: -1rem; margin-right: -1rem;">
  <div class="row form-group align-items-center">
    <div class="col-2 text-left">
      <label for="gnosh_ypologiston"  class="col-form-label label-font-size">
        Γνώση Υπολογιστών
      </label>
    </div>
    <div class="col-1 left-align checkbox-flex-center" style="margin-top: -0.2rem !important;">
      <input type="checkbox" class="form-check-input custom-checkbox checkbox-class" id="gnosh_ypologiston" name="gnosh_ypologiston" <%= ergazomenoiData.gnosh_ypologiston ? 'checked' : '' %> value="" />
      <label for="gnosh_ypologiston" id="label-gnosh_ypologiston" style="margin-left: 0.75rem; font-size: 0.875vw;">
        ΟΧΙ
      </label>
    </div>

    <div class="col-3"></div>

      <div class="col-2 text-left">
      <label for="allo_proson"  class="col-form-label label-font-size">
        Αλλο Προσόν
      </label>
    </div>
    <div class="col-4">
      <input type="text" class="form-control input-contents" name="allo_proson" id="allo_proson" value=" <%= ergazomenoiData.allo_proson %>" />
    </div>
  </div>
</div>
