<div
    class="d-flex justify-content-between flex-wrap flex-md nowrap align-items-center pt-3 pb-2 mb-3 border-bottom bg-hero-cdn">
    </br>
</div>

<div class="container w-35">
    <form action="/dates/changeAppDate" method="POST">

        <%- include('../partials/_csrfField') %>

        <div class="card z-depth-5 mt-10">
            <div class="card-header">
                <label class="w-100 text-center"><h4>Αλλαγή Ημερομηνίας Εφαρμογής</h4></label>
            </div>
            <div class="card-body">
                <div class="row form-group g-3 align-items-center mt-2 mb-5">
                    <div class="col-6 right-align">
                        <label
                            for="appHmeromhnia"
                            class="col-form-label label-font-size">Ημερομηνία Εφαρμογής
                        </label>
                    </div>

                    <div class="col-4">
                        <input
                            type="date"
                            name="appHmeromhnia"
                            id="appHmeromhnia"
                            class="date-control"
                            value=""
                            required
                        />
                    </div>
                </div>
            </div>

            <div class="card-footer cardFooter">
                <div class="d-inline-block d-flex cardFooter01">
                
                    <button type="submit" class="btn btn-brown rounded-4 w-35 mb-1 mt-2"><i class="bi bi-box-arrow-in-right"></i> Ενημέρωση</button>
                    <a class="btn btn-brown rounded-4 w-35 mb-1 mt-2" href="/mainapp"><i class="bi bi-chevron-double-left"></i> Επιστροφή</a>
                </div>
            </div>
        </div>
    </form>
</div>

<% const isProduction = NODE_ENV === 'production'; %>
<script nonce="<%= nonce %>">
    window.RUNTIME_ENV = "<%= NODE_ENV %>";
</script>

<!-- <script src="<%= script('common/logger') %>"></script>
<script src="<%= script('common/getCompanyDescription') %>"></script>
<script src="<%= script('common/getXrhsh') %>"></script>
<script src="<%= script('common/getPeriod') %>"></script> -->
<!-- <script src="<%= script('common/getAppDate') %>"></script> -->
<!-- <script src="<%= script('common/getUser') %>"></script> -->
